<table border="0" cellspacing="0" cellpadding="0" frame="void" id="header" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
  <tbody style="margin:0; padding:0; border:0;">
    <tr>
      <td align="left" style="margin:0; border:0 none;" valign="top">
        <div style="background-color: #222222; padding: 20px;">
          <img class="edit" src="http://catarse.me/images/sites/multidao/logo.png" style="border:0 none; display:block;" alt="Título - Título -  Você deve habilitar imagens para visualizar corretamente essa mensagem.">
        </div>
      </td>
    </tr>
  </tbody>
</table>
