#pre_header Quer saber como apoiar um projeto? #{link_to 'Confira aqui', 'http://blog.multidao.art.br/post/4716517460/como-apoiar-projetos-na-multidao', :target => :_blank} um passo-a-passo que publicamos no nosso blog.
