#project_warning style="margin-bottom: 16px" Quer aumentar a chance de seu projeto ser selecionado? Não deixe de ler #{link_to 'nosso guia', 'http://blog.multidao.art.br/post/4716566355/guia-colocar-projeto-multidao', :target => :_blank}.
