| Olá
- if @resource.name
  | , #{@resource.name}!
br
br
| Esqueceu sua senha? Sem problemas! Redefina clicando aqui em 
= link_to('definir nova senha', edit_password_url(@resource, reset_password_token: @token))
br
| Se algum problema acontecer, responda a esta mensagem diretamente ou fale conosco através do e-mail #{mail_to ::CatarseSettings[:email_contact]} 
br
br
| Abraços,
br
= CatarseSettings[:company_name]
