@import miv/buttons
@import icomoon
// Channels Styles/Classes that will be reused
body[data-namespace="channels"]
  background: $body_background
  #header
    margin: 0 auto
    .search, .menu > a:first-child
      visibility: hidden
  #locales, #footer, #logos
    display: none !important
  .container
    border: none !important
    border-radius: 0 !important
  #page_content
    padding: 2.8em 0
  #page_content.presentation
    background: white
    .container
      margin-bottom: .2em
  #page_content.presentation, #page_content.projects
    border-top: 1px solid lighten(lightgray, 10%)
    .container
      background: none

  h1, h2, h3, h4, h5
    font-weight: bold
  h1
    font-size: 2em
    font-weight: bold
  #page_content.projects
    background: $body_background

