// The stylesheet for the channels/profile.html page
body[data-namespace="channels"][data-controller="profiles"]
  .hidden
    display: none
  iframe
    width: 100%
    height: auto !important
    min-height: 310px !important
  .video 
    +alpha
    +grid(9)
  .about
    +grid(7)
    +omega
    p.description
      margin: .8em 0



  #page_content.projects
    overflow: hidden
    .padding
      padding: .8em
    .channel
      +grid(4)
      +alpha
      background: white
    
    .project
      &:hover 
        .show 
          display: none
        .mouse_over
          display: block
 
    .project
      +grid(4)
      +transition(all .4s)
      background: white
      height: 350px
      border: 1px solid lightgray 
      box-shadow: 0 0 2px $project_box_shadow 
      +transition(all .2s)
      // For every 3 blocks of projects, remove the right margin
      // Use this instead of adding a class for the element/3
      // or using in_group_of helper
      &:nth-child(3n+0)
        +omega

      // Children of .project
      a 
        color: black
        text-decoration: none !important
      .image
        opacity: 1
        &:hover
          opacity: .8

      .title
        margin: .4em 0 
        line-height: 1.2em
        height: 35px
        a
          &:hover
            color: $project_box_title
      .padding
        padding-top: .2em
      .headline
        font-size: .8em
        margin: .8em 0 .4em 0
        line-height: 1.4em
        height: 70px
        a
          color: darken($project_box_headline, 5%)
      .status
        bottom: 0
        border-top: 1px solid lighten(lightgray, 10%)
        background: $project_box_status
        overflow: hidden
     
      .progress_percent
        font-size: .6em
        text-transform: uppercase
        vertical-align: middle
        span
          font-weight: bold
          font-size: 2em !important
          padding-right: .2em
          line-height: 2em
          position: relative
          top: .2em
      .progress_bar
        #progress_wrapper, #progress
          height: .5em
          background: $project_box_progress_gray 
          border-radius: 6px
          box-shadow: inset 0 0 4px lighten(gray, 15%)
        #progress
          background: $project_box_progress
          //+background-image(linear-gradient(lighten($project_box_progress, 30%) -2%, $project_box_progress 100%))
      .time_remaining, .money_raised
        float: left
        padding: 1.4em 0
        padding-bottom: 1.8em
        text-transform: uppercase
        font-size: .6em
        text-align: center
        span
          display: block
          font-weight: bold
          font-size: 2em !important
          text-transform: none
      .money_raised
        float: right
