// The stylesheet for the channels/profile.html page
body[data-namespace="channels"][data-controller="profiles"]
  h1
    font-weight: 700
    font-size: 2em
    font-style: italic
    margin: .4em 0
  h2
    margin: .2em 0
  .channel_image
    +alpha
    +grid(6)
    margin-top: -2.2em
    margin-bottom: 1em
    img
      border: 1px solid $border 
      margin-left: 1em
  .navigation
    +grid(10)
    +omega
    nav a
      padding: 2em
      display: inline-block
      margin-left: 2em
      font-size: .8em
      text-decoration: none
      line-height: 1.4em
      +transition(.2s)
      &:hover
        opacity: .8
        
    nav a strong
      font-size: 1.55em
      display: block
  .call_to_action
    +transition(opacity 2s)
    opacity: 0
    margin: 2em 0
    width: 100%
    overflow: hidden
    height: 350px
    color: white
    .head
      +grid(6)
      +alpha
      margin-left: 1.5em
      padding: .8em
      text-shadow: 0 1px 0 #333
      +border-bottom-right-radius(100px 50px)
    .description
      padding-bottom: 1em
    .video
      iframe
        +omega
        +grid-prefix(1)
        +grid(8)
        height: 300px !important
        margin-top: 1.2em


  // Projets
  .projects 
    +grid(12)
    +alpha
    .project
      margin-bottom: 1.8em
    .image_and_stats
      float: left
      margin: 0 .8em .6em 0
      border: 1px solid #000
    .title
      font-size: 1.4em
      font-weight: 700
    .author
      font-size: .8em
    .description
      font-size: .9em
    a.make_it_happen
      display: inline-block
      border: 1px solid #000
      padding: .6em 1em
      margin-top: .4em
      width: 35% !important
      font-size: .8em
      line-height: 1.1em
      text-decoration: none
      text-align: center
      +border-radius(4px)
      strong
        font-size: 1.4em !important
        display: block

    // Stats
    .stats
      .counter
        border: 1px solid #000
        height: 30px
        width: 45%
        float: left
      .current
        background-color: green
        height: 100% !important
      .left, .backers
        width: 24%
        margin: 0 .4em
        font-size: .8em
        display: inline-block
        line-height: 1.2em
        strong
          font-size: 2.6em !important
          float: left 
          line-height: .9em


  // Sidebar
  .channel_sidebar
    +grid(4)
    +omega
    .block
      border: 1px solid lightgray
      margin: 1em 0
      padding: .8em
      h4
        font-weight: 700
        font-size: 1.3em
        line-height: .8em
      span
        font-size: .8em
        padding-bottom: 1em
    .subscribers li 
      display: inline-block
      margin: .4em .3em 0 0
      img
        +border-radius(60px)
