= form.input :online_days,
  type: 'number',
  wrapper: :two_columns_with_postfix,
  wrapper_class: 'w-row u-marginbottom-30 card card-terciary medium',
  label_wrapper_html: { class: 'w-col w-col-5 w-subcol' },
  text_field_wrapper_html: { class: 'w-col w-col-7' },
  input_html: { class: 'prefix positive medium', required: false },
  field_wrapper_html: { class: 'w-col w-col-8 w-col-small-6 w-col-tiny-6' },
  validation_text: false,
  append_text_wrapper_html: { class: 'w-col w-col-4 w-col-small-6 w-col-tiny-6 text-field postfix no-hover medium prefix-permalink' },
  append_input_text: 'Dias',
  append_input_text_wrapper_html: { class: 'fontsize-base lineheight-tightest' }
