= render "#{@project.mode}_preview_explanation"
.divider
#project-show-root[data-mithril="ProjectsShow" data-parameters={project_id: @project.id, project_user_id: @project.user_id}.to_json data-stats=@project.to_analytics_json]

