- content_for :title, t('site.title')
/ = render 'shared/header_big', overlayer: true

#project-index-root[data-mithril="ProjectsHome" data-currentuserid=current_user.try(:id) data-hasfb="#{current_user.try(:has_fb_auth?)}"]

= javascript_include_tag 'api/application'

/ section#blog.section-large.bg-gray.before-footer
/   .w-container
/     .u-text-center
/       = link_to CatarseSettings[:blog_url], target: :blank do
/         = image_tag "icon-blog.png", class: "u-marginbottom-10"
/       .fontsize-large.u-marginbottom-60.text-success
/         = link_to t('.blog'), CatarseSettings[:blog_url], target: '__blank', class: 'link-hidden-success'
/     .w-row
/       - (Blog.fetch_last_posts rescue [])[0..2].each do |post|
/         .w-col.w-col-4.col-blog-post
/           = link_to post.url, target: '__blank', class: 'link-hidden fontweight-semibold fontsize-base u-marginbottom-10' do
/             /span.fontweight-semibold.fontsize-base.u-marginbottom-10
/             = truncate(post.title, length: 80)
/           .fontsize-smaller.fontcolor-secondary.u-margintop-10
/             /= link_to post.url, target: '__blank', class: 'fontsize-smaller fontcolor-secondary ' do
/             /span.fontsize-smaller.fontcolor-secondary
/           = truncate(post.summary, length: 130).html_safe
/ 
/ 
/ = render 'shared/footer_big'
