- content_for :title, "#{@project.name} · #{CatarseSettings[:company_name]}"

= render 'shared/header'

#project-insights-root.min-height-70[data-mithril="Insights" data-id=@project.id]

- content_for :application_js do
  = javascript_include_tag "api/application"

= render 'shared/footer'


