$purple: #2E172B
$gray-one: #F8F8F8
$gray-two: #F1F2F3


.footer
  background: $purple
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  padding: 3em 0 1.8em
  hr
    border: none
    border-top: 1px solid rgba(255, 255, 255, 0.1)
    margin: 1em 0 1em 0.6em
    width: 100%

.footer-div
  display: inline-block
  vertical-align: top
  // From this point on this class when we migrate the site to use grid
  width: 24.5%
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 0 1.25em 0 0

.footer-title
  color: #fff
  padding: 0 0 1.25em
  font-size: 0.8em
  font-weight: bold

.footer-list
  li
    margin: 0 0 1.5em
  a
    text-decoration: none
    color: rgba(255, 255, 255, 0.5)
    font-size: 0.8em
    &:hover
      text-decoration: underline

.twitter-box
  margin: 0 0 1.25em

.copyleft
  color: rgba(255, 255, 255, 0.5)
  line-height: 35px
  font-size: 0.8em

.github
  background: url("/assets/catarse_bootstrap/catarse-assets.png") repeat scroll -152px -125px transparent
  display: inline-block
  height: 28px
  text-indent: -9999px
  width: 35px

// From this point to be deleted when we migrate the site to use grid
.row
  width: 960px
  margin: 0 auto

