$recommended_header_height: 258px
#recommended_header
  width: 980px
  margin: 15px auto 40px
  display: block
  clear: both
  +box-shadow(rgba(black, 0.2) 1px 1px 2px)
  +border-radius(4px)
  .resume_about
    float: left
    height: 258px
    width: 260px
    +border-radius(4px 0 0 4px)
    .bootstrap-form
      margin: -100px 0 0 0
      .bootstrap-twitter
        position: relative
        float: left
        .button
          float: left
          padding-top: 0px
          width: 214px
          height: 56px
          background: #EE5192 url($images_path+'bot_guidelines.gif') 10px 10px no-repeat
          border: solid 1px #FF589F
          text-transform: uppercase
          color: white
          text-indent: 20px
          text-shadow: 1px 1px #BC2E6E
          font-family: "Lato"
          font-weight: 700
          font-size: 15px
          margin-left: 24px
          +border-radius(15px)
          span
            color: white
            font-family: Lato
            font-style: italic
            font-size: 14px
            font-weight: normal
            left: 62px
            position: absolute
            text-shadow: 1px 1px #BC2E6E
            text-transform: none
            top: 30px
          a
            color: white
            display: block
            font-family: Lato
            font-size: 15px
            margin-left: 36px
            margin-top: 12px
            text-decoration: none
            text-transform: uppercase
            &:hover
              color: white
  .project_info
    width: 720px
    height: $recommended_header_height
    float: left
    .video_sample
      width: 461px
      float: left
    .info, .institutional
      float: left
      width: 239px
      padding: 13px 0 0 20px
      height: 245px
      background: $ultra_gryn
      +border-radius(0 4px 4px 0)
    .institutional
      h3
        font-family: "Lato"
        font-size: 18px
        color: $pink
        background: url($images_path+"institutional_video_icon16x16.png") left top no-repeat
        text-indent: 25px
        padding-bottom: 25px
      p
        width: 200px
        font-family: Arial
        font-size: 13px
        color: white
        line-height: 159%
    .info
      h3
        font-family: "Lato"
        font-size: 18px
        color: $pink
        background: url($images_path+"min_star12x11.png") left 5px no-repeat
        text-indent: 18px
        float: left
        clear: both
        padding-bottom: 10px
      h2
        clear: both
        font-family: "Lato"
        font-weight: 700
        font-size: 14px
        padding-bottom: 8px
        a
          color: white
          text-decoration: none
          +text-shadow(rgba(black, 0.7) 1px 1px 2px)
          +transition(all, 0.5s)
          &:hover
            +text-shadow(rgba($pink, 1) 1px 1px 2px)
      .description
        height: 60px
        overflow: hidden
      .author, .description
        padding: 4px 0 10px 0
        p
          font-family: Arial
          font-size: 11px
          color: $gryn_almost_ccc
          a
            color: $gryn_almost_ccc
            text-decoration: none
            &:hover
              color: $green
      .description
        width: 200px
        p
          font-size: 13px
          line-height: 120%
  .statistics
    .progress
      margin-bottom: 10px
      width: 205px
      height: 12px
      background: white
      +border-radius(5px)
      display: block
      border: 1px $gryn_almost_ccc solid
      .bar
        +border-radius(3px)
        height: 12px
        background: $green
    ul
      li
        float: left
        margin-right: 10px
        color: white
        strong
          font-family: "Lato"
          font-weight: 700
          font-size: 12px
        p
          font-family: Arial
          font-size: 10px
          text-transform: uppercase
        &:last-child, .last
          margin-right: 0
  nav.pagination

    font-family: Arial
    font-size: 12px
    font-weight: bold
    float: left
    width: 100%
    margin-top: 70px
    padding-top: 15px
    border-top: 1px rgba(white, 0.1) solid
    a
      color: white
      text-decoration: none
      &.prev
        float: left
      &.next
        margin-right: 15px
        float: right
      &:hover
        color: $green
