javascript:
  window.optimizeObserver = {
    optimizeVariantName : null,
    observers : [],
    addListener : function(listener) {
      this.observers.push(listener);
      if (this.optimizeVariantName && listener) {
        listener(this.optimizeVariantName);
      }
    },
    setVariant : function(variantName) {
      this.optimizeVariantName = variantName;
      this.observers.forEach(function(func) {
        if (func) func(variantName);
      });
    }
  };
- if Rails.env.production? || Rails.env.sandbox? || CatarseSettings['google_analytics_id'].present?
  <style>.async-hide { opacity: 0 !important}</style>
  javascript:
    (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'#{CatarseSettings['google_optimize_id']}':true});

  - if CatarseSettings['google_analytics_id'].present?
    <script async src="https://www.googletagmanager.com/gtag/js?id=#{CatarseSettings['google_analytics_id']}"></script>
    javascript:
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{CatarseSettings['google_analytics_id']}');

      window.trackingFunctions = window.trackingFunctions || {};

      window.trackingFunctions['GA'] = function(google_analytics_id) {
          var analyticsId = 'G-' + google_analytics_id;
          gtag('config', analyticsId);
          gtag('event', 'pageview', {
            'send_to': analyticsId,
            'event_category': 'navigation',
            'event_label': location.pathname
          });
      };
