- if CatarseSettings['elevio_id'].present?
  javascript:
    var _elev = window._elev || {};(function() {var i,e;i=document.createElement("script"),i.type='text/javascript';i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
    _elev.account_id = '#{CatarseSettings['elevio_id']}';
