- if Rails.env.production? || Rails.env.sandbox?
  javascript:
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');

    window.trackingFunctions = window.trackingFunctions || {};

    window.trackingFunctions.PIXEL = function(facebook_pixel_id, eventArray) {
      fbq('init', facebook_pixel_id);
      fbq('track', 'PageView');

      var acceptedPixelEvents = ['ViewContent', 'AddToCart', 'Purchase', 'Subscribe'];

      for (var eventIndex = 0; eventIndex < eventArray.length; eventIndex++) {
        var eventObject = eventArray[eventIndex];
        var event = eventObject.event;

        if (acceptedPixelEvents.includes(event)) {
          var params = eventObject.params;

          if (event && params) {
            fbq('track', event, params);
          } else if (event) {
            fbq('track', event);
          }
        }
      }
    };

  - if CatarseSettings[:facebook_pixel_id].present?
    javascript:
      fbq('init', '#{CatarseSettings[:facebook_pixel_id]}');
      fbq('track', 'PageView');

  - if CatarseSettings[:facebook_pixel_id].present?
    noscript
      img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=#{CatarseSettings[:facebook_pixel_id]}&ev=PageView&noscript=1"