script(async src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js" type="text/javascript")
style media="screen, projection" type="text/css"
  | @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
javascript:
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "#{CatarseSettings[:zendesk_dropbox_id]}",
      url:         "#{CatarseSettings[:zendesk_url]}",
      tabTooltip:  "Suporte",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_pt_support.png",
      tabColor:    "black",
      hide_tab:    "true",
      requester_name: "#{current_user ? current_user.name : ''}",
      requester_email: "#{current_user ? current_user.email : ''}",
      tabPosition: "Left"
    });
  }
