- if Rails.env.production? && CatarseSettings['optinmonster_id'].present?
  #om-om56f1a1fa870e6-holder
  javascript:
    var om56f1a1fa870e6,om56f1a1fa870e6_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){om56f1a1fa870e6_poll(function(){if(window['om_loaded']){if(!om56f1a1fa870e6){om56f1a1fa870e6=new OptinMonsterApp();return om56f1a1fa870e6.init({"s":"#{CatarseSettings['optinmonster_id']}","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;om56f1a1fa870e6=new OptinMonsterApp();om56f1a1fa870e6.init({"s":"#{CatarseSettings['optinmonster_id']}","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");
