.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
db/seeds/my-seeds-local.rb
db/seeds/my-seeds-heroku.rb
db/development_structure.sql
# Vim
*.swp
*.dump
coverage
*.tmproj
.DS_Store
public/uploads/*chromedriver.log
public/uploads/
chromedriver.log
.use_capybara_webkit
config/locales/.wti
npm-debug.log
db/structure.sql
.sass-cache
Cookbooks
.vagrant
.project
.secret.rvmrc
.rvmrc
config/deploy/
vendor/assets/components
node_modules/
.rbenv-gemsets
.tern-port
*.env
public/sitemap.xml.gz
config/secrets.yml
package-lock.json

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
