.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
db/development_structure.sql
# Vim
*.swp
coverage
*.tmproj
.DS_Store
public/uploads/*chromedriver.log
public/uploads/
chromedriver.log
.use_capybara_webkit
