.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
db/seeds/my-seeds-local.rb
db/seeds/my-seeds-heroku.rb
db/development_structure.sql
# Vim
*.swp
*.dump
coverage
*.tmproj
.DS_Store
public/uploads/*chromedriver.log
public/uploads/
chromedriver.log
.use_capybara_webkit
config/locales/.wti
npm-debug.log
db/structure.sql
.sass-cache
Cookbooks
.vagrant
.project
.secret.rvmrc
.rvmrc
config/deploy/
vendor/assets/components
node_modules/
.rbenv-gemsets
