/*
Syntax error: Undefined variable: "$grafiti".
        on line 2 of /users/danielweinmann/Projects/catarse/app/stylesheets/content/header.sass

1: #top
2:   background-color: $grafiti
3:   padding: 15px 0
4:   width: 100%
5:   color: white
6: 
7:   menu

Backtrace:
/users/danielweinmann/Projects/catarse/app/stylesheets/content/header.sass:2
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/script/variable.rb:50:in `_perform'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/script/node.rb:40:in `perform'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:235:in `visit_rule'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lint.rb:48:in `_call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lint.rb:36:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/showexceptions.rb:24:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/commonlogger.rb:18:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/chunked.rb:15:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/content_length.rb:13:in `call'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:528:in `process_client'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:600:in `worker_loop'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:485:in `spawn_missing_workers'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:135:in `start'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/bin/unicorn:121:in `<top (required)>'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/bin/unicorn:19:in `load'
/Users/danielweinmann/.rvm/gems/ruby-1.9.2-p290@catarse/bin/unicorn:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$grafiti\".\A         on line 2 of /users/danielweinmann/Projects/catarse/app/stylesheets/content/header.sass\A \A 1: #top\A 2:   background-color: $grafiti\A 3:   padding: 15px 0\A 4:   width: 100%\A 5:   color: white\A 6: \A 7:   menu"; }
