<div id="fb-root"></div><script src="http://connect.facebook.net/pt_BR/all.js#appId=212872375401915&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/Catarse.me" layout="button_count" send="true" width="180" show_faces="true" font="arial"></fb:like>
