<table border="0" cellspacing="0" cellpadding="0" frame="void" id="header" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
  <tbody style="margin:0; padding:0; border:0;">
    <tr>
      <td align="left" style="margin:0; border:0 none;" valign="top">
        <img class="edit" width="600" src="http://catarse.me/images/email_header.png" style="border:0 none; display:block;" alt="Título - Título -  Você deve habilitar imagens para visualizar corretamente essa mensagem.">
      </td>
    </tr>
  </tbody>
</table>
