#pre_header Quer saber como apoiar um projeto? #{link_to 'Confira aqui', 'http://blog.catarse.me/post/2826297563/passo-a-passo-apoiar-projetos', :target => :_blank} um passo-a-passo que publicamos no nosso blog.
