#promo_video
  %iframe{:src => "http://player.vimeo.com/video/22585599?title=0&amp;byline=0&amp;portrait=0&amp;color=008800", :width => "620", :height => "350"}
  #promo_title
    =t('.title').html_safe
  .clear

