#project_warning style="margin-bottom: 16px" Quer aumentar a chance de seu projeto ser selecionado? Não deixe de ler #{link_to 'nosso guia', 'http://blog.catarse.me/post/2816685141/guia-colocar-projeto-catarse', :target => :_blank}.
