- content_for :title, "Saldo"
- content_for :application_js do
  = javascript_include_tag 'api/application' 

= render 'shared/header_big'

#user-balance-root data-mithril="Balance" data-parameters={'user_id': resource.id}.to_json

= render 'shared/footer'

