/* IE Fonts */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.eot");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.eot");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.eot");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.eot");
}

/* TTF fonts for CSS3 */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.TTF");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.TTF");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.TTF");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.ttf");
}
