.save-project-card-wrapper {
	-webkit-box-align: stretch;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	align-items: stretch;
	box-sizing: border-box;
	color: #3f4752;
	display: flex;
	flex-direction: column;
	font-family: proxima-nova, sans-serif;
	font-size: 14px;
	height: 82px;
	justify-content: center;
	line-height: 20px;
	padding-left: 13px;
	padding-right: 13px;
}
