#project_warning style="margin-bottom: 16px"
  = t('.content_html', :link => link_to(t('.help_link'), 'http://blog.multidao.art.br/post/4716566355/guia-colocar-projeto-multidao', :target => :_blank))

