#thank_you
  margin: 30px 20px
  text-align: center
  img#project_image
    float: left
    width: 128px
    +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
    margin-right: 20px
  h1
    text-align: left
    font-family: "museo-500" !important
    float: left
    width: 680px
    line-height: 32px
    padding-top: 4px !important
    color: #222 !important
  h2
    color: #222 !important
    margin-top: 20px
  a
    text-decoration: none
  a img
    width: 116px
    +transition(all,0.3s)
    &:hover
      +scale(1.1)
  #how_it_works
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 18px
    margin-top: 40px
