/* line 1, ../../../../app/stylesheets/redesign/miv/table.scss */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../../../../app/stylesheets/redesign/miv/table.scss */
.table {
  width: 100%;
  margin-bottom: 18px;
}

/* line 10, ../../../../app/stylesheets/redesign/miv/table.scss */
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/* line 17, ../../../../app/stylesheets/redesign/miv/table.scss */
.table th {
  font-weight: bold;
}

/* line 20, ../../../../app/stylesheets/redesign/miv/table.scss */
.table thead th {
  vertical-align: bottom;
}

/* line 23, ../../../../app/stylesheets/redesign/miv/table.scss */
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}

/* line 26, ../../../../app/stylesheets/redesign/miv/table.scss */
.table tbody + tbody {
  border-top: 2px solid #ddd;
}

/* line 29, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}

/* line 32, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 43, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}

/* line 46, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

/* line 49, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}

/* line 54, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

/* line 59, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}

/* line 64, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 69, ../../../../app/stylesheets/redesign/miv/table.scss */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 72, ../../../../app/stylesheets/redesign/miv/table.scss */
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5;
}

/* line 75, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

/* line 80, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

/* line 85, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

/* line 90, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

/* line 95, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

/* line 100, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

/* line 105, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

/* line 110, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

/* line 115, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

/* line 120, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

/* line 125, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

/* line 130, ../../../../app/stylesheets/redesign/miv/table.scss */
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
