
/* Colors variables */

$color-border-shadow: #aeb4b9 !global;
$color-backdrop: #000000 !global;
$color-overlay: #ffffff !global;
$color-divider: #e1e3e5 !global;
$color-transparent: #ffffff !global;
$color-background-default: #f1f4f4 !global;
$color-background-hovered: #f1f4f4 !global;
$color-background-pressed: #f1f4f4 !global;
$color-background-selected: #f1f4f4 !global;
$color-surface-base-disabled: #dddddd !global;
$color-surface-base-default: #ffffff !global;
$color-surface-base-subdued: #fafbfb !global;
$color-surface-base-hovered: #f6f6f7 !global;
$color-surface-base-pressed: #f1f2f3 !global;
$color-surface-base-depressed: #edeeef !global;
$color-surface-selected-default: #f2f7fe !global;
$color-surface-selected-hovered: #edf4fe !global;
$color-surface-selected-pressed: #e5effd !global;
$color-surface-warning-default: #ffd79d !global;
$color-surface-warning-subdued: #fff5ea !global;
$color-surface-warning-subdued-hovered: #fff2e2 !global;
$color-surface-warning-subdued-pressed: #ffebd3 !global;
$color-surface-critical-default: #fed3d1 !global;
$color-surface-critical-subdued: #fff4f4 !global;
$color-surface-critical-subdued-hovered: #fff0f0 !global;
$color-surface-critical-subdued-pressed: #ffe9e8 !global;
$color-surface-critical-subdued-depressed: #febcb9 !global;
$color-surface-success-default: #aee9d1 !global;
$color-surface-success-subdued: #f1f8f5 !global;
$color-surface-success-subdued-hovered: #ecf6f1 !global;
$color-surface-success-subdued-pressed: #e2f1ea !global;
$color-surface-highlight-default: #a4e8f2 !global;
$color-surface-highlight-subdued: #ebf9fc !global;
$color-surface-highlight-subdued-hovered: #e4f7fa !global;
$color-surface-highlight-subdued-pressed: #d5f3f8 !global;
$color-surface-neutral-default: #e4e5e7 !global;
$color-surface-neutral-subdued: #f6f6f7 !global;
$color-surface-neutral-hovered: #dbdddf !global;
$color-surface-neutral-pressed: #c9ccd0 !global;
$color-surface-neutral-disabled: #f1f2f3 !global;
$color-surface-primary-selected: #f1f8f5 !global;
$color-surface-primary-selected-hovered: #b3d0c3 !global;
$color-surface-primary-selected-pressed: #a2bcb0 !global;
$color-text-default: #3f4752 !global;
$color-text-subdued: #707782 !global;
$color-text-disabled: #caccce !global;
$color-text-critical: #ca4b4e !global;
$color-text-warning: #ae6300 !global;
$color-text-success: #418600 !global;
$color-text-highlight: #2196f3 !global;
$color-text-on-interactive: #ffffff !global;
$color-text-on-primary: #ffffff !global;
$color-text-on-critical: #ffffff !global;
$color-icon-default: #5C5F62 !global;
$color-icon-subdued: #5C5F62 !global;
$color-icon-hovered: #5C5F62 !global;
$color-icon-pressed: #5C5F62 !global;
$color-icon-disabled: #5C5F62 !global;
$color-icon-critical: #ca4b4e !global;
$color-icon-warning: #ae6300 !global;
$color-icon-success: #3b873e !global;
$color-icon-highlight: #2196f3 !global;
$color-icon-on-interactive: #ffffff !global;
$color-icon-on-primary: #ffffff !global;
$color-icon-on-critical: #ffffff !global;
$color-interactive-default: #317aaf !global;
$color-interactive-hovered: #27628c !global;
$color-interactive-pressed: #1f4e70 !global;
$color-interactive-disabled: #caccce !global;
$color-interactive-critical: #ca4b4e !global;
$color-interactive-critical-hovered: #e31b0c !global;
$color-interactive-critical-disabled: #e86666 !global;
$color-interactive-critical-pressed: #f44336 !global;
$color-border-base-disabled: #000000 !global;
$color-border-base-default: #dddddd !global;
$color-border-base-subdued: #000000 !global;
$color-border-base-hovered: #000000 !global;
$color-border-base-depressed: #000000 !global;
$color-border-base-dark: #a5abb2 !global;
$color-border-critical-default: #ca4b4e !global;
$color-border-critical-subdued: #f44336 !global;
$color-border-critical-disabled: #f44336 !global;
$color-border-warning-default: #ae6300 !global;
$color-border-warning-subdued: #e1b878 !global;
$color-border-success-default: #4caf50 !global;
$color-border-success-subdued: #4CAF504D !global;
$color-border-highlight-default: #2196f3 !global;
$color-border-highlight-subdued: #2196f3 !global;
$color-border-neutral-subdued: #babfc3 !global;
$color-focused-default: #458fff !global;
$color-action-primary-default: #418600 !global;
$color-action-primary-hovered: #346b00 !global;
$color-action-primary-pressed: #2a5600 !global;
$color-action-primary-depressed: #214500 !global;
$color-action-primary-disabled: #f1f1f1 !global;
$color-action-secondary-default: #3f4752 !global;
$color-action-secondary-hovered: #2f343a !global;
$color-action-secondary-pressed: #1f2225 !global;
$color-action-secondary-depressed: #6d7175 !global;
$color-action-secondary-disabled: #f1f1f1 !global;
$color-action-critical-default: #ca4b4e !global;
$color-action-critical-hovered: #a23c3e !global;
$color-action-critical-pressed: #813032 !global;
$color-action-critical-depressed: #672628 !global;
$color-action-critical-disabled: #f1f1f1 !global;
$color-border-shadow-subdued: #babfc4 !global;
$color-shadow-from-dim-light: #000000 !global;
$color-shadow-from-ambient-light: #171818 !global;
$color-shadow-from-direct-light: #000000 !global;
$color-hint-from-direct-light: #000000 !global;
