/*
Syntax error: Undefined mixin 'grid-container'.
        on line 2 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass, in `grid-container'
        from line 2 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass

1: #header
2:   +grid-container
3:   +grid-system(16)
4:   padding: 17px 10px 0 10px
5:   margin: 0 auto
6:   display: block
7:   .logo

Backtrace:
/Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass:2:in `grid-container'
/Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass:2
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:247:in `block in render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/util.rb:310:in `silence_sass_warnings'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:247:in `render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'grid-container'.\A         on line 2 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass, in `grid-container'\A         from line 2 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/header.sass\A \A 1: #header\A 2:   +grid-container\A 3:   +grid-system(16)\A 4:   padding: 17px 10px 0 10px\A 5:   margin: 0 auto\A 6:   display: block\A 7:   .logo"; }
