/*
Syntax error: Undefined variable: "$df_gryn".
        on line 10 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/sessions.sass

5:       padding-bottom: 30px
6:       &.actived
7:         padding-top: 17px !important
8:         .content_form
9:           float: left
10:           border: 3px $df_gryn solid
11:           padding: 20px 20px 0 20px
12:           background: rgba($ed_gryn, 0.4)
13:       h1
14:         font-family: Lato-Bold
15:         font-size: 20px

Backtrace:
/Users/ton/code/store/catarse/app/stylesheets/redesign/content/sessions.sass:10
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/variable.rb:49:in `_perform'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/node.rb:40:in `perform'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/list.rb:69:in `block in _perform'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/list.rb:69:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/list.rb:69:in `_perform'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/script/node.rb:40:in `perform'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:247:in `block in render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/util.rb:310:in `silence_sass_warnings'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/engine.rb:247:in `render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/content_length.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.5/lib/rack/handler/webrick.rb:52:in `service'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/ton/.rvm/rubies/ruby-1.9.2-p290/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$df_gryn\".\A         on line 10 of /Users/ton/code/store/catarse/app/stylesheets/redesign/content/sessions.sass\A \A 5:       padding-bottom: 30px\A 6:       &.actived\A 7:         padding-top: 17px !important\A 8:         .content_form\A 9:           float: left\A 10:           border: 3px $df_gryn solid\A 11:           padding: 20px 20px 0 20px\A 12:           background: rgba($ed_gryn, 0.4)\A 13:       h1\A 14:         font-family: Lato-Bold\A 15:         font-size: 20px"; }
