body[data-action="new_discover"][data-controller="static"]
  .projects_list
    h2
      font-family: Lato-Bold
      font-size: 1.8em
      color: black
      +opacity(0.8)
      span
        font-family: Arial
        font-size: 1.1em !important
        +opacity(0.6)
      &.selected
        background: url('/images/redesign/selected_list18x15.png') left top no-repeat
        padding-left: 22px