#footer
  width: 100%
  float: left
  background-color: $grafiti
  padding: 30px 0
  .footer_content
    +default_grid
    +clearfix
    .open_data
      +clearfix
      +grid(5)
      +grid-suffix(1)
      #comum
        margin-top: 35px
      h3
        +clearfix
        padding: 5px 0 5px 75px
        font-family: museo-500
        display: block
        color: $green
        background: url("/images/redesign/opendata_icon60x31.png") 3px top no-repeat
      ul
        display: block
        +clearfix
        padding-top: 30px
        li
          width: 100%
          float: left
          margin-bottom: 20px
          h5
            float: left
            font-family: museo-700
            font-size: 1.9em
            color: white
            +opacity(0.8)
            padding-right: 10px
          p
            padding-top: 3px
            float: left
            text-transform: uppercase
            font-family: Myriad Pro
            font-size: 1.4em
            color: white
            +opacity(0.5)
      a
        font-family: Arial
        font-size: 1.1em
        color: $green

    .footer_menu
      +grid(4)
      +clearfix
      display: block
      margin-top: 30px
      a
        +grid(4)
        +alpha
        display: block
        font-size: 1.9em
        font-family: "Lato-Bold"
        color: #ccc
        margin-top: 30px
        cursor: pointer

    .social_menu
      +grid(4)
      +omega
      +grid-prefix(2)
      +clearfix
      #engage
        margin-top: 110px
      ul
        margin-top: 50px
        li
          +grid(4)
          margin-bottom: 20px
          +transition(0.3, all)
          p
            +grid(3)
            display: block
            font-family: 'Lato-Bold', sans-serif
            font-size: 1.8em
            color: #ccc
            margin-top: 5px
            cursor: pointer
            &:hover
              +opacity(0.4)

          .social_img
            width: 32px
