#footer
  width: 100%
  float: left
  background-color: $ultra_gryn
  padding: 30px 0
  .footer_content
    +default_grid
    .open_data
      +grid(5)
      h3
        +clearfix
        padding: 5px 0 5px 75px
        font-family: museo-500
        display: block
        color: $green
        background: url("/images/redesign/opendata_icon60x31.png") 3px top no-repeat
      ul
        display: block
        +clearfix
        padding-top: 30px
        li
          width: 100%
          float: left
          margin-bottom: 20px
          h5
            float: left
            font-family: museo-700
            font-size: 1.9em
            color: white
            +opacity(0.8)
            padding-right: 10px
          p
            padding-top: 3px
            float: left
            text-transform: uppercase
            font-family: Myriad Pro
            font-size: 1.4em
            color: white
            +opacity(0.5)
      a
        font-family: Arial
        font-size: 1.1em
        color: $green