body[data-action="new_home"][data-controller="static"]
  .recent_projects
    +default_grid
    float: left
    margin-bottom: 30px

  .ending_projects
    +default_grid
    float: left
    margin-bottom: 30px