#page_content
  +default_grid
  padding-top: 40px
  position: relative

  .section_header
    +grid(16)
    +clearfix
    margin-bottom: 20px
    h1
      padding: 22px 0 10px 25px
      .profile
        padding: 0 0 10px 215px
    h4
      padding: 0 0 22px 25px
      .about
        padding: 0 30px 10px 215px

  .profile_share
    .profile_pic
      float: left
      position: absolute
      top: 65px
      left: 30px
      +box-shadow(black 2px 2px 8px)
  
  .my_links
    +grid(4)
    position: relative
    margin-top: 65px
    margin-bottom: 50px
    
    ul
      li
        margin-top: 5px
        .profile_info
          display: block
          font-family: "Lato", sans-serif
          font-size: 1.5em
          margin-top: 10px
          float: right
          color: $grafiti 
        .profile_icons
          float: left
          margin: 10px 0 0 24px

