#page_content
  +default_grid
  padding-top: 40px

  .section_header
    +grid(16)
    +clearfix
    margin-bottom: 20px
    h1
      padding: 22px 0 10px 25px
    h4
      padding: 0 0 22px 25px
  .slice_bar
    +grid(12)
    margin: 40px 0
  .sliced_link
    margin: 40px 0
    +grid(4)