body[data-action="show"][data-controller="projects"]
  #page_content
    +default_grid
    .section_header
      span
        font-family: 'Lato-Bold', sans-serif

    #project_content
      .content
        display: none
    .midia
      +grid(11)
      .video
        iframe
          +border-radius(10px 10px 0 0)
      .video
      .social
        vertical-align: middle
        padding: 20px 0
        margin: 8px 0

        input
          +border-radius(3px)
          border: 1px solid #999

        #embeed_button
          +grid(3)
          +alpha
          +border-radius(2px)
          +linear-gradient(color-stops(white, #ccc))
          margin-top: 1px
          padding: 4px 6px
          width: 55px
          border: 1px solid #ccc
          cursor: pointer
          &:hover
            border: 1px solid #666
          #button
            margin-top: 1px
          p
            font-family: 'Lato-Bold', sans-serif
            font-size: 1em
            color: #808080
            float: right
            text-transform: uppercase


      .tabs
        padding: 20px 0
        margin: 8px 0
        background-color: #999
        background-color: rgba(153,153,153, 0.8)
        +border-radius (5px)
        nav
          margin-left: 10px
          a
            +transition(all, 0.3s)
            +border-radius(4px)
            color: white
            cursor: pointer
            font-size: 1.2em
            font-family: "Lato-Bold", sans-serif
            text-transform: uppercase
            padding: 3px 15px 0 0
            background-color: rgba($gryn,0.3)
            padding: 5px 10px
            margin-right: 8px
            margin-top: 10px
            &:hover
              background: rgba(255,255,255,0.7)
            &:active, &.selected
              background: rgb(255,255,255)
              color: $blue

      .midia_content_home, .midia_content_update, .midia_content_backers, .midia_content_comments
        margin: 20px 0
        .image
          border: 2px solid $orange

        h2
          font-family: Lato-Bold
          font-size: 2.0em
          color: black

        p
          font-family: 'Lato', sans-serif
          font-size: 1.5em
          color: #333
          line-height: 160%
          margin-bottom: 10px
          a
            font-size: 1.0em
          em, a
            +transition(all, 0.3s)
            color: $blue
            cursor: pointer
            &:hover
              +text-shadow($blue 0 0 6px)

      .midia_content_update
        border-bottom: 1px dashed #999
        padding-bottom: 30px
        em
          font-family: 'Lato', sans-serif
          font-size: 1.5em
          color: #333
        &:last-child
          border-bottom: none !important

      .midia_content_backers
        ul.collection_list
          li
            border-bottom: 1px dashed #999
            &:last-child
              border-bottom: none
        .backer
          margin: 20px 0
          &:last-child
            border-bottom: none !important
          .backer_avatar
            +grid(1)
            +alpha
            +box-shadow(#333 1px 1px 2px)
            margin-top: 6px
          .reward
            font-size: 1.2em
            color: $ultra_gryn

          p
            font-family: 'Lato', sans-serif
            font-size: 1.5em
            color: #333
            line-height: 160%
            margin-bottom: 20px
            em
              +transition(all, 0.3s)
              color: $blue
              cursor: pointer
              &.anon
                color: #333
                cursor: default
                &:hover
                  +text-shadow(none)
              &:hover
                +text-shadow($blue 0 0 6px)

          p#text
            margin-bottom: 4px



    .info
      +grid(5)
      +omega
      font-family: "Lato-Regular", sans-serif

      #statistics
        border: 1px solid #ccc
        .statistics
          padding: 5px 10px
          background-color: rgba(255,255,255,0.4)
          color: black
          +clearfix
          .iten
            margin-bottom: 15px
            p
              font-size: 4.5em
              font-family: "Lato-Bold"
              text-transform: uppercase
            em
              font-size: 2.2em
              color: #666

      #condition
        background-color: #999
        padding: 5px 10px
        p
          color: white
          font-size: 1.1em
          text-transform: uppercase
          line-height: 150%
          letter-spacing: 1px

      #pledge
        form
          input[type="submit"]
            +border-radius(8px)
            +box-shadow(#999 1px 3px 6px)
            +transition(all, 0.3s)
            border: none
            background-color: $blue
            padding: 20px 10px
            margin: 10px 15px
            cursor: pointer
            font-size: 1.5em
            text-transform: uppercase
            color: white
            &:hover
              background-color: #3889e9
              +box-shadow($blue 0 0 10px)
            &:active
              +box-shadow(#999 1px 1px 6px)
              background-color: #3889e9

    #rewards
      margin-bottom: 20px
      .box
        background-color: rgba(242,242,242,0.6)
        border: 1px solid #ccc
        margin: 3px 0
        padding: 20px 10px 10px 10px
        h2
          font-size: 1.7em
          font-family: "Lato-Bold", sans-serif
          text-transform: uppercase
          color: black
          margin-bottom: 5px
        p
          font-size: 1.5em
          color: #666
          margin-bottom: 10px
          line-height: 150%
        em
          display: block
          font-size: 1.4em
          text-indent: 30px
          background: url('/images/redesign/support23x23.png') center left no-repeat
          height: 30px
          padding-top: 15px
          vertical-align: middle
        a
          font-size: 1.0em
          &:hover
            text-decoration: underline

    #creator_profile
      +grid(5)
      +omega
      +alpha
      border-top: 1px dashed #999
      margin: 10px 0
      padding-top: 20px
      h3
        +grid(5)
        +omega
        +alpha
        background: url('/images/redesign/profile19x14.png') left 4px no-repeat
        display: block
        text-indent: 24px
        margin-bottom: 6px
      .avatar
        +grid(2)
        +alpha
        margin-top: 10px
        height: 105px
        // background: url('/images/redesign/profile100x100.png')
      .personal_info
        +grid(3)
        +omega
        margin: 10px 0 20px 0
        font-size: 1em
        #name
          color: $blue
          font-size: 1.5em
        #city, #projects, #bio
          margin-top: 5px
          font-size: 1.2em

    #project_share
      width: 100%
      margin: 0 auto 20px
      margin-top: -20px
      padding-bottom: 4px
      text-align: left
      font-size: 14px
      line-height: 32px
      #facebook_share
        width: 542px
        padding-top: 16px
        iframe
          +box-shadow(rgba(0,0,0,0.5), 0px, 0px, 0px)
      #twitter_share
        text-align: left
        float: left
        width: 124px
        margin-top: 4px
        height: 24px
        overflow: hidden
        iframe
          +border-radius(0px)
          +box-shadow(rgba(0,0,0,0.5), 0px, 0px, 0px)
      ul
        float: left
        width: 452px
        margin: 0 auto
        li
          float: left
          font-family: Lato-Regular
          font-size: 1.2em
          margin-right: 6px
          &:last-child
            margin-right: none
      a
        font-size: 1.2em
        text-decoration: none
        color: #222
        +transition(all, 0.1s)
        &:hover
          +text-shadow(#FFFF88, 2px, 2px, 4px)
      img, a img
        margin-top: -4px
        vertical-align: middle
        width: 22px
      input
        border: 1px solid rgba(0,0,0,0.4)
        +border-radius(4px)
        width: 140px
      h1
        color: #222
        font-size: 0.6em
        text-transform: lowercase
        padding-top: 8px !important
        padding-bottom: 4px !important
