/* line 14, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* IE Fonts */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.eot");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.eot");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.eot");
}

/* TTF fonts for CSS3 */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.TTF");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.TTF");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.TTF");
}

/* line 6, ../../app/stylesheets/screen.sass */
.clear {
  clear: both;
}

/* line 9, ../../app/stylesheets/screen.sass */
body#site {
  background: url("/images/bg.png") repeat;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  font-size: 18px;
  text-shadow: white 1px 1px 0px;
}
/* line 18, ../../app/stylesheets/screen.sass */
body#site h1 {
  font-family: "museo-700";
  font-size: 48px;
  font-weight: normal;
  padding: 20px 0;
}
/* line 24, ../../app/stylesheets/screen.sass */
body#site a {
  text-decoration: none;
  font-weight: bold;
  color: green;
  font-size: 100%;
}
/* line 30, ../../app/stylesheets/screen.sass */
body#site a:hover {
  color: #00aa00;
}
/* line 33, ../../app/stylesheets/screen.sass */
body#site #main {
  width: 920px;
  margin: 0 auto;
}
/* line 38, ../../app/stylesheets/screen.sass */
body#site #main header h1 {
  float: left;
}
/* line 40, ../../app/stylesheets/screen.sass */
body#site #main header h1 a {
  color: #222222;
}
/* line 42, ../../app/stylesheets/screen.sass */
body#site #main header nav {
  float: right;
}
/* line 44, ../../app/stylesheets/screen.sass */
body#site #main header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #main header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 43, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #main header nav ul li:first-child, body#site #main header nav ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #main header nav ul li:last-child, body#site #main header nav ul li.last {
  padding-right: 0px;
}
/* line 46, ../../app/stylesheets/screen.sass */
body#site #main header nav ul li {
  padding-top: 45px;
  padding-bottom: 20px;
}
/* line 50, ../../app/stylesheets/screen.sass */
body#site #main #content {
  background-color: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  padding: 20px;
}
/* line 56, ../../app/stylesheets/screen.sass */
body#site #main footer {
  text-align: center;
  padding: 40px 0;
}
