/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/_datepicker.sass */
.ui-datepicker {
  text-shadow: black 0px 0px 0px;
}
/* line 3, ../../app/stylesheets/_datepicker.sass */
.ui-datepicker table tbody tr td a {
  color: white !important;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
}

/* IE Fonts */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.eot");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.eot");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.eot");
}

/* TTF fonts for CSS3 */
@font-face {
  font-family: "museo-300";
  src: url("/fonts/MUSEO300.TTF");
}

@font-face {
  font-family: "museo-500";
  src: url("/fonts/MUSEO500.TTF");
}

@font-face {
  font-family: "museo-700";
  src: url("/fonts/MUSEO700.TTF");
}

/* line 1, ../../app/stylesheets/_helpers.sass */
.left {
  float: left !important;
}

/* line 3, ../../app/stylesheets/_helpers.sass */
.right {
  float: right !important;
}

/* line 5, ../../app/stylesheets/_helpers.sass */
.clear {
  clear: both !important;
}

/* line 7, ../../app/stylesheets/_helpers.sass */
.hide {
  display: none;
}

/* line 9, ../../app/stylesheets/_helpers.sass */
.inline {
  display: inline !important;
}

/* line 11, ../../app/stylesheets/_helpers.sass */
.block {
  display: block !important;
}

/* line 21, ../../app/stylesheets/screen.sass */
body#site {
  background: url("/images/bg.png") repeat;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  font-size: 18px;
  line-height: 22px;
  text-shadow: white 1px 1px 0px;
  font-weight: normal;
}
/* line 10, ../../app/stylesheets/_body.sass */
body#site strong {
  font-weight: bold;
}
/* line 12, ../../app/stylesheets/_body.sass */
body#site a {
  text-decoration: underline;
  color: #008800;
  font-size: 100%;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 17, ../../app/stylesheets/_body.sass */
body#site a:hover {
  color: #00aa00;
}
/* line 3, ../../app/stylesheets/_form.sass */
body#site form fieldset {
  padding: 8px 0;
}
/* line 5, ../../app/stylesheets/_form.sass */
body#site form label {
  display: block;
  margin-right: 8px;
}
/* line 8, ../../app/stylesheets/_form.sass */
body#site form label abbr[title=required] {
  font-size: 16px;
  color: #dd3333;
  margin-left: 2px;
}
/* line 12, ../../app/stylesheets/_form.sass */
body#site form input[type=text], body#site form textarea, body#site form select {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  border: 2px solid #003c00;
  border: 2px solid rgba(0, 60, 0, 0.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: rgba(255, 255, 255, 0.85) 1px 1px 0px;
}
/* line 20, ../../app/stylesheets/_form.sass */
body#site form input[type=text]:focus, body#site form textarea:focus, body#site form select:focus {
  background-color: #009600;
  background-color: rgba(0, 150, 0, 0.2);
}
/* line 23, ../../app/stylesheets/_form.sass */
body#site form textarea {
  width: 100%;
  height: 200px;
}
/* line 26, ../../app/stylesheets/_form.sass */
body#site form p.inline-hints {
  color: #777777;
  font-size: 14px;
}
/* line 29, ../../app/stylesheets/_form.sass */
body#site form input[type=submit] {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  text-shadow: rgba(255, 255, 255, 0.85) 1px 1px 0px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dddddd), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
}
/* line 43, ../../app/stylesheets/_form.sass */
body#site form input[type=submit]:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
}
/* line 47, ../../app/stylesheets/_form.sass */
body#site form input[type=submit]:active {
  padding: 11px 14px 9px 16px;
  text-shadow: rgba(255, 255, 255, 0.85) 2px 2px 1px;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 3px 0;
}
/* line 53, ../../app/stylesheets/_form.sass */
body#site form input[type=submit]:disabled {
  color: #888888;
  text-shadow: rgba(230, 230, 230, 0.85) 1px 1px 0px;
  padding: 10px 15px;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #888888 100%);
  background-image: linear-gradient(top, #bbbbbb 0%, #888888 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 6px 0;
}
/* line 60, ../../app/stylesheets/_form.sass */
body#site form input.ok, body#site form textarea.ok {
  background: url("/images/tick_16.png") no-repeat 98% center;
}
/* line 62, ../../app/stylesheets/_form.sass */
body#site form input.error, body#site form textarea.error {
  background: url("/images/delete_16.png") no-repeat 98% center;
}
/* line 64, ../../app/stylesheets/_form.sass */
body#site form input.loading, body#site form textarea.loading {
  background: url("/images/loading.gif") no-repeat 98% center;
}
/* line 66, ../../app/stylesheets/_form.sass */
body#site form select.ok {
  background: url("/images/tick_16.png") no-repeat 86% center;
}
/* line 68, ../../app/stylesheets/_form.sass */
body#site form select.error {
  background: url("/images/delete_16.png") no-repeat 86% center;
}
/* line 70, ../../app/stylesheets/_form.sass */
body#site form select.loading {
  background: url("/images/loading.gif") no-repeat 86% center;
}
/* line 24, ../../app/stylesheets/screen.sass */
body#site .flash {
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px 0;
  text-align: center;
  color: white;
  text-shadow: black 1px 1px 1px;
}
/* line 6, ../../app/stylesheets/_flash.sass */
body#site .flash .wrapper {
  padding: 20px;
}
/* line 8, ../../app/stylesheets/_flash.sass */
body#site .flash .success.wrapper {
  background-color: #44a546;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #51c252), color-stop(50%, #49b249), color-stop(100%, #44a546));
  background-image: -moz-linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
  background-image: linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
}
/* line 11, ../../app/stylesheets/_flash.sass */
body#site .flash .failure.wrapper {
  background-color: #aa3333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cc3333), color-stop(50%, #bb3333), color-stop(100%, #aa3333));
  background-image: -moz-linear-gradient(top, #cc3333 0%, #bb3333 50%, #aa3333 100%);
  background-image: linear-gradient(top, #cc3333 0%, #bb3333 50%, #aa3333 100%);
}
/* line 26, ../../app/stylesheets/screen.sass */
body#site .overlay {
  background-color: #dddddd;
  background: rgba(180, 180, 180, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* line 28, ../../app/stylesheets/screen.sass */
body#site #login {
  background-color: #44a546;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #51c252), color-stop(50%, #49b249), color-stop(100%, #44a546));
  background-image: -moz-linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
  background-image: linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
  border: 5px solid white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  -webkit-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  -o-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin-top: -170px;
  margin-left: -270px;
  z-index: 500;
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: black 1px 1px 1px;
}
/* line 19, ../../app/stylesheets/_login.sass */
body#site #login h1 {
  font-family: "museo-500";
  font-size: 24px;
  padding: 20px;
  margin-bottom: 10px;
}
/* line 24, ../../app/stylesheets/_login.sass */
body#site #login p {
  margin-top: 20px;
}
/* line 27, ../../app/stylesheets/_login.sass */
body#site #login a img {
  width: 60px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 30, ../../app/stylesheets/_login.sass */
body#site #login a img:hover, body#site #login a img:focus {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 32, ../../app/stylesheets/_login.sass */
body#site #login a img:active {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 35, ../../app/stylesheets/_login.sass */
body#site #login a.disabled img {
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
/* line 37, ../../app/stylesheets/_login.sass */
body#site #login a.disabled img:hover, body#site #login a.disabled img:focus, body#site #login a.disabled img:active {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 39, ../../app/stylesheets/_login.sass */
body#site #login a.close {
  color: white;
  text-decoration: none;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid white;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  top: 0;
  left: 100%;
  margin-top: -15px;
  margin-left: -15px;
  line-height: 22px;
  background-color: #44a546;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #51c252), color-stop(50%, #49b249), color-stop(100%, #44a546));
  background-image: -moz-linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
  background-image: linear-gradient(top, #51c252 0%, #49b249 50%, #44a546 100%);
  -moz-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  -webkit-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  -o-box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  box-shadow: rgba(0, 40, 0, 0.75) 4px -4px 10px 0;
  font-weight: bold;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 57, ../../app/stylesheets/_login.sass */
body#site #login a.close:hover, body#site #login a.close:focus {
  color: white;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 30, ../../app/stylesheets/screen.sass */
body#site #main {
  width: 920px;
  margin: 0 auto;
}
/* line 2, ../../app/stylesheets/_header.sass */
body#site #header h1 {
  font-family: "museo-700";
  font-size: 48px;
  padding: 36px 0 20px 0;
  float: left;
}
/* line 7, ../../app/stylesheets/_header.sass */
body#site #header h1 a {
  color: #222222;
  text-decoration: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 11, ../../app/stylesheets/_header.sass */
body#site #header h1 a:hover {
  text-shadow: rgba(0, 150, 0, 0.4) 1px 1px 10px;
}
/* line 34, ../../app/stylesheets/screen.sass */
body#site #menu {
  float: right;
  margin-top: 48px;
  margin-bottom: 20px;
}
/* line 5, ../../app/stylesheets/_menu.sass */
body#site #menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 43, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #menu ul li:first-child, body#site #menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #menu ul li:last-child, body#site #menu ul li.last {
  padding-right: 0px;
}
/* line 8, ../../app/stylesheets/_menu.sass */
body#site #menu ul li a {
  text-decoration: none;
  font-weight: bold;
}
/* line 36, ../../app/stylesheets/screen.sass */
body#site #user {
  float: right;
  margin-top: 22px;
  margin-left: 12px;
  height: 24px;
  position: relative;
}
/* line 7, ../../app/stylesheets/_user.sass */
body#site #user a {
  display: block;
  padding: 20px 20px 21px 20px;
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  -o-border-top-left-radius: 16px;
  -ms-border-top-left-radius: 16px;
  -khtml-border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  -moz-border-radius-topright: 16px;
  -webkit-border-top-right-radius: 16px;
  -o-border-top-right-radius: 16px;
  -ms-border-top-right-radius: 16px;
  -khtml-border-top-right-radius: 16px;
  border-top-right-radius: 16px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 15, ../../app/stylesheets/_user.sass */
body#site #user a img.dropdown {
  margin-bottom: 3px;
  vertical_align: middle;
}
/* line 18, ../../app/stylesheets/_user.sass */
body#site #user a img#display_image {
  background-color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 0;
  margin-right: 6px;
  height: 24px;
}
/* line 24, ../../app/stylesheets/_user.sass */
body#site #user .hover {
  color: #eeeeee;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px;
  background-color: #0c0c0c;
  background-color: rgba(12, 12, 12, 0.9);
}
/* line 29, ../../app/stylesheets/_user.sass */
body#site #user .hover img#display_image {
  -moz-box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 4px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 4px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 4px 0;
  box-shadow: rgba(255, 255, 255, 0.7) 2px 2px 4px 0;
}
/* line 31, ../../app/stylesheets/_user.sass */
body#site #user #user_menu {
  text-align: right;
  padding: 0 20px;
  background-color: #0c0c0c;
  background-color: rgba(12, 12, 12, 0.9);
  position: absolute;
  -moz-border-radius-bottomleft: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -o-border-bottom-left-radius: 16px;
  -ms-border-bottom-left-radius: 16px;
  -khtml-border-bottom-left-radius: 16px;
  border-bottom-left-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -o-border-bottom-right-radius: 16px;
  -ms-border-bottom-right-radius: 16px;
  -khtml-border-bottom-right-radius: 16px;
  border-bottom-right-radius: 16px;
  top: 69px;
  right: 0;
  z-index: 100;
}
/* line 43, ../../app/stylesheets/_user.sass */
body#site #user #user_menu ul li a {
  font-weight: normal;
  padding-top: 0;
  padding-right: 12px;
  color: #cccccc;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 50, ../../app/stylesheets/_user.sass */
body#site #user #user_menu ul li a:hover {
  color: white;
}
/* line 52, ../../app/stylesheets/_user.sass */
body#site #user .user_menu_border {
  -moz-border-radius-topleft: 16px;
  -webkit-border-top-left-radius: 16px;
  -o-border-top-left-radius: 16px;
  -ms-border-top-left-radius: 16px;
  -khtml-border-top-left-radius: 16px;
  border-top-left-radius: 16px;
}
/* line 38, ../../app/stylesheets/screen.sass */
body#site #content_wrapper {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 16px 0;
}
/* line 40, ../../app/stylesheets/screen.sass */
body#site #content_wrapper #content_header {
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #009600;
  background-color: rgba(0, 150, 0, 0.7);
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0;
}
/* line 14, ../../app/stylesheets/_content.sass */
body#site #content_wrapper #content_header h1 {
  font-family: "museo-500";
  font-size: 32px;
  padding: 20px 0;
  text-shadow: green 2px 2px 1px;
}
/* line 19, ../../app/stylesheets/_content.sass */
body#site #content_wrapper #content_header h2 {
  padding: 0 40px;
  text-shadow: green 1px 1px 1px;
}
/* line 42, ../../app/stylesheets/screen.sass */
body#site #content_wrapper #content {
  padding: 40px;
}
/* line 24, ../../app/stylesheets/_content.sass */
body#site #content_wrapper #content h1 {
  font-family: "museo-300";
  font-size: 28px;
  padding: 20px 0 30px 0;
  color: #008800;
}
/* line 29, ../../app/stylesheets/_content.sass */
body#site #content_wrapper #content p {
  padding-bottom: 20px;
}
/* line 2, ../../app/stylesheets/_profile.sass */
body#site #profile_header {
  position: relative;
}
/* line 4, ../../app/stylesheets/_profile.sass */
body#site #profile_header .image {
  float: left;
  padding: 20px;
}
/* line 7, ../../app/stylesheets/_profile.sass */
body#site #profile_header .image img {
  background-color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 6px 0;
  max-width: 128px;
  max-height: 128px;
}
/* line 13, ../../app/stylesheets/_profile.sass */
body#site #profile_header .info h1, body#site #profile_header .info h2 {
  text-align: left;
}
/* line 15, ../../app/stylesheets/_profile.sass */
body#site #profile_header .info h2 {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 2, ../../app/stylesheets/_projects.sass */
body#site .project_box {
  font-size: 16px;
  color: #666666;
  float: left;
  margin: 10px 45px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 5px solid #eeeeee;
  border: 5px solid rgba(100, 100, 100, 0.1);
}
/* line 10, ../../app/stylesheets/_projects.sass */
body#site .project_box img {
  width: 280px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px 0;
  margin-bottom: 16px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 15, ../../app/stylesheets/_projects.sass */
body#site .project_box img:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.7) 3px 3px 6px 0;
}
/* line 18, ../../app/stylesheets/_projects.sass */
body#site .project_header h1 {
  font-family: "museo-300";
  font-size: 20px !important;
  color: #222222 !important;
  padding: 0 !important;
}
/* line 23, ../../app/stylesheets/_projects.sass */
body#site .project_header a {
  text-decoration: none;
  color: black;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 27, ../../app/stylesheets/_projects.sass */
body#site .project_header a:hover {
  text-shadow: rgba(0, 150, 0, 0.4) 1px 1px 10px;
}
/* line 29, ../../app/stylesheets/_projects.sass */
body#site .project_owner {
  font-size: 14px;
  color: #999999;
  padding-bottom: 8px;
}
/* line 33, ../../app/stylesheets/_projects.sass */
body#site .project_category {
  text-transform: uppercase;
  color: white;
  background-color: #555555;
  background-color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: black 1px 1px 0px;
  padding: 4px 8px;
  float: right;
  font-size: 14px;
  margin-top: 16px;
}
/* line 44, ../../app/stylesheets/_projects.sass */
body#site .project_wrap {
  width: 280px;
  padding: 20px;
}
/* line 47, ../../app/stylesheets/_projects.sass */
body#site .project_progress {
  text-transform: uppercase;
  color: #333333;
  background-color: #cccccc;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
  font-size: 13px;
}
/* line 56, ../../app/stylesheets/_projects.sass */
body#site .project_progress ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_progress ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 43, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_progress ul li:first-child, body#site .project_progress ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_progress ul li:last-child, body#site .project_progress ul li.last {
  padding-right: 0px;
}
/* line 58, ../../app/stylesheets/_projects.sass */
body#site .project_progress .progress_bar {
  font-size: 8px;
  background-color: #999999;
  background-color: rgba(0, 0, 0, 0.3);
  width: 280px;
  margin-bottom: 16px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
}
/* line 65, ../../app/stylesheets/_projects.sass */
body#site .project_progress .progress_bar .progress {
  background-color: #009600;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -khtml-border-radius: 32px;
  border-radius: 32px;
}
/* line 68, ../../app/stylesheets/_projects.sass */
body#site #guidelines_form {
  text-align: center;
}
/* line 69, ../../app/stylesheets/_projects.sass */
body#site #guidelines_form fieldset {
  padding-top: 20px;
}
/* line 71, ../../app/stylesheets/_projects.sass */
body#site #guidelines_form label {
  font-weight: bold;
  color: #dd3333;
  display: inline;
}
/* line 77, ../../app/stylesheets/_projects.sass */
body#site #new_project_form .submit {
  text-align: center;
}
/* line 79, ../../app/stylesheets/_projects.sass */
body#site #new_project_form .submit fieldset {
  padding-top: 20px;
}
/* line 81, ../../app/stylesheets/_projects.sass */
body#site #new_project_form #project_category_id {
  width: 220px;
}
/* line 83, ../../app/stylesheets/_projects.sass */
body#site #new_project_form #project_goal {
  width: 220px;
}
/* line 85, ../../app/stylesheets/_projects.sass */
body#site #new_project_form #project_deadline {
  width: 340px;
}
/* line 46, ../../app/stylesheets/screen.sass */
body#site #footer {
  text-align: center;
  padding: 40px 0;
}
