/*
Syntax error: Undefined mixin 'curated_pages'.
        on line 69 of /Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass, in `curated_pages'
        from line 69 of /Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass

64:       +content_header
65:     #content
66:       +content
67:   +profile
68:   +projects
69:   +curated_pages
70:   #embed
71:     +embed
72:   #video_embed
73:     +video_embed
74:   #footer

Backtrace:
/Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass:69:in `curated_pages'
/Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass:69
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/root_node.rb:37:in `perform'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/tree/root_node.rb:29:in `render'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `each'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `each'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/haml-3.0.21/lib/sass/plugin/rack.rb:40:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lint.rb:48:in `_call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lint.rb:36:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/showexceptions.rb:24:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/commonlogger.rb:18:in `call'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:532:in `process_client'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:607:in `block in worker_loop'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:605:in `each'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:605:in `worker_loop'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:496:in `block (2 levels) in spawn_missing_workers'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:493:in `fork'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:493:in `block in spawn_missing_workers'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:489:in `each'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:489:in `spawn_missing_workers'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:503:in `maintain_worker_count'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn/http_server.rb:161:in `start'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/lib/unicorn.rb:13:in `run'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/gems/unicorn-3.3.1/bin/unicorn:120:in `<top (required)>'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/bin/unicorn:19:in `load'
/Users/paulogeyer/.rvm/gems/ruby-1.9.2-p180/bin/unicorn:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'curated_pages'.\A         on line 69 of /Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass, in `curated_pages'\A         from line 69 of /Users/paulogeyer/Dropbox/projects/catarse/app/stylesheets/screen.sass\A \A 64:       +content_header\A 65:     #content\A 66:       +content\A 67:   +profile\A 68:   +projects\A 69:   +curated_pages\A 70:   #embed\A 71:     +embed\A 72:   #video_embed\A 73:     +video_embed\A 74:   #footer"; }
