/*
Syntax error: Invalid CSS after "(4px)": expected expression (e.g. 1px, bold), was ";"
        on line 2 of /Users/ton/code/store/catarse/app/stylesheets/test.sass

1: .fuck2
2:   +border-radius(4px);

Backtrace:
/Users/ton/code/store/catarse/app/stylesheets/test.sass:2
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/script/lexer.rb:193:in `expected!'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/script/parser.rb:458:in `assert_done'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/script/parser.rb:87:in `parse_mixin_include_arglist'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:788:in `parse_mixin_include'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:552:in `parse_line'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:448:in `build_tree'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:457:in `block in build_tree'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:450:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:450:in `build_tree'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:467:in `block in append_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:466:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:466:in `append_children'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:323:in `_to_tree'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:35:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@global/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:528:in `process_client'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:600:in `worker_loop'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:485:in `spawn_missing_workers'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/lib/unicorn/http_server.rb:135:in `start'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/gems/unicorn-4.1.1/bin/unicorn_rails:209:in `<top (required)>'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/bin/unicorn_rails:19:in `load'
/Users/ton/.rvm/gems/ruby-1.9.2-p290@catarse/bin/unicorn_rails:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(4px)\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of /Users/ton/code/store/catarse/app/stylesheets/test.sass\A \A 1: .fuck2\A 2:   +border-radius(4px);"; }
