/* line 1, ../../../../app/stylesheets/old/miv/overlay.sass */
.overlay {
  display: none;
  background-color: #dddddd;
  background: rgba(180, 180, 180, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
}
