/* line 4, ../../../app/stylesheets/sites/catarse.sass */
body#site a {
  color: #498c36;
}
/* line 6, ../../../app/stylesheets/sites/catarse.sass */
body#site a:hover {
  color: #68a852;
}
/* line 8, ../../../app/stylesheets/sites/catarse.sass */
body#site #main {
  width: 100%;
}
/* line 10, ../../../app/stylesheets/sites/catarse.sass */
body#site #header {
  width: 936px;
  margin: 0 auto;
}
/* line 13, ../../../app/stylesheets/sites/catarse.sass */
body#site #header h1 {
  margin-left: 8px;
}
/* line 15, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_header_wrapper {
  background-color: #68a852;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -moz-linear-gradient(top, #498c36 0%, #68a852 100%);
  background-image: linear-gradient(top, #498c36 0%, #68a852 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
}
/* line 19, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  background-color: transparent;
}
/* line 22, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header {
  width: 936px;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  padding: 10px 0;
}
/* line 29, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header h1 {
  padding: 8px;
  font-size: 28px;
}
/* line 32, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header h2 {
  padding: 8px;
}
/* line 34, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content {
  width: 936px;
  margin: 0 auto;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 38, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content h1 {
  color: #498c36;
}
/* line 40, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content h2 {
  color: #498c36;
}
/* line 44, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  color: white;
}
/* line 46, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li h1 {
  color: #222222;
}
/* line 48, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer {
  text-shadow: transparent 0 0 0;
  margin-top: 40px;
  padding-top: 40px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.8);
  color: #cccccc;
}
/* line 55, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer a {
  color: #cccccc;
}
/* line 57, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer a:hover {
  color: #eeeeee;
}
/* line 60, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_header h1 {
  padding-left: 0 !important;
}
/* line 62, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_header h2 {
  padding-bottom: 4px !important;
}
/* line 64, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header {
  position: relative;
}
/* line 66, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text {
  float: left;
  width: 702px;
}
/* line 69, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text h1 {
  padding: 8px 24px !important;
}
/* line 71, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text h2 {
  padding: 8px 24px !important;
}
/* line 73, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share {
  margin-top: 10px;
  float: right;
  width: 224px;
}
/* line 77, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share iframe.fb_ltr {
  width: 180px !important;
}
/* line 79, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share .twitter-follow-button {
  margin-top: 16px;
}
/* line 81, ../../../app/stylesheets/sites/catarse.sass */
body#site .project_box {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px 0;
}
/* line 84, ../../../app/stylesheets/sites/catarse.sass */
body#site .progress_bar .progress {
  background-color: #68a852;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -moz-linear-gradient(top, #498c36 0%, #68a852 100%);
  background-image: linear-gradient(top, #498c36 0%, #68a852 100%);
}
/* line 92, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_description #project_menu ul li a:hover {
  background-color: #68a852;
}
/* line 95, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_description #project_menu ul li.selected a {
  background-color: #498c36;
}
/* line 101, ../../../app/stylesheets/sites/catarse.sass */
body#site #explore_projects #explore_menu ul li a:hover {
  background-color: #68a852;
}
/* line 103, ../../../app/stylesheets/sites/catarse.sass */
body#site #explore_projects #explore_menu ul li a.selected {
  background-color: #498c36;
}
/* line 108, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #68a852), color-stop(100%, #498c36));
  background-image: -moz-linear-gradient(top, #68a852 0%, #498c36 100%);
  background-image: linear-gradient(top, #68a852 0%, #498c36 100%);
}
/* line 110, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -moz-linear-gradient(top, #498c36 0%, #68a852 100%);
  background-image: linear-gradient(top, #498c36 0%, #68a852 100%);
}
