/* line 4, ../../../app/stylesheets/sites/catarse.sass */
body#site a {
  color: #498c36;
}
/* line 6, ../../../app/stylesheets/sites/catarse.sass */
body#site a:hover {
  color: #68a852;
}
/* line 8, ../../../app/stylesheets/sites/catarse.sass */
body#site #main {
  width: 100%;
}
/* line 10, ../../../app/stylesheets/sites/catarse.sass */
body#site #header {
  width: 936px;
  margin: 0 auto;
}
/* line 13, ../../../app/stylesheets/sites/catarse.sass */
body#site #header h1 {
  margin-left: 8px;
}
/* line 15, ../../../app/stylesheets/sites/catarse.sass */
body#site #header h1.home_logo {
  margin-left: 27px;
}
/* line 17, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_header_wrapper {
  background-color: #68a852;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* line 21, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper {
  -moz-box-shadow: 0 0 0 black;
  -webkit-box-shadow: 0 0 0 black;
  -o-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
  background-color: transparent;
}
/* line 24, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #notification_wrapper {
  width: 880px;
  border: 1px #999999 solid;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: 0 0 3px #999999;
  -webkit-box-shadow: 0 0 3px #999999;
  -o-box-shadow: 0 0 3px #999999;
  box-shadow: 0 0 3px #999999;
  padding: 5px 0 5px 0;
  background: #e0e0e0;
  margin: 20px auto 0;
}
/* line 33, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #notification_wrapper div h1 {
  font-family: "museo-500";
  padding: 8px 0 5px 10px;
  font-size: 20px;
  text-shadow: none;
  text-align: center;
  color: #333333;
}
/* line 40, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #notification_wrapper div h1 a {
  text-decoration: none;
}
/* line 43, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header {
  width: 936px;
  margin: 0 auto;
  background-color: transparent;
  text-align: left;
  -moz-box-shadow: 0 0 0 black;
  -webkit-box-shadow: 0 0 0 black;
  -o-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
  padding: 10px 0;
}
/* line 50, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header h1 {
  padding: 8px;
  font-size: 28px;
}
/* line 53, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content_header h2 {
  padding: 8px;
}
/* line 55, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content {
  width: 936px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 0 black;
  -webkit-box-shadow: 0 0 0 black;
  -o-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
}
/* line 59, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content h1 {
  color: #498c36;
}
/* line 61, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content h2 {
  color: #498c36;
}
/* line 65, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content #project_back_info #rewards h1 {
  color: white;
}
/* line 67, ../../../app/stylesheets/sites/catarse.sass */
body#site #content_wrapper #content #project_back_info #rewards ul li h1 {
  color: #222222;
}
/* line 69, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer {
  text-shadow: black 0 0 0;
  margin-top: 40px;
  padding-top: 40px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.8);
  color: #cccccc;
}
/* line 76, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer a {
  color: #cccccc;
}
/* line 78, ../../../app/stylesheets/sites/catarse.sass */
body#site #footer a:hover {
  color: #eeeeee;
}
/* line 81, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_header h1 {
  padding-left: 0 !important;
}
/* line 83, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_header h1 .on_the_spot_mouseover {
  background-color: #2b6e18;
  background-color: rgba(43, 110, 24, 0.5);
}
/* line 86, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_header h2 {
  padding-bottom: 4px !important;
}
/* line 88, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header {
  position: relative;
}
/* line 90, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text {
  float: left;
  width: 702px;
}
/* line 93, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text h1 {
  padding: 8px 24px !important;
}
/* line 95, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_header_text h2 {
  padding: 8px 24px !important;
}
/* line 97, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share {
  margin-top: -90px;
  float: right;
  width: 224px;
}
/* line 101, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share iframe {
  width: 180px !important;
}
/* line 104, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share span.fb_iframe_widget iframe {
  width: 401px !important;
}
/* line 106, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share iframe.twitter-follow-button {
  margin-top: 4px;
  width: 224px !important;
}
/* line 109, ../../../app/stylesheets/sites/catarse.sass */
body#site #index_header #index_share iframe.twitter-share-button {
  margin-top: 8px;
}
/* line 111, ../../../app/stylesheets/sites/catarse.sass */
body#site .project_box {
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
/* line 114, ../../../app/stylesheets/sites/catarse.sass */
body#site .progress_bar .progress {
  background-color: #68a852;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 122, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_description #project_menu ul li a:hover {
  background-color: #68a852;
}
/* line 125, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_description #project_menu ul li.selected a {
  background-color: #498c36;
}
/* line 131, ../../../app/stylesheets/sites/catarse.sass */
body#site #explore_projects #explore_menu ul li a:hover {
  background-color: #68a852;
}
/* line 133, ../../../app/stylesheets/sites/catarse.sass */
body#site #explore_projects #explore_menu ul li a.selected {
  background-color: #498c36;
}
/* line 138, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68a852), color-stop(100%, #498c36));
  background-image: -webkit-linear-gradient(top, #68a852, #498c36);
  background-image: -moz-linear-gradient(top, #68a852, #498c36);
  background-image: -o-linear-gradient(top, #68a852, #498c36);
  background-image: -ms-linear-gradient(top, #68a852, #498c36);
  background-image: linear-gradient(top, #68a852, #498c36);
}
/* line 140, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 142, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #498c36), color-stop(100%, #68a852));
  background-image: -webkit-linear-gradient(top, #498c36, #68a852);
  background-image: -moz-linear-gradient(top, #498c36, #68a852);
  background-image: -o-linear-gradient(top, #498c36, #68a852);
  background-image: -ms-linear-gradient(top, #498c36, #68a852);
  background-image: linear-gradient(top, #498c36, #68a852);
}
/* line 144, ../../../app/stylesheets/sites/catarse.sass */
body#site #project_back_info #back_project form input[type=submit]:disabled {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(top, #bbbbbb, #888888);
  background-image: -moz-linear-gradient(top, #bbbbbb, #888888);
  background-image: -o-linear-gradient(top, #bbbbbb, #888888);
  background-image: -ms-linear-gradient(top, #bbbbbb, #888888);
  background-image: linear-gradient(top, #bbbbbb, #888888);
}
