/* line 3, ../../../app/stylesheets/sites/multidao.sass */
body#site {
  background: #252525;
  text-shadow: transparent 0px 0px 0px;
}
/* line 6, ../../../app/stylesheets/sites/multidao.sass */
body#site a {
  color: #679c08;
}
/* line 8, ../../../app/stylesheets/sites/multidao.sass */
body#site a:hover {
  color: #87bc28;
}
/* line 11, ../../../app/stylesheets/sites/multidao.sass */
body#site form input[type=submit] {
  color: white;
  text-shadow: transparent 0 0 0;
  font-weight: normal;
  background-color: #87bd29;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #87bd29), color-stop(100%, #87bd29));
  background-image: -moz-linear-gradient(top, #87bd29 0%, #87bd29 100%);
  background-image: linear-gradient(top, #87bd29 0%, #87bd29 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
}
/* line 18, ../../../app/stylesheets/sites/multidao.sass */
body#site form input[type=submit]:hover {
  background-color: #8cc22e;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8cc22e), color-stop(100%, #8cc22e));
  background-image: -moz-linear-gradient(top, #8cc22e 0%, #8cc22e 100%);
  background-image: linear-gradient(top, #8cc22e 0%, #8cc22e 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
}
/* line 22, ../../../app/stylesheets/sites/multidao.sass */
body#site form input[type=submit]:active {
  text-shadow: transparent 0 0 0;
  background-color: #87bd29;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #87bd29), color-stop(100%, #87bd29));
  background-image: -moz-linear-gradient(top, #87bd29 0%, #87bd29 100%);
  background-image: linear-gradient(top, #87bd29 0%, #87bd29 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
}
/* line 27, ../../../app/stylesheets/sites/multidao.sass */
body#site form input[type=submit]:disabled {
  color: #717171;
  text-shadow: transparent 0 0 0;
  padding: 10px 15px;
  background-color: #bcbcbc;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #bcbcbc), color-stop(100%, #bcbcbc));
  background-image: -moz-linear-gradient(top, #bcbcbc 0%, #bcbcbc 100%);
  background-image: linear-gradient(top, #bcbcbc 0%, #bcbcbc 100%);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 6px 0;
}
/* line 34, ../../../app/stylesheets/sites/multidao.sass */
body#site form input.ok, body#site form textarea.ok {
  background: url("/images/sites/multidao/tick.png") no-repeat 99% center;
}
/* line 36, ../../../app/stylesheets/sites/multidao.sass */
body#site form input.error, body#site form textarea.error {
  background: url("/images/sites/multidao/delete.png") no-repeat 99% center;
}
/* line 38, ../../../app/stylesheets/sites/multidao.sass */
body#site form input.loading, body#site form textarea.loading {
  background: url("/images/sites/multidao/loading.gif") no-repeat 99% center;
}
/* line 40, ../../../app/stylesheets/sites/multidao.sass */
body#site form select.ok {
  background: url("/images/sites/multidao/tick.png") no-repeat 86% center;
}
/* line 42, ../../../app/stylesheets/sites/multidao.sass */
body#site form select.error {
  background: url("/images/sites/multidao/delete.png") no-repeat 86% center;
}
/* line 44, ../../../app/stylesheets/sites/multidao.sass */
body#site form select.loading {
  background: url("/images/sites/multidao/loading.gif") no-repeat 86% center;
}
/* line 46, ../../../app/stylesheets/sites/multidao.sass */
body#site .important {
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px 0;
  text-shadow: transparent 0 0 0;
  background-color: #ffaaaa;
}
/* line 50, ../../../app/stylesheets/sites/multidao.sass */
body#site .overlay {
  background-color: #333333;
  background: rgba(0, 0, 0, 0.8);
}
/* line 53, ../../../app/stylesheets/sites/multidao.sass */
body#site #login, body#site #project_description #project_video #project_embed {
  background-color: #4a99c0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ab9e0), color-stop(50%, #5aa9d0), color-stop(100%, #4a99c0));
  background-image: -moz-linear-gradient(top, #6ab9e0 0%, #5aa9d0 50%, #4a99c0 100%);
  background-image: linear-gradient(top, #6ab9e0 0%, #5aa9d0 50%, #4a99c0 100%);
  border: 5px solid white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  text-shadow: transparent 0 0 0;
}
/* line 60, ../../../app/stylesheets/sites/multidao.sass */
body#site #login h1, body#site #project_description #project_video #project_embed h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 20px;
  margin-bottom: 10px;
}
/* line 65, ../../../app/stylesheets/sites/multidao.sass */
body#site #login a.close, body#site #project_description #project_video #project_embed a.close {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ab9e0), color-stop(50%, #5aa9d0), color-stop(100%, #4a99c0));
  background-image: -moz-linear-gradient(top, #6ab9e0 0%, #5aa9d0 50%, #4a99c0 100%);
  background-image: linear-gradient(top, #6ab9e0 0%, #5aa9d0 50%, #4a99c0 100%);
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 69, ../../../app/stylesheets/sites/multidao.sass */
body#site #login #project_box_embed textarea, body#site #project_description #project_video #project_embed #project_box_embed textarea {
  background-color: #ddffff;
}
/* line 72, ../../../app/stylesheets/sites/multidao.sass */
body#site #login #project_video_embed textarea, body#site #project_description #project_video #project_embed #project_video_embed textarea {
  background-color: #ddffff;
}
/* line 75, ../../../app/stylesheets/sites/multidao.sass */
body#site #pre_header {
  background-color: #6ab9e0;
}
/* line 77, ../../../app/stylesheets/sites/multidao.sass */
body#site #menu {
  text-transform: lowercase;
  font-size: 16px;
}
/* line 80, ../../../app/stylesheets/sites/multidao.sass */
body#site #menu a {
  color: #6ab9e0;
}
/* line 82, ../../../app/stylesheets/sites/multidao.sass */
body#site #menu a:hover {
  color: #7ecdf4;
}
/* line 85, ../../../app/stylesheets/sites/multidao.sass */
body#site #user a {
  font-size: 16px;
  color: #aaaaaa;
}
/* line 88, ../../../app/stylesheets/sites/multidao.sass */
body#site #user a img#display_image {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  border: 1px solid #aaaaaa;
}
/* line 91, ../../../app/stylesheets/sites/multidao.sass */
body#site #user .hover {
  color: #eeeeee;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px;
  background-color: #0c0c0c;
  background-color: rgba(12, 12, 12, 0.9);
}
/* line 96, ../../../app/stylesheets/sites/multidao.sass */
body#site #user .hover img#display_image {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 98, ../../../app/stylesheets/sites/multidao.sass */
body#site #main {
  width: 100%;
}
/* line 100, ../../../app/stylesheets/sites/multidao.sass */
body#site #header_wrapper {
  background: #222222;
}
/* line 102, ../../../app/stylesheets/sites/multidao.sass */
body#site #header {
  width: 936px;
  margin: 0 auto;
}
/* line 105, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 {
  font-family: "museo-500";
  padding: 20px 0;
}
/* line 108, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 a {
  color: white;
  font-size: 36px;
  text-shadow: transparent 0px 0px 0px;
}
/* line 112, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 a:hover {
  text-shadow: transparent 0px 0px 0px;
}
/* line 114, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_header_wrapper {
  background: #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
}
/* line 117, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper {
  background: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}
/* line 120, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header {
  width: 936px;
  padding: 24px 0 32px 0;
  margin: 0 auto;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  background-color: transparent;
  color: #3c3c3c;
  text-shadow: transparent 0px 0px 0px;
}
/* line 129, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h1 {
  text-transform: lowercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38px;
  text-align: left;
  font-weight: bold;
  text-shadow: transparent 0px 0px 0px;
  letter-spacing: -2px;
  padding-bottom: 16px;
}
/* line 138, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h1 a {
  color: #6ab9e0;
  font-weight: bold;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 142, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h1 a:hover {
  color: #7ecdf4;
  text-shadow: transparent 0px 0px 0px;
}
/* line 145, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h2 {
  text-transform: lowercase;
  text-shadow: transparent 0px 0px 0px;
  text-align: left;
  padding: 0;
  color: #4c4c4c;
}
/* line 151, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h2 a {
  color: #6ab9e0;
  font-weight: bold;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 155, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h2 a:hover {
  color: #7ecdf4;
  text-shadow: transparent 0px 0px 0px;
}
/* line 158, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header #badge {
  top: 32px;
}
/* line 160, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content {
  width: 936px;
  padding: 40px 0;
  margin: 0 auto;
}
/* line 164, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5d8838;
}
/* line 167, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5d8838;
}
/* line 170, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer {
  text-transform: lowercase;
  font-size: 16px;
}
/* line 173, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu {
  width: 800px;
  padding-bottom: 40px;
}
/* line 176, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 56px;
  padding-right: 56px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:first-child, body#site #footer #footer_menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:last-child, body#site #footer #footer_menu ul li.last {
  padding-right: 0px;
}
/* line 179, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu ul li a {
  font-weight: normal;
  color: white;
}
/* line 182, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu {
  width: 800px;
}
/* line 184, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu img {
  margin-right: 4px;
  height: 32px;
}
/* line 187, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 26px;
  padding-right: 26px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:first-child, body#site #footer #social_menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:last-child, body#site #footer #social_menu ul li.last {
  padding-right: 0px;
}
/* line 190, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu ul li a {
  font-weight: normal;
  color: #aaaaaa;
}
/* line 193, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #colophon {
  width: 936px;
}
/* line 195, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #colophon img {
  vertical-align: middle;
}
/* line 197, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_list_header {
  text-transform: lowercase;
}
/* line 199, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_list_wrapper {
  height: 448px;
}
/* line 201, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box {
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  color: #999999;
  margin-bottom: 48px;
}
/* line 206, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .status_image {
  top: 0;
  left: 0;
}
/* line 210, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  color: #4c525e !important;
  line-height: 14px !important;
}
/* line 215, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header .project_image {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  height: 195px;
  width: 264px;
  margin: 0;
  margin-bottom: 6px;
}
/* line 221, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header .project_image img {
  max-width: 264px;
  height: 195px;
  width: 264px;
}
/* line 225, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header a:hover {
  text-shadow: transparent 0 0 0;
}
/* line 227, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_category {
  text-align: left;
  text-transform: lowercase;
  font-size: 12px;
  top: 169px;
  width: 244px;
}
/* line 233, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_owner {
  padding-top: 4px;
}
/* line 235, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_wrap {
  min-height: 320px;
  width: 264px;
  padding: 0;
}
/* line 239, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress {
  text-transform: none;
  color: #999999;
  background: transparent;
  padding: 10px 0;
  font-size: 11px;
}
/* line 245, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_bar {
  font-size: 4px;
  line-height: 10px;
  width: 264px;
}
/* line 249, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info {
  text-transform: uppercase;
  width: 264px;
  margin: 0 auto;
}
/* line 251, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info strong {
  color: #4c525e;
  text-transform: none;
}
/* line 256, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 18px;
  padding-right: 18px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li:first-child, body#site .project_box .project_progress .progress_info ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li:last-child, body#site .project_box .project_progress .progress_info ul li.last {
  padding-right: 0px;
}
/* line 258, ../../../app/stylesheets/sites/multidao.sass */
body#site .progress_bar {
  background-color: #ced3cf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 261, ../../../app/stylesheets/sites/multidao.sass */
body#site .progress_bar .progress {
  background-color: #8bcb53;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 265, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box {
  background-color: white;
}
/* line 268, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_header .project_image {
  margin: -10px 0 6px -10px;
}
/* line 270, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_wrap {
  width: 244px;
  padding: 0 10px;
}
/* line 273, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress {
  padding-bottom: 20px;
}
/* line 275, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_bar {
  width: 244px;
}
/* line 277, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_info {
  padding: 0 10px;
  width: 244px;
}
/* line 280, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_info ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li:first-child, body#site #embed .project_box .project_progress .progress_info ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li:last-child, body#site #embed .project_box .project_progress .progress_info ul li.last {
  padding-right: 0px;
}
/* line 283, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev, body#site .navigation .next {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  top: 0;
  width: 20px;
  height: 388px;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background-color: #6ab9e0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ab9e0), color-stop(100%, #6ab9e0));
  background-image: -moz-linear-gradient(top, #6ab9e0 0%, #6ab9e0 100%);
  background-image: linear-gradient(top, #6ab9e0 0%, #6ab9e0 100%);
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  font-size: 20px;
  line-height: 20px;
}
/* line 296, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:hover, body#site .navigation .next:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  width: 24px;
}
/* line 299, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:disabled, body#site .navigation .next:disabled {
  color: #a1a1a1;
  border: none;
  text-shadow: transparent 0 0 0;
  background-color: #c8c8c8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8c8c8), color-stop(100%, #c8c8c8));
  background-image: -moz-linear-gradient(top, #c8c8c8 0%, #c8c8c8 100%);
  background-image: linear-gradient(top, #c8c8c8 0%, #c8c8c8 100%);
}
/* line 305, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:disabled:hover, body#site .navigation .next:disabled:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  width: 20px;
}
/* line 308, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev {
  left: -6px !important;
}
/* line 310, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:hover {
  left: -10px !important;
}
/* line 313, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:disabled:hover {
  left: -6px !important;
}
/* line 315, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .next {
  right: -6px !important;
}
/* line 317, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .next:hover {
  right: -10px !important;
}
/* line 320, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .next:disabled:hover {
  right: -6px !important;
}
/* line 323, ../../../app/stylesheets/sites/multidao.sass */
body#site .on_the_spot_editing:after {
  content: " " url(/images/sites/multidao/pencil.png);
}
/* line 326, ../../../app/stylesheets/sites/multidao.sass */
body#site #explore_projects #explore_menu {
  margin-left: 0;
  width: 300px;
  text-transform: lowercase;
}
/* line 331, ../../../app/stylesheets/sites/multidao.sass */
body#site #explore_projects #explore_menu ul li a {
  text-transform: lowercase;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #c3c3c3;
  color: white;
}
/* line 338, ../../../app/stylesheets/sites/multidao.sass */
body#site #explore_projects #explore_menu ul li a.selected, body#site #explore_projects #explore_menu ul li a:hover {
  background-color: #6ab9e0;
  text-shadow: transparent 0 0 0;
}
/* line 341, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_header {
  padding: 0;
}
/* line 343, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_header h1, body#site #project_header h2 {
  text-transform: none !important;
}
/* line 347, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_menu ul li:first-child, body#site #project_description #project_menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_menu ul li:last-child, body#site #project_description #project_menu ul li.last {
  padding-right: 0px;
}
/* line 350, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul li a {
  width: 129px;
  background-color: #c3c3c3;
  color: white;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 14px;
}
/* line 357, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul li a .count {
  color: #878787;
  font-size: 12px;
  margin-left: 4px;
}
/* line 361, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul li a:hover {
  background-color: #6abadf;
  text-shadow: transparent 0 0 0;
}
/* line 365, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul li.selected a {
  background-color: #6abadf;
  text-shadow: transparent 0 0 0;
}
/* line 368, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_menu ul li.selected img {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
/* line 374, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video iframe {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 376, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share {
  background-color: #dddddd;
  width: 100%;
  margin-top: 8px;
  padding: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #1f2935;
  line-height: 33px;
}
/* line 390, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_video #project_share ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_video #project_share ul li:first-child, body#site #project_description #project_video #project_share ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #project_description #project_video #project_share ul li:last-child, body#site #project_description #project_video #project_share ul li.last {
  padding-right: 0px;
}
/* line 393, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li {
  padding-top: 16px;
  padding-bottom: 16px;
  border-right: 1px solid white;
}
/* line 397, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li:first-child {
  padding-left: 16px;
}
/* line 399, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li:last-child {
  border: none;
}
/* line 402, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li.social a {
  font-size: 14px;
  text-transform: lowercase;
  font-weight: bold;
  color: #1f4957;
}
/* line 407, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li.social a:hover {
  color: #5f8997;
}
/* line 409, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share ul li.link {
  text-transform: uppercase;
}
/* line 411, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share a {
  text-transform: uppercase;
  color: #1f2935;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 415, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share a:hover {
  color: #5f6975;
  text-shadow: transparent 0 0 0;
}
/* line 418, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share img, body#site #project_description #project_video #project_share a img {
  width: 32px;
  margin-right: 4px;
}
/* line 421, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share input {
  border: 1px solid #cccccc;
}
/* line 423, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_video #project_share h1 {
  font-weight: normal;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding-left: 16px !important;
  border-bottom: 1px solid white;
}
/* line 429, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_description #project_about {
  font-size: 16px;
  line-height: 18px;
}
/* line 432, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info {
  margin-top: -20px;
  float: right;
  width: 308px;
}
/* line 436, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project {
  background-color: #e4e4e4;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
}
/* line 441, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .info {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 16px;
}
/* line 445, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .number {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  margin-top: 6px;
}
/* line 451, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .project_progress {
  display: none;
}
/* line 453, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .project_warning {
  margin: 0 8px;
  font-size: 11px;
  line-height: 14px;
  text-shadow: transparent 0 0 0;
}
/* line 458, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .successful, body#site #project_back_info #back_project .not_successful, body#site #project_back_info #back_project .waiting_confirmation {
  background: #888888;
}
/* line 460, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project .successful .text, body#site #project_back_info #back_project .not_successful .text, body#site #project_back_info #back_project .waiting_confirmation .text {
  background-color: inherit;
}
/* line 462, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project form {
  text-align: center;
}
/* line 464, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project form input[type=submit] {
  text-shadow: transparent 0 0 0;
  background-color: #8aca52;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8aca52), color-stop(50%, #8aca52), color-stop(51%, #74ad44), color-stop(100%, #74ad44));
  background-image: -moz-linear-gradient(top, #8aca52 0%, #8aca52 50%, #74ad44 51%, #74ad44 100%);
  background-image: linear-gradient(top, #8aca52 0%, #8aca52 50%, #74ad44 51%, #74ad44 100%);
  text-transform: lowercase;
  font-weight: normal;
  font-size: 20px;
  padding: 17px 24px;
}
/* line 472, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project form input[type=submit]:hover {
  background-color: #8aca52;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8fcf57), color-stop(50%, #8fcf57), color-stop(51%, #79b249), color-stop(100%, #79b249));
  background-image: -moz-linear-gradient(top, #8fcf57 0%, #8fcf57 50%, #79b249 51%, #79b249 100%);
  background-image: linear-gradient(top, #8fcf57 0%, #8fcf57 50%, #79b249 51%, #79b249 100%);
  text-shadow: transparent 0 0 0;
}
/* line 476, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project form input[type=submit]:active {
  padding: 18px 23px 16px 25px;
  text-shadow: transparent 0 0 0;
}
/* line 479, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #back_project form input[type=submit]:disabled {
  color: #888888;
  text-shadow: transparent 0 0 0;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aaaaaa), color-stop(50%, #aaaaaa), color-stop(51%, #bbbbbb), color-stop(100%, #bbbbbb));
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #aaaaaa 50%, #bbbbbb 51%, #bbbbbb 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #aaaaaa 50%, #bbbbbb 51%, #bbbbbb 100%);
  text-transform: lowercase;
  font-weight: normal;
  font-size: 20px;
  padding: 17px 24px;
}
/* line 488, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  margin-top: 13px;
}
/* line 492, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards h1 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  padding-left: 24px;
  text-transform: lowercase;
  text-shadow: transparent 0 0 0;
  background-color: #6abae0 !important;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 503, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards h1 #rewards_left_border {
  top: 38px;
  left: 40px;
}
/* line 506, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards h1 #rewards_right_border {
  display: none;
}
/* line 508, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards ul {
  background-color: #e4e4e4;
  border: none;
}
/* line 511, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards ul h1 {
  text-transform: none;
  font-weight: bold;
  color: #3c3c3c !important;
  text-shadow: transparent 0 0 0;
  padding: 10px 0 !important;
}
/* line 517, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards ul li {
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  line-height: 18px;
}
/* line 521, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards ul li.clickable:hover {
  background-color: #c8dcb7;
}
/* line 523, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards .reward_backers {
  text-align: left;
  font-size: 10px;
  line-height: 25px;
}
/* line 527, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_back_info #rewards .reward_backers img {
  width: auto;
  float: left;
  margin: 0 4px 0 0;
}
/* line 531, ../../../app/stylesheets/sites/multidao.sass */
body#site #how_it_works {
  background-color: #d3e9f4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  text-shadow: transparent 0 0 0;
}
/* line 536, ../../../app/stylesheets/sites/multidao.sass */
body#site #how_it_works strong {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 538, ../../../app/stylesheets/sites/multidao.sass */
body#site #how_it_works #show_tips {
  margin-top: 16px;
}
/* line 540, ../../../app/stylesheets/sites/multidao.sass */
body#site #how_it_works #show_tips a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #679c08;
  font-weight: normal;
}
/* line 544, ../../../app/stylesheets/sites/multidao.sass */
body#site #how_it_works #show_tips a:hover {
  color: #87bc28;
}
/* line 547, ../../../app/stylesheets/sites/multidao.sass */
body#site #guidelines_form label {
  color: #5d8838;
}
/* line 550, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed iframe {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 552, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding: 4px 0 8px 0;
}
/* line 556, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h1 a {
  color: #6ab9e0;
  text-shadow: transparent 0 0 0;
}
/* line 559, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h1 a:hover {
  color: #7ecdf4;
}
/* line 561, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h2 {
  text-shadow: transparent 0 0 0;
}
/* line 563, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h2 a {
  color: #6ab9e0;
  text-shadow: transparent 0 0 0;
}
/* line 566, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed h2 a:hover {
  color: #7ecdf4;
}
/* line 571, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed #catarse_link h1 a img {
  height: 32px;
}
/* line 573, ../../../app/stylesheets/sites/multidao.sass */
body#site #video_embed #catarse_link h1 a:hover {
  text-shadow: transparent 0 0 0;
}
/* line 575, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_warning {
  background-color: #d3e9f4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
}
/* line 580, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .image {
  padding: 8px 20px 20px 20px;
}
/* line 582, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .image img {
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
}
/* line 585, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h1, body#site #profile_header .info h2 {
  text-transform: none !important;
}
/* line 587, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h1 .on_the_spot_mouseover, body#site #profile_header .info h2 .on_the_spot_mouseover {
  background-color: rgba(0, 150, 0, 0.2);
}
/* line 591, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h1 .on_the_spot_editing form input, body#site #profile_header .info h1 .on_the_spot_editing form textarea, body#site #profile_header .info h2 .on_the_spot_editing form input, body#site #profile_header .info h2 .on_the_spot_editing form textarea {
  background-color: rgba(0, 150, 0, 0.2);
}
/* line 596, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h1 .on_the_spot_editing form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 602, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h2 .on_the_spot_editing form textarea.ok {
  background: rgba(0, 150, 0, 0.2) url("/images/sites/multidao/tick.png") no-repeat 96% center;
}
/* line 604, ../../../app/stylesheets/sites/multidao.sass */
body#site #profile_header .info h2 .on_the_spot_editing form textarea.error {
  background: rgba(0, 150, 0, 0.2) url("/images/site/multidao/delete.png") no-repeat 96% center;
}
/* line 606, ../../../app/stylesheets/sites/multidao.sass */
body#site #user_feed {
  color: #444444;
  font-size: 18px;
  line-height: 24px;
}
/* line 610, ../../../app/stylesheets/sites/multidao.sass */
body#site #user_feed h1 {
  text-transform: lowercase;
  font-size: 22px !important;
}
/* line 613, ../../../app/stylesheets/sites/multidao.sass */
body#site #user_feed img.project {
  width: 265px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
}
/* line 616, ../../../app/stylesheets/sites/multidao.sass */
body#site #user_feed a {
  font-size: 18px;
  line-height: 24px;
}
/* line 619, ../../../app/stylesheets/sites/multidao.sass */
body#site #user_feed #gravatar_hint {
  background-color: #d3e9f4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 624, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review {
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  margin: 0 10px;
}
/* line 629, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review #review_text {
  font-size: 20px;
  margin: 20px 0;
}
/* line 632, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review #review_text .reward {
  font-style: italic;
}
/* line 634, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review #credits_notice {
  background-color: #d3e9f4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: transparent 0 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px 0;
}
/* line 639, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review img#project_image {
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
}
/* line 641, ../../../app/stylesheets/sites/multidao.sass */
body#site #project_review h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding-top: 0 !important;
  font-size: 26px !important;
}
/* line 646, ../../../app/stylesheets/sites/multidao.sass */
body#site #thank_you img#project_image {
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
}
/* line 648, ../../../app/stylesheets/sites/multidao.sass */
body#site #thank_you h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding-top: 0 !important;
  font-size: 26px !important;
}
/* line 654, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form .important {
  background-color: #d3e9f4;
}
/* line 656, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form input.ok, body#site #back_options #backer_form textarea.ok {
  background: url("/images/sites/multidao/tick_big.png") no-repeat 96% center;
}
/* line 658, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form input.error, body#site #back_options #backer_form textarea.error {
  background: url("/images/sites/multidao/delete_big.png") no-repeat 96% center;
}
/* line 660, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form #backer_credits_input {
  background-color: #dddbd1;
  border: 3px solid #dddbd1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
}
/* line 665, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #444444;
}
/* line 670, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form li.radio ol {
  background-color: transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 674, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form li.radio ol li {
  background-color: #e7f2d4;
  border: 1px solid #bfc4c0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 2px 6px 0;
  margin-bottom: 12px;
}
/* line 680, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form li.radio ol li:first-child {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 682, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form li.radio ol li:last-child {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bfc4c0;
  margin-bottom: 0;
}
/* line 686, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_options #backer_form li.radio ol li:hover {
  background-color: #d5f0a3;
  border: 1px solid #7eae26;
}
/* line 690, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_info img {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  border: 3px solid #dddddd;
  width: 140px;
}
/* line 695, ../../../app/stylesheets/sites/multidao.sass */
body#site #back_info #project_info .project_expires_at {
  text-transform: lowercase;
}
