/* line 3, ../../../app/stylesheets/sites/multidao.sass */
body#site {
  background: white;
  text-shadow: transparent 0px 0px 0px;
}
/* line 6, ../../../app/stylesheets/sites/multidao.sass */
body#site a {
  color: #6ab9e0;
}
/* line 8, ../../../app/stylesheets/sites/multidao.sass */
body#site a:hover {
  color: #6ebde4;
}
/* line 10, ../../../app/stylesheets/sites/multidao.sass */
body#site #pre_header {
  background-color: #6ab9e0;
}
/* line 12, ../../../app/stylesheets/sites/multidao.sass */
body#site #menu {
  text-transform: lowercase;
}
/* line 15, ../../../app/stylesheets/sites/multidao.sass */
body#site #user a {
  color: #aaaaaa;
}
/* line 17, ../../../app/stylesheets/sites/multidao.sass */
body#site #user a img#display_image {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  border: 1px solid #aaaaaa;
}
/* line 20, ../../../app/stylesheets/sites/multidao.sass */
body#site #user .hover {
  color: #eeeeee;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px;
  background-color: #0c0c0c;
  background-color: rgba(12, 12, 12, 0.9);
}
/* line 25, ../../../app/stylesheets/sites/multidao.sass */
body#site #user .hover img#display_image {
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
}
/* line 27, ../../../app/stylesheets/sites/multidao.sass */
body#site #main {
  width: 100%;
}
/* line 29, ../../../app/stylesheets/sites/multidao.sass */
body#site #header_wrapper {
  background: #222222;
}
/* line 31, ../../../app/stylesheets/sites/multidao.sass */
body#site #header {
  width: 890px;
  margin: 0 auto;
}
/* line 34, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 {
  font-family: "museo-500";
}
/* line 36, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 a {
  color: white;
  font-size: 36px;
  text-shadow: transparent 0px 0px 0px;
}
/* line 40, ../../../app/stylesheets/sites/multidao.sass */
body#site #header h1 a:hover {
  text-shadow: transparent 0px 0px 0px;
}
/* line 42, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_header_wrapper {
  background: #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 5px 0px inset;
}
/* line 45, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper {
  background: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}
/* line 48, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header {
  width: 890px;
  padding: 32px 0;
  margin: 0 auto;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  background-color: transparent;
  color: #3c3c3c;
  text-shadow: transparent 0px 0px 0px;
}
/* line 57, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38px;
  text-transform: lowercase;
  text-align: left;
  font-weight: bold;
  text-shadow: transparent 0px 0px 0px;
}
/* line 64, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content_header h2 {
  text-shadow: transparent 0px 0px 0px;
  text-transform: lowercase;
  text-align: left;
  padding: 0;
}
/* line 69, ../../../app/stylesheets/sites/multidao.sass */
body#site #content_wrapper #content {
  width: 936px;
  padding: 40px 0;
  margin: 0 auto;
}
/* line 73, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer {
  background: #252525;
  text-transform: lowercase;
}
/* line 76, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu {
  width: 800px;
}
/* line 78, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 48px;
  padding-right: 48px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:first-child, body#site #footer #footer_menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #footer_menu ul li:last-child, body#site #footer #footer_menu ul li.last {
  padding-right: 0px;
}
/* line 81, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #footer_menu ul li a {
  font-weight: normal;
  color: white;
}
/* line 84, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu {
  width: 800px;
}
/* line 86, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu img {
  margin-right: 4px;
  height: 32px;
}
/* line 89, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 26px;
  padding-right: 26px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:first-child, body#site #footer #social_menu ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #footer #social_menu ul li:last-child, body#site #footer #social_menu ul li.last {
  padding-right: 0px;
}
/* line 92, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #social_menu ul li a {
  font-weight: normal;
  color: #aaaaaa;
}
/* line 95, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #colophon {
  width: 936px;
}
/* line 97, ../../../app/stylesheets/sites/multidao.sass */
body#site #footer #colophon img {
  vertical-align: middle;
}
/* line 99, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_list_header {
  text-transform: lowercase;
}
/* line 101, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_list_wrapper {
  height: 448px;
}
/* line 103, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box {
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  color: #999999;
  margin-bottom: 48px;
}
/* line 108, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .status_image {
  top: 0;
  left: 0;
}
/* line 112, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  color: #4c525e !important;
}
/* line 116, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header .project_image {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  height: 195px;
  width: 264px;
  margin: 0;
  margin-bottom: 6px;
}
/* line 122, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header .project_image img {
  max-width: 264px;
  height: 195px;
  width: 264px;
}
/* line 126, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_header a:hover {
  text-shadow: transparent 0 0 0;
}
/* line 128, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_category {
  text-align: left;
  text-transform: lowercase;
  font-size: 12px;
  top: 169px;
  width: 244px;
}
/* line 134, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_owner {
  padding-top: 4px;
}
/* line 136, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_wrap {
  min-height: 320px;
  width: 264px;
  padding: 0;
}
/* line 140, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress {
  text-transform: none;
  color: #999999;
  background: transparent;
  padding: 10px 0;
  font-size: 11px;
}
/* line 146, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_bar {
  font-size: 4px;
  line-height: 10px;
  width: 264px;
}
/* line 150, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info {
  text-transform: uppercase;
  width: 264px;
  margin: 0 auto;
}
/* line 152, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info strong {
  color: #4c525e;
  text-transform: none;
}
/* line 157, ../../../app/stylesheets/sites/multidao.sass */
body#site .project_box .project_progress .progress_info ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 18px;
  padding-right: 18px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li:first-child, body#site .project_box .project_progress .progress_info ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site .project_box .project_progress .progress_info ul li:last-child, body#site .project_box .project_progress .progress_info ul li.last {
  padding-right: 0px;
}
/* line 159, ../../../app/stylesheets/sites/multidao.sass */
body#site .progress_bar {
  background-color: #ced3cf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 162, ../../../app/stylesheets/sites/multidao.sass */
body#site .progress_bar .progress {
  background-color: #8bcb53;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 168, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_header .project_image {
  margin: -10px 0 6px -10px;
}
/* line 170, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_wrap {
  width: 244px;
  padding: 0 10px;
}
/* line 174, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_bar {
  width: 244px;
}
/* line 176, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_info {
  padding: 0 10px;
  width: 244px;
}
/* line 179, ../../../app/stylesheets/sites/multidao.sass */
body#site #embed .project_box .project_progress .progress_info ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li:first-child, body#site #embed .project_box .project_progress .progress_info ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body#site #embed .project_box .project_progress .progress_info ul li:last-child, body#site #embed .project_box .project_progress .progress_info ul li.last {
  padding-right: 0px;
}
/* line 182, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev, body#site .navigation .next {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  top: 0;
  width: 20px;
  height: 388px;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background-color: #6ab9e0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ab9e0), color-stop(100%, #6ab9e0));
  background-image: -moz-linear-gradient(top, #6ab9e0 0%, #6ab9e0 100%);
  background-image: linear-gradient(top, #6ab9e0 0%, #6ab9e0 100%);
  -moz-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  font-size: 20px;
  line-height: 20px;
}
/* line 195, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:hover, body#site .navigation .next:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 197, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:disabled, body#site .navigation .next:disabled {
  color: #a1a1a1;
  border: none;
  text-shadow: transparent 0 0 0;
  background-color: #c8c8c8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8c8c8), color-stop(100%, #c8c8c8));
  background-image: -moz-linear-gradient(top, #c8c8c8 0%, #c8c8c8 100%);
  background-image: linear-gradient(top, #c8c8c8 0%, #c8c8c8 100%);
}
/* line 203, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev:disabled:hover, body#site .navigation .next:disabled:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 205, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .prev {
  left: -6px !important;
}
/* line 207, ../../../app/stylesheets/sites/multidao.sass */
body#site .navigation .next {
  right: -6px !important;
}
/* line 210, ../../../app/stylesheets/sites/multidao.sass */
body#site .on_the_spot_editing:after {
  content: " " url(/images/sites/multidao/pencil.png);
}
/* line 216, ../../../app/stylesheets/sites/multidao.sass */
body#site #explore_projects #explore_menu ul li a.selected, body#site #explore_projects #explore_menu ul li a:hover {
  background-color: #6ab9e0;
  text-shadow: transparent 0 0 0;
}
