/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: white;
  background: #333333 url(/images/multidao/bg_multidao.png);
}
/* line 11, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #content {
  width: 100%;
}
/* line 13, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao .wrapper {
  width: 810px;
  margin: 0 auto;
}
/* line 16, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #shares {
  margin-top: 24px;
}
/* line 18, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #box {
  margin-top: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background-color: #7796c9;
  padding: 28px;
}
/* line 23, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #box p {
  padding-top: 18px;
}
/* line 25, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #box a {
  color: #a7dc48;
  text-decoration: none;
}
/* line 28, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #box a:hover {
  text-decoration: underline;
}
/* line 30, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #catarse {
  margin-top: 20px;
}
/* line 32, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #catarse .logo {
  float: left;
  margin-left: 60px;
}
/* line 35, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #catarse .click {
  margin-top: 24px;
  margin-right: 60px;
  float: right;
}
/* line 39, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #embeds {
  padding-top: 20px;
  clear: both;
}
/* line 42, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #comum {
  padding-top: 36px;
  text-align: center;
  clear: both;
  font-size: 14px;
  opacity: 0.45;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
}
/* line 48, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #comum img {
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 16px;
}
/* line 52, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #comum a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 56, ../../../app/stylesheets/sites/new_multidao.sass */
body#multidao #comum a:hover {
  text-decoration: underline;
}
