@import "compass/css3"
body#site
  background: #fff
  +text-shadow(#fff, 0px, 0px, 0px)
  a
    color: #6ab9e0
  a:hover
    color: #6ebde4
  #pre_header
    background-color: #6ab9e0
  #menu
    text-transform: lowercase
  #main
    width: 100%
  #header_wrapper
    background: #222
  #header
    width: 890px
    margin: 0 auto
    h1 a
      color: #fff
      font-family: "museo-700"
      font-size: 36px
  #content_header_wrapper
    background: #e5e5e5
  #content_wrapper
    background: #fff
    +border-radius(0px)
    +box-shadow(#fff, 0, 0, 0)
    #content_header
      width: 890px
      padding: 20px 0
      margin: 0 auto
      +border-radius(0px)
      +box-shadow(#fff, 0, 0, 0)
      background-color: transparent
      h1
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        color: #000
        font-size: 38px
        text-transform: lowercase
        text-align: left
        +text-shadow(#fff, 0, 0, 0)
        font-weight: bold
    #content
      width: 936px
      padding: 40px 0
      margin: 0 auto
  #footer
    background: #333

