- project = @notification.project
- bank_account = project.user.bank_account
|O projeto #{link_to(project.name, project_by_slug_url(project.permalink))} acabou de atingir seu prazo.
br
br
| Nome do projeto: #{project.name}
br/
| Valor arrecadado: #{project.display_pledged}
br/
| Data de finalização: #{project.display_expires_at}
br/
| Conta Moip: #{project.user.moip_login}
br/
br/
'Dados Bancarios:'
br/
| Banco: #{bank_account.try(:name)}
br/
| Agência: #{bank_account.try(:agency)}- #{bank_account.try(:agency_digit)}
br/
| Conta: #{bank_account.try(:account)} - #{bank_account.try(:account_digit)}
br/
| Nome do titular: #{bank_account.try(:user_name)}
br/
| CPF: #{bank_account.try(:user_document)}
