- contribution = @notification.contribution
- payment = @notification.contribution.payments.last

p Notice about new chargeback

p Project Status: #{contribution.project.state}

p Supporter's name: #{contribution.user.display_name}
p Supporter phone: #{contribution.user.phone_number}
p Support Email: #{contribution.user.email}
p Value of support: #{number_to_currency contribution.value, precision: 2}

p ID pay me: #{payment.gateway_id}
p TID stone:  #{payment.gateway_data['acquirer_tid']}
p Project name: #{contribution.project.name}
p Director phone: #{contribution.project.user.phone_number}
p Email of the director: #{contribution.project.user.email}
