- user = @notification.user

| Olá #{user.name},
br/
br/
strong
  |Lamentamos informar que o projeto #{link_to 'Caixola uma caixa para o inesperado' , 'https://www.catarse.me/caixola_uma_caixa_para_o_inesperado'} -  está oficialmente suspenso no Catarse.
p
| Recentemente recebemos uma <strong>Ordem Judicial de bloqueio dos recursos arrecadados</strong> pelo projeto #{link_to 'Caixola uma caixa para o inesperado' , 'https://www.catarse.me/caixola_uma_caixa_para_o_inesperado'} proveniente de <strong>processo número 1120682-02.2016.8.26.0100 da 27ª Vara Cível Central de São Paulo, do qual o Catarse não é parte</strong>, onde  há uma discussão a respeito de possível violação de propriedade intelectual envolvendo o site LE LIVROS, tendo sido levantada a suspeita de vinculação entre o projeto #{link_to 'Caixola' , 'https://www.catarse.me/caixola_uma_caixa_para_o_inesperado'} e referido site.
p
  |A ordem judicial recebida decorreu do fato de o Catarse ser o administrador dos valores depositados em apoio ao projeto Caixola, sendo que, no momento, não cabe a nós outra atitude que não a de <strong>suspender o projeto até que a disputa judicial seja resolvida.</strong>


br
br
strong Assim, devido à ordem judicial de bloqueio:
ul
  li
    |não repassaremos o valor arrecadado ao projeto #{link_to 'Caixola' , 'https://www.catarse.me/caixola_uma_caixa_para_o_inesperado'};
  li
    |não temos como promover o reembolso do seu apoio.
br/
br/
|O projeto ficará com status "Aguardando Pagamentos" até que haja uma decisão judicial definitiva, necessária para avaliar as medidas mais apropriadas, apoiadas primeiramente na legislação brasileira, mas também em nossos #{link_to 'Termos de Uso', 'https://www.catarse.me/pt/terms-of-use'} e #{link_to 'Diretrizes Internas', 'http://suporte.catarse.me/hc/pt-br/articles/202387638-diretrizes-para-cria%25c3%25a7%25c3%25a3o-de-projetos'}.
p
  |Nosso princial objetivo, além de cumprir a legislação brasileira, é preservar os usuários do Catarse que têm ciência de seu dever em respeitar o cumprimento da lei, dos Termos de Uso e das Diretrizes Internas da plataforma.
p
  |<strong>Manteremos você e todos os apoiadores informados sobre a evolução do caso</strong>, dentro de nossas possibilidades.
p
  |Dúvidas com relação ao projeto Caixola e ao processo aqui em questão deverão ser endereçadas <strong>exclusivamente ao realizador do projeto e/ou ao responsável legal indicado por ele. Seguem abaixo os dados</strong> do realizador e do responsável pelo projeto (também presente no recibo provisório do seu apoio):
br
br
strong Realizador
br
br
|Nome: Caixola - Livro Box
br
|Email: #{mail_to 'livrobox@gmail.com'}
br
|CPF: 051.396.929-29
br
br
strong Responsável Legal
br
|Nome: FLORIANO LIVROS EIRELI - ME
br
|Email:  #{mail_to 'livrobox@gmail.com'}
br
|CNPJ: 25.228.392/0001-71
br
br
strong Equipe Catarse 
br
|#{link_to 'www.catarse.me', 'https://catarse.me'}
