|Oi pessoal,
br
br
|Depois que enviamos (no dia 28/11/2016) a notificação sobre a suspensão do projeto Caixola, percebemos que muitos de vocês ficaram assustados ou não entenderam muito bem o que aconteceu e quais são os próximos passos, agora que o projeto foi suspenso.
br
br
|Enviamos a notificação porque,<strong> como apoiadores, vocês têm direito</strong> de saber o que está acontecendo e de acompanhar o desenrolar do caso integralmente. Por isso, sempre que pudermos atualizaremos vocês aqui por email.
br
br
|Aqui no Catarse acreditamos em uma nova forma de tirar projetos do papel e em um novo jeito de as pessoas se relacionarem. Para nós o financiamento coletivo não funciona sem abertura, transparência e confiança. Estamos tão frustrados quanto vocês e <strong>estamos focados em buscar, o mais rápido possível, a solução desse caso e a garantia dos direitos de todos os usuários do Catarse.</strong> 
br
br
|No momento, preparamos uma lista de <strong>6 perguntas e respostas</strong> bem objetivas e esperamos que isso ajude a clarear a situação para todos:
br
br
h2 O que aconteceu?
br
strong 1. Por que o dinheiro arrecadado no Catarse pelo projeto Caixola foi bloqueado?
br
|O dinheiro arrecadado foi bloqueado devido a <strong>suspeita levantada pelo poder judiciário</strong> de haver uma ligação entre o projeto Caixola, hospedado no Catarse, e o site Le Livros, acusado de possível infração de propriedade intelectual.<strong> O bloqueio do dinheiro foi uma decisão do juiz responsável pelo processo no qual a suspeita foi levantada.</strong>
br
br


ul
  li
    |O bloqueio do dinheiro, por decisão do juiz, aconteceu no dia 09/11/2016, sem qualquer aviso prévio ao Catarse. 

  li
    |Depois que conseguimos reunir as informações necessárias, notificamos os responsáveis pelo projeto Caixola por e-mail no dia 17/11/2016 e novamente por telefone no dia 18/11/2016.
  li
    |Como não conseguimos maiores esclarecimentos junto aos responsáveis pelo projeto Caixola, suspendemos o projeto no dia 28/11/2016 e, no mesmo dia, notificamos todos os apoiadores.
br
|Vale ressaltar que: <strong>em quase 6 anos de funcionamento do Catarse, essa é a primeira vez que sofremos um bloqueio judicial.</strong>
br
br


strong 2. Por que o Catarse suspendeu o projeto Caixola?
br
|A suspensão do projeto é uma <strong>medida de segurança</strong> protocolar do Catarse em casos onde não temos os poderes para averiguar a veracidade dos fatos. O Catarse não pode nem tem as competências para avaliar se há ou não uma ligação entre o projeto Caixola e o site Le Livros. <strong>Esses esclarecimentos cabem apenas ao juiz que determinou o bloqueio e aos responsáveis pelo projeto Caixola e pelo site Le Livros</strong>. Dessa forma, enquanto plataforma, somos obrigados pela lei a aguardar até que o juiz tome uma decisão para que possamos tomar alguma atitude.<strong> Até lá manteremos o projeto Caixola em suspensão provisória.</strong>
br
br
strong 3. O Catarse está segurando o dinheiro arrecadado pelo projeto Caixola?
br
|<strong>Não</strong>. Depois que o dinheiro arrecadado foi bloqueado na conta do Catarse ele foi transferido pelo juiz para uma <strong>conta em juízo a qual nem o Catarse nem o realizador do projeto Caixola têm acesso.</strong> Já nos manifestamos em juízo e estamos aguardando uma decisão do juiz.
br
br

h2 Quais são os próximos passos?
br
strong 4. O Catarse vai me reembolsar?
br
|Como o dinheiro do projeto não está na nossa conta (foi transferido pelo juiz para uma conta em juízo), <strong>por hora não conseguimos realizar nenhum reembolso. Precisamos aguardar a decisão judicial</strong> pois, não podemos tomar nenhuma atitude que venha a ser diferente da decisão final do juiz. <strong>Estamos trabalhando para resolver o problema o mais rapidamente possível.</strong> Também estamos muito aborrecidos com essa situação, mas <strong>no momento</strong> não há nada mais que possamos fazer a não ser aguardar a decisão do juiz.
br
br
strong 5. E como fica a minha recompensa? 
br
|Se você tem dúvidas com relação a realização do projeto Caixola, entrega das recompensas e outras informações a respeito do projeto, <strong>recomendamos falar diretamente com o realizador ou com o responsável legal</strong> indicado por ele, pois nós do Catarse não podemos responder por eles e não temos essas informações para passar para vocês.

br
br

strong 6. Quando essa história vai acabar? Quando sai a decisão judicial?
br
|Infelizmente, não sabemos. Estamos fazendo tudo o que podemos para contribuir com uma resolução rápida do caso mas o tema central desse esclarecimento não diz respeito ao Catarse e sim aos responsáveis pelo projeto Caixola e pelo site Le Livros.

br
br
|Pedimos desculpas por todo esse inconveniente. Seguiremos atualizando vocês sempre que tivermos mais informações sobre o caso. 


|Obrigado.
br
|Atenciosamente,
br
|Equipe Catarse
br
|#{link_to 'www.catarse.me', 'https://catarse.me'}
 

