- user = @notification.user
- category = @notification.category

| Hello #{user.name},
br/
br/
| What's new in this category #{category.name_en} of Grasruts
br/
br/
- category.projects.of_current_week.with_state('online').each do |project|
  |#{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'notificacao_subscription_category'))}
  br
  |#{project.headline}
  br
  br
br/
br/
|A hug,
br/
| #{CatarseSettings[:company_name]}
br/
br/
| #{link_to 'Describe', unsubscribe_category_url(category), target:'__blank'} The receipt of recent projects of this category.
