- contribution = @notification.contribution
- details = contribution.details.first

|Hello, #{contribution.user.name}!
br
br
| Unfortunately the project #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} That you supported did not reach the target set in #{CatarseSettings[:company_name]}.
br
br
| That you supported did not meet the target set in. In 5 working days, we will repay the amount of your support, which <strong> will come as credit in the next or
| Subsequent billing of your card </strong>. Once the refund is done, you will receive an email confirming the transaction.
br
br
p Refund amount: #{number_to_currency details.value}

p Refund claim date: #{details.pending_refund_at.try(:to_date)}

p Identification on the credit card invoice: "Chargeback"

| If you have any questions, please contact us by replying to this message or via email #{mail_to CatarseSettings[:email_contact]}
| And give us the key to identify your support, which is: #{details.gateway_id}
br
br
|A hug,
br
| #{CatarseSettings[:company_name]}
