- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

p Olá, <strong>#{contribution.user.display_name}</strong>!
p
  | Não recebemos a confirmação de pagamento do boleto gerado para o projeto #{link_to contribution.project.name, project_by_slug_url(contribution.project.permalink, {ref: 'notificacao_cancelado',utm_source:'notification',utm_medium:'email',utm_campaign:'contribution_canceled_slip_link',utm_content:contribution.project.name})}.
p Se você precisar de um prazo de vencimento maior, pode gerar sua segunda via aqui:
center
  = link_to second_slip_project_contribution_url(contribution.project, contribution, host: CatarseSettings[:host]), target: '__blank' do
    = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/2nd_slip.png"

p Qualquer dúvida, basta entrar em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
p Um abraço,
br
| #{company_name}
