- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| Não recebemos a confirmação de pagamento do apoio para o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
br
br
|Recomendamos que você #{link_to 'tente novamente com um outro cartão de crédito.', new_project_contribution_path(contribution.project, ref: 'notificacao_cancelado')}. 
br
br
| Caso ainda não consiga finalizar sua contribuição entre em contato respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
br
br
|Um abraço,
br
| #{company_name}
