- contribution = @notification.contribution
- payment = contribution.payments.last
- user = @notification.contribution.user
- bank_account = user.bank_account

|Hi, #{contribution.user.display_name}!
br
br
| Unfortunately the project #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} That you supported did not reach the target set in #{CatarseSettings[:company_name]}.
br
br
| Because your support was billed, we will refund your account directly within 10 days.
br
br
| Bank: #{bank_account.bank.to_s}
br
| Agency: #{bank_account.try(:agency)} - #{bank_account.try(:agency_digit)}
br
| Account: #{bank_account.try(:account)} - #{bank_account.try(:account_digit)}
br
| Cardholder Name: #{bank_account.try(:owner_name)}
br
| CPF: #{bank_account.try(:owner_document)}
br
br
| Once the refund is done, you will receive an email confirming the transaction.
br
br
| If you have any questions, please contact us by replying to this message or via email #{mail_to CatarseSettings[:email_contact]}
| And give us the key to identify your support, which is: #{payment.gateway_id}
br
br
|A hug,
br
| #{CatarseSettings[:company_name]}

