- contribution = @notification.contribution

|Olá, #{contribution.user.name}!
br
br
| Infelizmente o projeto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))}
| que você apoiou não atingiu a meta estabelecida e não foi financiado no #{CatarseSettings[:company_name]}.
br
br
| Como o seu pagamento foi feito por boleto, segue os procedimentos que devem ser feitos para que possamos estornar o valor do seu apoio
br
br
| Como o seu apoio foi efetuado através de boleto, você precisa preencher seus
'  #{link_to 'dados bancários', settings_user_url(contribution.user)} para efetuarmos a transação em até 30 dias.
br
br
| Assim que o reembolso for feito, você receberá um e-mail de confirmação da operação.
br/
br/
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to CatarseSettings[:email_contact]} .Para agilizar o atendimento, pedimos que indique a chave de identificação do seu apoio, que é:
br/
| #{contribution.payment_id}
br
br
|Um abraço,
br
| #{CatarseSettings[:company_name]}
