- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | We did not receive the confirmation of payment for the ticket generated for the project #{link_to contribution.project.name, project_by_slug_url(contribution.project.permalink, {ref: 'notificacao_cancelado',utm_source:'notification',utm_medium:'email',utm_campaign:'contribution_canceled_slip_link',utm_content:contribution.project.name})}.
p If you need a longer maturity, you can generate your second way here:
center
  = link_to second_slip_project_contribution_url(contribution.project, contribution, host: CatarseSettings[:host]), target: '__blank' do
    = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/2nd_slip.png"

p Any questions, just contact us by replying to this message or via email #{mail_to contact_email}
p A hug,
br
| #{company_name}
