- contribution = @notification.contribution
|Projeto: #{contribution.project.name}
br
|Chave: #{contribution.key}
br
|Criado em: #{contribution.created_at}
br
|Confirmado em: #{contribution.payments.last.try(:paid_at)}
