- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| Vimos que você tentou apoiar o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')},mas não conseguimos processar o pagamento do seu apoio. 
br
| Você poderia tentar apoiar novamente? Para isso temos algumas sugestões:
br
|- Entre em contato com o seu banco autorizando o pagamento do seu apoio, depois de autorizado refazer seu apoio; ou
|- Se possível, utilize outro cartão de crédito; ou
|- Apoie através do boleto bancário
br
|#{link_to 'Não deixe isso te desanimar. Começe novamente seu apoio!', new_project_contribution_url(contribution.project, ref: 'notificacao_cancelado')} 
br
br
| Caso não consiga finalizar sua contribuição entre em contato respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
br
br
|Um abraço,
br
| #{company_name}
