- contribution = @notification.contribution
- payment = contribution.payments.last
|Projeto: #{contribution.project.name}
br/
|Chave do apoio: #{payment.key}
br/
|ID meio de pagamento: #{payment.gateway_id}
br/
br/
|Esse apoio recebeu uma notificação de cancelamento após já ter recebido uma notificação de confirmação.
br/
|Verifique no site do meio de pagamento o real status da transação e, se o apoio constar como confirmado, confirme-o no site do Catarse (adm/contributions)

