- user = @notification.donation.user
- amount = number_to_currency user.donations.where("created_at > current_timestamp - interval '1 day'").sum(:amount)
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

p Hello, <strong>#{user.display_name}</strong>!

p Thank you very much! Your donation is essential to keep this vibrant ecosystem of project viability that is Catoing independent and free. That way you help people to invest in innovation, then firmly in the mission to democratize collective financing in Brazil and to make practice a habit in the country.
p Here are all the details of the donation:
|Supporter's name: #{user.display_name}
br
|Supporter's CPF / CNPJ: #{user.cpf}
br
|Donation amount: #{amount}
br
|Name and Corporate Name of the JVN: COMMON GROUP CONSULTING AND INTERMEDIAÇÃO DE NEGÓCIOS LTDA
br
|CPV / CNPJ of the JVN: 14.512.425/0001-94
br
br
p As a simple way to thank you, we made this photo montage of our team thanking you from the heart!
center
  = image_tag "https://i.imgur.com/LUeb5gM.jpg", width: 550

p Any questions, just contact us by replying to this email or via email#{mail_to contact_email}
p A hug,
br
| #{company_name}
