- contribution ||= @notification.contribution
p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | Congratulations! The project #{link_to(contribution.project.name, project_by_slug_url(contribution.project.permalink, {utm_source:'notification',utm_medium:'email',utm_campaign:'contribution_project_successful_link',utm_content:contribution.project.name}))} what,
  | Including you had #{contribution.project.total_contributors} Supporters, was successfully funded in the#{CatarseSettings[:company_name]}.
p This email serves as a <strong> definitive receipt of your contribution </strong>.
= render partial: 'user_notifier/mailer/contribution_data', locals: {contribution: contribution}
