- contribution = @notification.contribution
- project = contribution.project
- payment = contribution.payments.last
|Remetente: #{contribution.user.email}
br/
|Projeto: #{project.name}
br/
|Chave do apoio: #{payment.key}
br/
|ID meio de pagamento: #{payment.gateway_id}
br/
br/
|Esse apoio recebeu uma notificação de cancelamento após já ter recebido uma notificação de confirmação. 
- if %w(waiting_funds failed).include?(project.state)
  |&nbsp;E o projeto já terminou o prazo para novos apoios.
br/
|Verifique no site do meio de pagamento o real status da transação e, se o apoio constar como confirmado, confirme-o no site do Catarse (adm/contributions)

