- contribution = @notification.contribution
|Project: #{contribution.project.name}
br
|Key: #{contribution.key}
br
|Created on: #{contribution.created_at}
br
|Confirmed in: #{contribution.payments.last.try(:paid_at)}
