- user = @notification.user

| Oi #{user.name},
br/
br/
| Para podermos simplificar ainda mais o processo de reembolsos, 
'  a partir de 10/11 #{link_to 'não existirão mais créditos no Catarse', 'http://blog.catarse.me/simplificacao-dos-reembolsos-e-o-fim-dos-creditos/', target: '__blank'}. É por isso que viemos aqui falar com você.
br/
br/
| Pelo que checamos, você já chegou a usar parte dos seus créditos, mas ainda tem #{user.display_credits} por aqui. É esse dinheiro que pode ajudar a fazer a diferença em um projeto em que você acredita. :-)
br/
br/
|Para apoiar um projeto, o processo é o mesmo:
br/
br/
| 1 - Escolher o projeto que quer apoiar;
br/
| 2 - Clicar em Apoiar este projeto;
br/
| 3 - Colocar o valor que quer apoiar e selecionar o campo confirmando que você quer usar seus créditos.
br/
| 4 - Clicar no botão Revisar e realizar pagamento na parte debaixo da tela;
br/
| 5 - Pronto! Seu apoio será confirmado =)
br/
br/
| <strong>Dicas de projetos</strong>
br/
br/
- user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'credits_warning_more_group'))}
  br/
  |#{project.headline}
  br/
  br/
br/
br/
| Caso você não utilize os créditos até o dia 10/11, entraremos em contato para realizar o reembolso.
br/
br/
| Se ficar com alguma dúvida, só nos avisar respondendo a este e-mail ou através do contato@catarse.me 
br/
br/
| Um abraço
br/
| Catarse




