p Oi #{@notification.user.display_name},

p Devido às mudanças que ocorreram na plataforma na noite de ontem, algumas instabilidades foram relatadas no acesso ao Catarse. Esses erros são bastante pontuais e estão acontecendo por conta da atualização do sistema. A previsão é que o site esteja totalmente estável em até 36h.

p Para que os projetos não sejam prejudicados por possíveis problemas de acesso, ofereceremos a extensão de prazo de 2 dias para queles que manifestarem interesse. Para isso, você deve enviar um email para projetos@catarse.me com o título "Extensão de prazo".

p Se ficar com alguma dúvida, só avisar.

p Abraço!

