|Olá #{@notification.contribution.user.display_name},
br
br
|Hoje pela manhã, foi enviado erroneamente um post do Blog do Catarse através do perfil do Projeto Mola.
br
br
|Pedimos que desconsidere essa notificação e nos desculpem pelo envio =/
br
br
|Abraços,
br
|Equipe Catarse

