- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hi #{project.user.name},
br/
br/
p You have created delivery rewards within 1 month, but you have not yet set a project end date. After the project closes, in 10 working days we will pass on the amount financed (discounting JVN fees). If this repassing impacts the production and delivery of the rewards, you need to finalize your campaign.
p To ensure that you receive the funds raised, before the estimated date for the delivery of the rewards, now set the deadline.

p
  center
    = link_to edit_project_url(project, anchor: 'announce_expiration'), target: '__blank' do
      = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/btn-definir-prazo.png"
br/
br/
| If you have any questions, reply to this message directly or contact us via email #{mail_to CatarseSettings[:email_projects]}.
br/
br/
| A hug,
br/
= company_name
