- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Oi #{project.user.name},
br/
br/
p Você criou recompensas com estimativa de entrega daqui a <strong>1 mês</strong>, porém ainda não definiu uma data de encerramento do seu projeto. 
p Vale lembrar que assim o prazo chega ao fim, alguns processos acontecem antes de o dinheiro chegar na sua conta:
p
  center
    | 1) Confirmação de boletos (aplicável apenas a campanhas com apoios pendentes) Duração: até 4 dias úteis
    br/
    | 2) Confirmação dos seus dados bancários na plataforma Duração: esse passo só depende de você
    br/
    | 3) Início do processo de repasse Duração: até 10 dias úteis <strong>após a confirmação dos dados.</strong>
br/
p É importante que você se certifique que a data de repasse do dinheiro não irá impactar a entrega das recompensas. Para te ajudar nesse cálculo, confira essa #{link_to "ferramenta", "http://fazum.catarse.me/calculadora-repasse", target: "__blank" }.
p Caso o processo de repasse possa impactar a entrega de recompensas, é importante que você finalize a sua campanha o quanto antes. Você pode fazer isso diretamente na página do seu projeto ou através do botão abaixo:
br/

p
  center
    = link_to edit_project_url(project, anchor: 'announce_expiration'), target: '__blank' do
      = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/btn-definir-prazo.png", height: '60px'
br/
br/
| Se ficou com alguma dúvida, responda a esta mensagem diretamente ou fale conosco através do e-mail #{mail_to CatarseSettings[:email_projects]}. 
br/
br/
| Um abraço,
br/
= company_name
