- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.name}!
br
br
| Muito obrigado por nos enviar o projeto #{link_to project.name, project_link, target: '__blank'}
br/
br/
| Apartir de agora, nossa equipe de projetos vai <strong>avaliar todo o conteúdo</strong> que você colocou na página e (em no máximo 4 dias úteis) 
'  você receberá um e-mail informando se ela foi <strong>Aprovada, Recusada</strong> ou se vai continuar <strong>Em Análise</strong> por mais algum tempo.
br
br
strong O que significa isso?
br/
br/
strong Página foi Recusada
br/
| O seu projeto não tem o perfil do #{company_name} e/ou encontramos informações que desrespeitam as nossas regras. Essa página não poderá ser publicada na plataforma.
br/
br/
strong Página continua Em Análise
br/
| O projeto tem o perfil do #{company_name} e está de acordo com as regras, só que a página ainda não está pronta para ser públicada na plataforma. Receba nossos comentários, dicas e sugestões. Finalize as edições na página do projeto e avise o nosso agente de suporte quando quiser que ele faça uma nova avaliação.
br/
br/
strong Página foi Aprovada 
br/
| Vamos em frente, iniciar a arrecadação só depende de você! Escolha a melhor data e publique a página do seu projeto na plataforma. 
br/
br/
strong
  | Para acompanhar a mudança de status da página do projeto #{link_to project.name, project_link, target: '__blank'} fique de olho na caixa de entrada do seu e-mail e na página do seu projeto.
br/
br/
| Lembrando que você pode tirar dúvidas conosco a qualquer momento respondendo diretamente a esta mensagem ou através do e-mail #{mail_to CatarseSettings[:email_projects]} 
br/
br/
|Um abraço,
br/
= company_name
