- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hi, #{user.name}!
br
br
| Thank you very much for sending us the project. #{link_to project.name, project_link, target: '__blank'}
br/
br/
| From now on, our project team will <strong> evaluate all the content </strong> you've put on the page and (in a maximum of 4 business days)
'  You'll receive an email letting you know if it's <strong> Approved, Declined </strong> or if you're going to continue <strong> Under Review </strong> for a while longer.
br
br
strong What does that mean?
br/
br/
strong Page has been declined
br/
| Your project does not have the profile of #{company_name} and / or we find information that violates our rules. This page can not be published on the platform.
br/
br/
strong Page continues in Review
br/
| The project has the profile of #{company_name} and is in accordance with the rules, but the page is not yet ready to be published on the platform. Receive our comments, tips and suggestions. Please finalize edits on the project page and let our support agent know when you want him to re-evaluate.
br/
br/
strong Page was approved
br/
| Let's go ahead, start the collection only up to you! Choose the best date and publish your project page on the platform.
br/
br/
strong
  | To track the change of status of the project page #{link_to project.name, project_link, target: '__blank'} Keep an eye on your email inbox and your project page.
br/
br/
| Remembering that you can contact us at any time by replying directly to this message or by e-mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
|A hug,
br/
= company_name
