- project = @notification.project
- project_link = edit_project_url(project)
|Olá #{project.user.name}, tudo bem? Aqui quem fala é a Luciana do Catarse!
br/
br/
| Vi que você criou a página de <strong>rascunho</strong> do projeto #{link_to(project.name, project_link)}  mas ainda não nos enviou. Após o envio, a página ficará <strong>em análise</strong> por alguns dias e você será acompanhado por mim ou por outra pessoa da nossa equipe de atendimento.
br/
br/
| Além de revisar as informações sobre a sua campanha, nós vamos te oferecer uma consultoria com dicas e orientações sobre o que melhorar no seu projeto. Quando estiver tudo pronto a página poderá ser <strong>aprovada</strong> e você escolherá o melhor dia para publicá-la no site, iniciando a arrecadação.
br/
br/
| Deseja enviar o #{link_to 'seu rascunho de projeto', project_link} para a nossa análise?
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-send-to-analysis.gif', width: 600
br/
br/
strong Lembre-se:
br/
| Após o envio, todas as informações do seu projeto ainda poderão ser editadas! 
br/
| Quando o projeto for aprovado, é você quem escolhe o dia para iniciar sua arrecadação. 
br/
br/
| Se tem alguma dúvida te atrapalhando manda aqui pra mim que eu te ajudo!
br/
br/
|Beijo,
br/
strong
  |Luciana Masini
br/
|Catalisadora de projetos criativos
br/
br/
strong 
  | P.S - Você quer um tempo para refletir e aprender mais? 
br/
| As dicas fundamentais para estruturar o seu projeto e conduzir sua campanha podem ser encontradas nos nossos diversos canais de informação. Confira abaixo uma lista com links importantes!
br/
| - Para conhecer todas as regras do jogo e tirar dúvidas, acesse a #{link_to 'Central de Suporte', 'http://suporte.catarse.me/hc/pt-br', target: '__blank'}
br/
| - Para se inspirar, leia as editorias de #{link_to 'Historias de projetos', 'http://blog.catarse.me/category/projeto/', target: '__blank'} e #{ link_to 'Dicas de campanha', 'http://blog.catarse.me/category/dicas/', target: '__blank'} do Blog do Catarse
br/
| - Para montar uma campanha afiada, confira nosso #{link_to 'Guia dos Realizadores', guides_url(anchor: 'starting'), target: '__blank'}
br/
| - Para entender o cenário do financiamento coletivo no brasil, estude a #{link_to 'pesquisa #RFCBr', 'http://pesquisa.catarse.me/', target: '__blank'}
br/
| - Para sentir o que seus apoiadores sentirão, #{link_to 'apoie um projeto', explore_url, target: '__blank'}

