- contribution = @notification.contribution
| Olá!
br/
br/
| O apoio #{contribution.id} para o projeto #{contribution.project.name} foi confirmado com o valor menor do valor do apoio do projeto.
br/
br/
