- contribution = @notification.contribution
| Hi
br/
br/
| The support #{contribution.key} For the project #{contribution.project.name} Was confirmed with the lower value of the project support amount.
br/
br/
