- user = @notification.user
- company_name = CatarseSettings[:company_name]
- contribution = @notification.contribution
- project = contribution.project

| Hi #{user.name},
br/
br/
| We saw that you made a contribution here in #{company_name} for project #{project.name} and that your support has already been verified in the system. Despite this, we noticed that <strong> you did not report all your data </strong> at the time of support. Filling in the <strong> name </strong>, <strong> CPF </strong> and <strong> full address (!) </strong> is critical to securing <strong> support security, </strong> and <strong> Rewards delivery. </strong>
br/
br/
| To correct this as soon as possible, we ask that you &nbsp;
= link_to 'your profile', edit_user_url(user.id, anchor: 'settings'), target: '__blank'
| &nbsp; And complete the data that is missing. After filling in your details, do not forget to click <strong> Save! </strong>
br/
br/
= image_tag 'https://s3.amazonaws.com/catarse.files/user_settings.gif', width: 550
br/
br/
| Once your data is complete, we will update the project manager that you supported.
br/
br/
| We sincerely apologize for letting you end your support without completing the data. We have already corrected this validation in our system so that it does not happen again.
br/
br/
| If you have any questions, please let us know.
br/
br/
| A big hug,
br/
| Team #{CatarseSettings[:company_name]}
