- user = @notification.user
- company_name = CatarseSettings[:company_name]
- contribution = @notification.contribution
- project = contribution.project

| Oi #{user.name},
br/
br/
| Vimos que você fez uma contribuição aqui no #{company_name} para o projeto #{project.name} e que o seu apoio já foi confirmado no sistema. Apesar disso, notamos que <strong>você não informou todos seus dados</strong> no momento do apoio. O preenchimento do <strong>nome</strong>, <strong>CPF</strong> e do <strong>endereço completo (!)</strong> é fundamental para garantir a <strong>segurança do apoio, o controle do realizador</strong> e a <strong>entrega de recompensas.</strong>
br/
br/
| Para corrigir isso o quanto antes, pedimos que você entre no &nbsp;
= link_to 'seu perfil', edit_user_url(user.id, anchor: 'settings'), target: '__blank'
| &nbsp; e complete os dados que estiverem faltando. Depois de preencher os seus dados, não esqueça de clicar em <strong>Salvar!</strong> 
br/
br/
= image_tag 'https://s3.amazonaws.com/catarse.files/user_settings.gif', width: 550
br/
br/
| Assim que os seus dados estiverem completos, atualizaremos o realizador do projeto que você apoiou.
br/
br/
| Pedimos sinceras desculpas por ter deixado o seu apoio ser concluído sem o preenchimento total dos dados. Já corrigimos essa validação no nosso sistema para que isso não volte a acontecer.
br/
br/
| Se tiver qualquer dúvida, por favor nos avise.
br/
br/
| Um grande abraço, 
br/
| Equipe #{CatarseSettings[:company_name]}
