- user = @notification.user

h2 style="text-align:center; line-height: 45px;"
  | Hi
  - if user.name
    | , #{user.name}!
  br/
  | Welcome to Grasruts!
br/

| Grasruts is a powerful tool to make campaigns financially viable. Here innovative, creative and ambitious initiatives come true through direct collaboration and trust among the people who identify with them.
br/
br/
| We, the Grasruts team, are working daily to create and maintain the safest and most comfortable environment possible for the whole community. And that is why, before supporting or publishing a campaign, it is fundamental to understand how the platform works, what are the responsibilities of each and what is the dynamics so that collective financing is a good experience for everyone! #{link_to 'click here', 'https://crowdfunding.catarse.me/paratodos'} How Grasruts works #{link_to 'on here', 'http://suporte.catarse.me/hc/pt-br/articles/115002214043-Responsabilidades-e-Seguran%C3%A7a'} To learn more about the different roles of this ecosystem.
br/
br/
|Just so you do not forget, your access email is: #{user.email}
br/
br
| A hug,
br
= CatarseSettings[:company_name]
