p Olá #{@notification.user.display_name}!
p Enviamos esse email para lembrá-los sobre as novidades do #{link_to ' Catarse ', 'https://catarse.me', target: '_blank'} e sobre a atualização dos nossos Termos de Uso, que passou a valer a partir do dia 20 de Junho de 2016. 
p Abaixo, um resumo das principais mudanças:
strong Lançamento de uma nova modalidade: Catarse Flex
p Com a mesma taxa do Tudo ou Nada (13% sob o valor arrecadado), projetos inscritos na modalidade Catarse Flex não precisam atingir a meta para receberem os recursos. #{link_to 'Saiba mais aqui.', 'http://blog.catarse.me/por-que-flex/', target: '_blank'}
strong Sem Curadoria e sem a obrigatoriedade de oferecer Recompensas
p A partir de agora é possível lançar uma campanha (Tudo ou Nada ou Flex) sem ter que passar pela curadoria da equipe Catarse e sem a obrigatoriedade de oferecer recompensas. Vale lembrar que todos os realizadores que oferecem recompensas assumem o compromisso de entregá-las caso o projeto seja financiado! #{link_to 'Saiba mais.', 'http://blog.catarse.me/sem-analise/', target: '_blank'}
strong Denúncia de projetos
p O botão de Denúncia (presente em todas as páginas de projetos) foi criado para dar autonomia para a Comunidade relatar ao Catarse qualquer suspeita de violação de regras. #{link_to 'Saiba mais.', 'http://suporte.catarse.me/hc/pt-br/articles/211091003', target: '_blank'}
strong Alteração nas Regras do reembolso de apoios
p Apoiadores que contribuírem através de boleto bancário terão até 90 dias, após a finalização do projeto, para nos passar os dados bancários e receberem o dinheiro. Apoios realizados a projetos inscritos no Catarse Flex não são reembolsáveis. #{link_to 'Saiba mais.', 'http://suporte.catarse.me/hc/pt-br/articles/202365507', target: '_blank'}
strong Alteração nas Regras do repasse de recursos
p Caso a campanha seja financiada, o realizador deverá confirmar seus dados bancários e solicitar a transferência através do próprio painel de controle. Esse processo deve ser feito em até 90 dias após a finalização do projeto. #{link_to 'Saiba mais.', 'http://suporte.catarse.me/hc/pt-br/articles/202037493-FINANCIADO-Como-será-feito-o-repasse-do-dinheiro-', target: '_blank'}
strong Política de Contestação
p Não nos responsabiliza por eventuais contestações de pagamento ou cancelamento de apoios, durante a campanha ou após o repasse dos recursos, sendo de responsabilidade do realizador arcar com a devolução desses valores ao Catarse.
p
  = link_to 'Aqui ', 'http://suporte.catarse.me/hc/pt-br/articles/209496266', target: '_blank'
  |você pode ler em detalhes os Termos de Uso atualizados. Se ficou com alguma dúvida ou feedback, veja Perguntas Frequentes abaixo ou entre em contato conosco respondendo a este e-mail.
|Um abraço,
br
|Equipe do Catarse
br
br

strong PERGUNTAS FREQUENTES
br
br

strong Por que eu recebi essa mensagem?
p Você recebeu essa mensagem por ter apoiado ou realizado um projeto no Catarse nos últimos 12 meses. Além de querermos compartilhar os avanços da plataforma, é nosso dever informar nossos usuários sobre alterações em nossos termos de uso. 
strong Qual a diferença entre o Catarse Tudo ou Nada e o Catarse Flex?
p Os dois modelos tem algumas diferenças e a principal delas é o compromisso. Projetos inscritos na modalidade Tudo ou Nada só assumem o compromisso de execução do projeto e entrega de recompensas caso atinjam (ou superem) a meta. No modelo Flex, os realizadores assumem o compromisso independente do valor arrecadado. Saiba mais sobre as diferenças entre as duas modalidades. 
strong Estou com projeto no ar, o que mudou no meu repasse?
p O seu prazo de repasse será o mesmo: 10 dias úteis após a finalização da campanha. A única coisa que mudou é que, caso seu projeto seja financiado depois do dia 20/06/2016, pediremos que você confirme seus dados bancários antes de realizarmos a transferência do valor. Fique tranquilo que a confirmação é super rápida e pode ser feita através do seu painel de controle assim que o seu projeto for finalizado. Te enviaremos um passo-a-passo quando for o momento de você confirmá-los, mas, caso queira, você pode checar mais informações nesse artigo. 
strong Como eu posso publicar um projeto?
p Caso ainda não tenha criado o seu rascunho, você poderá criá-lo através do botão Comece seu projeto. A partir daí, basta escolher a modalidade e preencher - no mínimo - todos os campos obrigatórios. Você poderá publicá-lo quando quiser, através do botão PUBLICAR.
strong Se não existe mais curadoria, como eu posso conseguir dicas para a minha campanha?
p Fique tranquilo que dicas não irão faltar! Temos diveeersos artigos, vídeos, tutoriais e histórias de sucesso para te inspirar. Você pode conferi-los na nossa #{link_to 'Base de Conhecimento', 'http://suporte.catarse.me/', target: '_blank'}, #{link_to 'Blog','http://blog.catarse.me/', target: '_blank'} e #{link_to 'Guia do financiamento coletivo','http://fazum.catarse.me/guia-financiamento-coletivo', target: '_blank'}.
strong Por que não é mais obrigatório oferecer recompensa?
p Durante o período de testes do Catarse Flex, percebemos que alguns dos projetos cadastrados optaram por não oferecer recompensas. Ainda que acreditemos (muito) na importância delas na dinâmica do financiamento coletivo, entendemos que isso deve ser uma escolha do realizador e não uma regra do Catarse. É importante lembrar que uma vez que a recompensa é oferecida e o projeto é financiado, é um um compromisso do realizador efetuar a sua entrega!
