- user = @notification.user
- ispf = user.account_type == 'pf'
| [Informativo #{ispf ? '+ Ação necessária' : ''}] Organização dos dados dentro da plataforma #{(ispf ? 'e preenchimento da data de nascimento' : ''}
