p Olá #{@notification.user.display_name}!

p No dia <strong>11/07</strong>, será retirada a obrigatoriedade de informar os dados bancários para efetuar um pagamento no Catarse. 

p 
  strong A partir dessa data, as pessoas que apoiarem um projeto não-financiado através de boleto bancário, serão notificadas semanalmente para preencher as informações bancárias e terem seu dinheiro integralmente devolvido.

p Caso não consigamos entrar em contato com você por meio dos dados de cadastro registrados na plataforma e nos falte a informação bancária para realizar o reembolso, dentro do período de 12 meses a contar da data de encerramento do projeto, os valores em questão serão considerados renunciados e poderão ser utilizados pelo CATARSE para apoiar outros projetos em captação na plataforma. 

p Lembrando que essa nova regra passa a valer para apoios efetuados a partir de 11/07, como fica claro na #{link_to 'nova versão dos termos de uso', terms_of_use_url}.

p Qualquer dúvida sobre essa mudança, basta responder a esse email ou entrar em contato através de #{mail_to 'contato@catarse.me'}

p Um abraço,

p Catarse
