- contribution = @notification.contribution
- expiry_date = contribution.payments.last.gateway_data.try(:[], "pix_expiration_date").try(:to_datetime).try(:strftime, '%d/%m')
- pix_key = contribution.payments.last.gateway_data.try(:[], "pix_qr_code")
- details = contribution.details.ordered.first
- attachments.inline['pix_qrcode.png'] = details.decorate.pix_qr_code_png if respond_to? :attachments

p
= render partial: 'user_notifier/mailer/greetings', locals: { user: contribution.user }

p O seu código PIX para apoiar o projeto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} foi gerado com sucesso! Você tem até o dia #{expiry_date} para efetuar o pagamento.

p Use o app do seu banco para escanear o QR Code abaixo:
br
p
  center
    strong
      - if respond_to? :attachments
        = image_tag attachments[0].url
      - else
        = render inline: details.decorate.display_pix_qr_code
br
p Ou se preferir, abra o app ou site do seu banco e informe a chave abaixo:
br
p(align="center" style="background-color: #F8F8F7; padding: 30px; border-radius: 10px; color: #000; margin: 20px")
  a(href="#" style="text-decoration:none; color:#000; cursor:default")
    strong = pix_key
br
p Caso já tenha feito o pagamento, desconsidere este email. Você receberá um outro email com a confirmação do pagamento e também poderá seguir acompanhando o status do seu apoio #{link_to 'em seu perfil do Catarse', edit_user_url(contribution.user.id, anchor: 'contributions'), target: '__blank'}

p
= render partial: 'user_notifier/mailer/contact_info'
