- contribution = @notification.contribution
- expire_date = contribution.payments.last.gateway_data.try(:[], "boleto_expiration_date").try(:to_datetime).try(:strftime, '%d/%m')
- details = contribution.details.ordered.first

p Olá, <strong>#{contribution.user.display_name}</strong> !

p O seu boleto para apoiar o projeto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} foi gerado com sucesso! 

p Caso ainda não tenha realizado o pagamento, você poderá acessar o boleto clicando no botão abaixo. Lembrando que o vencimento dele é dia: <strong>#{expire_date}</strong>

p
  center
    = link_to details.decorate.display_slip_url, target: '__blank' do
      = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/display_slip.png"

p
  | Caso você não seja redirecionado ao clicar na imagem acima, acesse seu boleto através deste #{link_to 'link', details.decorate.display_slip_url, target: '__blank'} 

p Caso já tenha feito o pagamento, o seu apoio será confirmado na plataforma em até 2 dias úteis. Você pode seguir acompanhando o status do seu apoio através do histórico de apoio #{link_to 'em seu perfil do Catarse', edit_user_url(contribution.user.id, anchor: 'contributions'), target: '__blank'}

p
= render partial: 'user_notifier/mailer/contact_info'
