- contribution = @notification.contribution
- expiry_date = contribution.payments.last.gateway_data.try(:[], "pix_expiration_date").try(:to_datetime).try(:strftime, '%d/%m')
- pix_key = contribution.payments.last.gateway_data.try(:[], "pix_qr_code")
- details = contribution.details.ordered.first
- link_url = project_contribution_url(contribution.project, contribution)

p Olá, <strong>#{contribution.user.display_name}</strong> !

p O seu código PIX para apoiar o projeto #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} foi gerado com sucesso! Você tem até o dia #{expiry_date} para efetuar o pagamento.

p Use o app do seu banco para escanear o QR Code abaixo:
br
p
  center
    <a href="#{link_url}" align=“center” style=“margin-top: 30px; margin-bottom: 30px; background-color:#7cc142;font-size:18px;color:#ffffff;font-family:HelveticaNeue-Medium;font-weight:bold;text-decoration:none;padding-top:25px;padding-bottom:25px;display:inline-block;width:280px;text-align:center!important;border-radius:5px” bgcolor=“#7CC142" target=“_blank” data-saferedirecturl="#{link_url}"> Visualizar QR Code </a>
br
p Ou se preferir, abra o app ou site do seu banco e informe a chave abaixo:
br
p
  center
    <strong>#{pix_key}</strong>
br
p Caso já tenha feito o pagamento, desconsidere este email. Você receberá um outro email com a confirmação do pagamento e também poderá seguir acompanhando o status do seu apoio #{link_to 'em seu perfil do Catarse', edit_user_url(contribution.user.id, anchor: 'contributions'), target: '__blank'}

p
= render partial: 'user_notifier/mailer/contact_info'
