- expire_date = @notification.contribution.details.ordered.first.gateway_data["boleto_expiration_date"].to_datetime.strftime('%d/%m')
|We are counting on your support! #{expire_date} Wins the ticket generated for #{@notification.contribution.project.name}
