- contribution = @notification.contribution
- detail = contribution.details.ordered.first
|Olá, #{contribution.user.name}!
br
br
|Você iniciou um apoio para o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, porém ele não atingiu a meta estabelecida no Catarse.
br
br
| <strong>Se você NÃO concluiu o apoio</strong>, pode desconsiderar as informações desse e-mail.
br
br
| <strong>Se você concluiu o seu apoio</strong>, mas não recebeu a confirmação do Catarse ainda, você deverá receber nos próximos dias um recibo provisório. Logo depois, já que o projeto não foi financiado, receberá uma notificação com detalhes sobre o reembolso do seu apoio.
br
br
| Lembrando que a chave de identificação do seu apoio é: <strong>#{detail.payment_id}</strong>
br
br
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to CatarseSettings[:email_contact]}
br
br
| Um abraço,
br
| #{CatarseSettings[:company_name]}
