- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hi #{project.user.name},
br/
p You have not yet verified the bank details for the #{project.name} campaign. After confirming the data you will receive the money collected (discounted to our rate) in up to 10 business days
br/
br/
center
  p
    = link_to('Confirm bank details', insights_project_url(project.id, ref: 'ctrse_notification_pending_balance_transfer_confirmation'), style:'border: 1px solid #7cc142; border-radius: 5px; color: #fff; text-decoration: none; font-weight: bolder; text-align: center; padding: 19px 60px; background: #65bf1b; font-size: 15px;')
    br/
  p
    br/
    = link_to 'Check more details of how the transfer will be done ', 'http://suporte.catarse.me/hc/pt-br/articles/217916143', target: '__blank'

br/
br/
p
  | If you have any questions, reply to this message directly or contact us via email #{mail_to CatarseSettings[:email_projects]}.

br/
br/
| Hugs
br/
| Team #{company_name}
