- contribution = @notification.contribution

-if contribution.user.name
  |Hi, <strong>#{contribution.user.name}</strong>!
-else
  |Hi!
br
br
' We have verified that you have initiated support for the project #{link_to contribution.project.name, project_by_slug_url(contribution.project.permalink, {ref: 'notificacao_pending',utm_source:'notification',utm_medium:'email',utm_campaign:'pending_payment_link',utm_content:contribution.project.name})},
|But did not complete it.
br
br
| Your support is essential and you can join other #{contribution.project.total_contributors} people to make this project a reality.
br
br
| #{ link_to "Make your contribution now from where you left off.", edit_project_contribution_url(project_id: contribution.project.id, id: contribution.id, ref: 'notification_pending', utm_source:'notification',utm_medium:'email',utm_campaign:'pending_payment_link',utm_content:'Make your contribution now from where you left off.') }
br
br
| If the reason you did not complete your support was a technical problem, we recommend trying again using another browser.
br
br
| If the problem persists, please contact us immediately by replying to this message or via email #{mail_to CatarseSettings[:email_contact]}
br
br
|A hug,
br
|#{CatarseSettings[:company_name]}
