- update = @notification.project_post
- user = @notification.user
p 
  strong= update.title
p == update.email_comment_html.html_safe
p Veja o projeto: #{link_to update.project.name, project_by_slug_url(permalink: update.project.permalink, ref: 'project_post')}
p #{link_to 'Descadastrar', unsubscribe_notifications_user_url(user)} o recebimento de novidades desse projeto

