- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.name}!
br/
br/
| Obrigado por iniciar o processo de inscrição de um projeto no #{company_name}! 
br/
| Saiba que recebemos sua inscrição! 
br/
br/
| Você acabou de criar a página de rascunho do projeto #{link_to project.name, project_link} no #{company_name}. 
br/
br/
strong É hora de trabalhar na apresentação do seu projeto!
br/
| Seu projeto está no #{company_name} como um rascunho, ou seja, não está público.
'  Você pode enviar o link acima para outras pessoas visualizarem a página e te ajudarem com críticas e sugestões.
br/
br/
strong Ninguém poderá  apoiar o seu projeto até que ele seja aprovado e a campanha esteja no ar.
br/
| Para avançar para essas etapas você deve completar toda a página de rascunho do seu projeto e enviá-la para nossa análise. Quando considerar que a sua página está pronta, basta clicar no botão “ENVIAR”.
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-send-to-analysis.gif', width: 600
br/
br/
| Depois disso, a equipe do #{company_name} vai avaliar se o projeto está de acordo com os critérios da plataforma e te enviará uma resposta (para este e-mail mesmo) em até 4 dias úteis!
br/
br/
| Se ficou com alguma dúvida, responda a esta mensagem ou envie um email para #{mail_to CatarseSettings[:email_projects]}
br/
br/
| E por falar nisso, por favor <strong>não esqueça de incluir na sua lista de contatos os e-mails:</strong> 
| #{mail_to CatarseSettings[:email_projects]} e #{mail_to CatarseSettings[:email_contact]} para evitar que nossas mensagens caiam na sua caixa de spam devido a filtros do seu email. 
br/
br/
| Um abraço,
br/
= company_name
