- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.decorate.display_name}.
br/
br/
| <strong>O projeto #{link_to project.name, project_link, target: '__blank'} está no ar e já pode receber apoios!</strong>
br/
br/
| É muito importante se planejar para uma campanha. Mas se você não planejou suas ações anteriormente, não perca tempo.
'  A hora é essa! Estamos aqui para te ajudar! Para conversar sobre estratégias de comunicação com nossa equipe e receber 
'  sugestões sobre como agir na sua campanha, responda esse email ou envie uma mensagem para #{mail_to CatarseSettings[:email_projects]}.
br/
br/
| Confira nosso #{link_to 'GUIA DE REALIZADORES', guides_url} para saber mais sobre como conduzir uma campanha!
br/
br/
| Lembre-se que <strong>você é o responsável por promover a campanha e cuidar da divulgação do projeto.</strong> É da sua rede que virão grande parte dos apoios! 
br/
br/
strong Uma pequena lista sobre o que pode ou não ser alterado em um projeto no ar:
br/
br/
strong Posso
br/
| -  #{link_to 'Baixar relatórios de apoios', edit_project_url(project, anchor: 'reports')}
br/
| -  #{link_to 'Acompanhar os gráficos da sua campanha', edit_project_url(project, anchor: 'home')}
br/
| - Trocar o vídeo principal da sua campanha
br/
| - Enviar novidades diretamente para email dos meus apoiadores
br/
| - Baixar relatórios
br/
| - Editar a descrição do seu projeto
br/
| - Criar novas recompensas
br/
| - Alterar conteúdo e valor de recompensas que ninguém escolheu
br/
| - Alterar o limite de apoiadores de uma determinada recompensa
br/
| - Esgotar recompensas (limitando-as para um numero X de apoiadores)
br/
| - Trocar o Thumbnail e a Frase de Efeito do seu projeto
br/
br/
strong Não posso
br/
| - Alterar meta de arrecadação
br/
| - Alterar o prazo escolhido
br/
| - Alterar recompensas onde existem apoios já efetuados
br/
br/
| Por favor </strong>não esqueça de incluir na sua lista de contatos os e-mails:</strong>
'  #{mail_to CatarseSettings[:email_projects]} e #{mail_to CatarseSettings[:email_contact]} para evitar que nossas mensagens caiam na sua caixa de spam devido a filtros do seu email.
br/
br/
| Um abraço,
br/
| A equipe do #{company_name} te deseja uma boa campanha!!!!
