- user = @notification.user
- project = @notification.project
- channel = @notification.project.last_channel

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

| Olá
- if user.name
  | , #{user.name}!
br/
br/
| O projeto #{link_to project.name, project_link, target: '__blank' } está no ar no #{channel.name} e já pode receber apoios! 
| Boa sorte nessa maratona!  Uma campanha de financiamento coletivo dá trabalho, mas é recompensador! 
| Se não planejou suas ações anteriormente, não perca tempo. A hora é essa! Agora é #{link_to 'TUDO-OU-NADA!', 'http://suporte.catarse.me/hc/pt-br/articles/202265256', target: '__blank'}
br/
br/
| Para conversar sobre estratégias de comunicação com nossa equipe e receber sugestões sobre como agir na sua campanha, 
| responda esse email ou envie uma mensagem para #{mail_to channel.email}. Mas, lembre-se que <strong>você é o responsável por 
| promover a campanha e cuidar da divulgação do projeto.</strong> É da sua rede que virão grande parte dos apoios, 
| esta conversa deve ser encarada como um auxílio.
br/
br/
strong Informações Importantes:
br/
br/
| Você <strong>NÃO</strong> pode mais <strong>alterar</strong> nem a <strong>Meta de Arrecadação</strong> nem o <strong>Prazo escolhido</strong> para a campanha. 
br/
br/
| No entanto você ainda pode:
br/
| - Trocar o vídeo principal da sua campanha
br/
| - Editar a descrição do seu projeto
br/
| - Criar novas recompensas
br/
| - Alterar conteúdo e valor de recompensas que ninguém escolheu
br/
| - Alterar o limite de apoiadores de uma determinada recompensa
br/
| - Esgotar recompensas (limitando-as para um numero X de apoiadores)
br/
| - Trocar o Thumbnail e a Frase de Efeito do seu projeto
br/
| - Estudar regras, dicas e outras informações através da #{link_to 'Central de Suporte', CatarseSettings[:support_forum]} do #{company_name}.
br/
br/
| <strong>Se você não conferiu a #{link_to 'Central de Suporte', CatarseSettings[:support_forum], target: '__blank'}, 
| confira! Quanto mais você souber sobre os detalhes de uma campanha no #{company_name}, melhor preparado você estará.</strong> 
| E fique tranquilo, estamos por aqui! Você pode tirar dúvidas conosco respondendo diretamente a esta mensagem ou através do e-mail #{mail_to channel.email}
br/
br/
| E por falar nisso, por favor </strong>não esqueça de incluir na sua lista de contatos os e-mails:</strong> 
| #{mail_to channel.email}, #{mail_to CatarseSettings[:email_projects]} e #{mail_to CatarseSettings[:email_contact]} para evitar que nossas mensagens 
| caiam na sua caixa de spam devido a filtros do seu email. 
br/
br/
| Um abraço,
br/
| A equipe do #{company_name} e do #{channel.name} te desejam uma boa campanha!!!!
br/
br/
| Você está em contato com o atendimento do #{channel.name}
br/
br/
| Saiba mais:
br/
= link_to 'O que são os canais ?', 'http://suporte.catarse.me/hc/pt-br/articles/203083107-O-que-s%C3%A3o-os-Canais-', target: '__blank'
