- project = @notification.project
- user = @notification.user
- bank_account = user.bank_account 
- metadata = @notification.metadata

| Hi #{user.display_name},
br/
br/
| Your bank details have been confirmed!
br/
br/
strong
  | Summary of the transfer operation:
br/
br/
| Project title: #{project.name}
br/
| Maximum date for transfer: #{metadata['transfer_limit_date']}
br/
| Total value of the transfer: #{number_to_currency(metadata['transfer_amount'].to_f, precision: 2)} (Rates already discounted)
br/
| Bank: #{bank_account.bank.name}
br/
| Agency: #{bank_account.agency}-#{bank_account.agency_digit}
br/
| Account: #{bank_account.account}-#{bank_account.account_digit}
br/
| Name: #{user.name}
br/
| CPF/CNPJ: #{user.cpf}
br/
br/
| Our team may contact you in the event of a problem with your bank.
br/
br/
| Remember that you can ask questions with us by replying directly to this message or through the email #{mail_to CatarseSettings[:email_contact]} .
br/
br/
| A hug,
br/
= CatarseSettings[:company_name]
