- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.display_name}!
br/
br/
|Essa mensagem é para avisar que em 1 semana, o projeto #{project.name} irá completar 365 dias no ar.
br/
br/
|Como a regra dos projetos inscritos no Flex é que eles fiquem abertos para captação por no máximo 1 ano, caso você não finalize a campanha até o dia #{I18n.l project.max_deadline.to_date}, ela será encerrada automaticamente.
br/
|Saiba mais:
br/
= link_to 'Como definir o prazo da campanha', 'http://suporte.catarse.me/hc/pt-br/articles/213783503-tudo-sobre-PRAZO-DA-CAMPANHA#definir'
br/
= link_to 'Como funciona o processo de repasse após o encerramento da campanha', 'http://suporte.catarse.me/hc/pt-br/articles/217916143-tudo-sobre-REPASSE'
br/
br/
|Nos avise qualquer dúvida ou problema!
br/
br/
| Um grande abraço,
br/
= company_name
