- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hi, #{project.user.display_name},
br/
br/
| Unfortunately the project #{link_to project.name, project_link } Did not reach the financing target in the #{company_name}.
br/
br/
| Rest assured, all your supporters have already received an email with instructions on #{link_to 'Repayment process', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank' }.
br/
br/
strong Want to help improve the JVN?
br/
| Your project may not have met the goal but you've certainly learned something and can take great advantage of that experience if you want! Share this learning with us!
br/
br/
strong 1. What are the 2 worst issues you faced during the campaign?
br/
br/
| It could be something directly related to #{company_name}, a reflection of yourself, self-criticism, or even external motives that hindered your journey in collective financing.
br/
br/
strong 2. What you missed most on the platform#{company_name}?
br/
br/
| How can we improve the platform? How could we have helped you more?
br/
br/
| We are always looking to improve the usability of the site and our service. For this we need to be aware of what you have to say about us.
br/
br/
| We hope you consider this experience to be valid and know that we are ready if you need our help!
br/
br/
| See you next time.
br/
br/
| A big hug,
br/
| The #{company_name} team loved to join you on this adventure!

