- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hi, #{user.decorate.display_name}.
br/
br/
| <strong>The project #{link_to project.name, project_link, target: '__blank'} Is in the air and can receive support!</strong>
br/
br/
| It is very important if you plan for a campaign. But if you have not planned your actions before, do not waste time.
'  This is the time! We are here to help you! To talk about communication strategies with our team and receive
'  Suggestions on how to take action on your campaign, reply to this email or send a message to #{mail_to CatarseSettings[:email_projects]}.
br/
br/
| Check our #{link_to 'DIRECTOR OF REALIZATORS', guides_url} To learn more about how to conduct a campaign!
br/
br/
| Remember <strong> you are responsible for promoting the campaign and taking care of the dissemination of the project. </strong> It is from your network that most of the support will come!
br/
br/
strong A short list of what can and can not be changed in a project in the air:
br/
br/
strong I can
br/
| -  #{link_to 'Download support reports', edit_project_url(project, anchor: 'reports')}
br/
| -  #{link_to 'Track your campaign graphics', edit_project_url(project, anchor: 'home')}
br/
| - Swap the main video for your campaign
br/
| - Send news directly to my supporters email
br/
| - Download reports
br/
| - Edit your project description
br/
| - Create new rewards
br/
| - Change content and reward value that no one chose
br/
| - Change the limit of supporters of a given reward
br/
| - Expend rewards (limiting them to an X number of supporters)
br/
| - Change the Thumbnail and Effect Phrase of your project
br/
br/
strong I can not
br/
| - Change collection goal
br/
| - Change deadline
br/
| - Change rewards where there are supports already made
br/
br/
| Please </strong>Be sure to include in your contact list:</strong>
'  #{mail_to CatarseSettings[:email_projects]} and #{mail_to CatarseSettings[:email_contact]} To prevent our messages from falling into your spam box due to your email filters.
br/
br/
| A hug,
br/
| #{company_name} team wishes you a good campaign !!!!
