- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hi, #{user.name}!
br/
br/
| Thank you for starting the application process for a project in #{company_name}!
br/
| Know that we have received your application!
br/
br/
| You just created the draft sketch page #{link_to project.name, project_link} no #{company_name}.
br/
br/
strong It's time to work on presenting your project!
br/
| Your project is in #{company_name} as a draft, that is, it is not public.
'  You can send the link above to others to view the page and help you with criticism and suggestions.
br/
br/
strong No one can support your project until it is approved and the campaign is on the air.
br/
| To progress to these steps you must complete the entire draft page of your project and submit it for our review. When you feel your page is ready, just click the "SEND" button.
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-send-to-analysis.gif', width: 600
br/
br/
|After that, the #{company_name} Will evaluate if the project meets the criteria of the platform and will send you a response (to this same email) in up to 4 business days!
br/
br/
|If you have any questions, reply to this message or send an email to #{mail_to CatarseSettings[:email_projects]}
br/
br/
| And by the way, please <strong> do not forget to include in your contact list the emails:</strong>
| #{mail_to CatarseSettings[:email_projects]} e #{mail_to CatarseSettings[:email_contact]} To prevent our messages from falling into your spam box due to your email filters.
br/
br/
| A hug,
br/
= company_name
