- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Uhuu, #{project.user.display_name},
br/
p Congratulations on the campaign!
p The project #{link_to project.name, project_link} Was funded!
p
  | Once you have successfully celebrated the successful completion of your campaign, it's time to <strong> confirm your bank details </strong> so that we can transfer the money to you! You can do this directly from your project page (or by clicking the button below).
br/
br/
center
  = link_to('Confirm bank details', insights_project_url(project.id, ref: 'notificacao_project_success'), style:'border: 1px solid #7cc142; border-radius: 5px; color: #fff; text-decoration: none; font-weight: bolder; text-align: center; padding: 19px 60px; background: #65bf1b; font-size: 15px;')

br/
p
  | After confirming the data, <strong> there is a period of 10 working days to make your transfer.</strong>

p
  = link_to 'Check here more details of how the transfer will be done!', 'http://suporte.catarse.me/hc/pt-br/articles/217916143', target: '__blank'
p
  | If you have any questions, reply to this message directly or contact us via email #{mail_to CatarseSettings[:email_projects]}.
p
  | A tight hug of congratulations!
br/
br/
| Hugs
br/
| #{company_name}
