- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hi, #{project.user.name}, o <strong>#{link_to 'seu projeto foi aprovado', project_link}</strong> And can go on air when you wish.
br/
br/
strong 
  | PTo start the campaign you need to do only 3 things!
br/
br/
strong 
  | 1. Fill in your bank details on the#{link_to 'CONTA', edit_project_url(project, anchor: 'user_settings')}.
br/
| We need your bank details to pass on the money raised if you reach your funding goal.
br/
br/
strong
  | 2. Choose the best date to start.
br/
| You are the one who chooses the release date.
br/
br/
strong
  | 3. And push the button to publish the project.
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-publish.gif', width: '600'
br/
br/
strong
  | Attention
br/
| - After the posting is All-or-Nothing and some aspects of the project can not be changed!
br/
| - We only charge our 13% fee if you succeed in your capture! Understand how we do the#{link_to 'Money transfer', 'http://suporte.catarse.me/hc/pt-br/articles/202037493-Como-ser%C3%A1-feito-o-repasse-do-dinheiro-'}.
br/
br/
| Remember that you can ask questions with us by replying directly to this message or through the email #{mail_to CatarseSettings[:email_projects]}
br/
br/
| A big hug,
br/
| #{company_name} team wishes you a great campaign!

