- user = @notification.user
- project = @notification.project
- company_name = CatarseSettings[:company_name]

| Hi #{user.name},
br/
br/
| Your bank details have been updated by the #{company_name}. Enter now into your project and see if everything is correct to make the transfer directly to your account.
br/
br/
center
  = link_to insights_project_url(project, ref: 'notificacao_account_solved_error') do
    = image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-confirme-dados-bancarios.png', width: 300)
br/
br/
| Remember that you can ask questions with us by replying directly to this message or through the email #{mail_to CatarseSettings[:email_contact]}.
br/
br/
A hug,
br/
= company_name
