- message = @notification.project_report

|Name denounced campaign:
= message.project.name
br
|Link denounced campaign:
= "catarse.me/#{message.project.permalink}"
br
|Status project:
= message.project.state
br
|$ Collected:
= message.project.pledged
br
|Contact director: email
= message.project.user.email
br
|Phone:
= message.project.user.phone_number
br
|Reason for complaint:
= message.reason
br
|Details:
= message.details
br
|Report Abuse Email:
= message.email
br
