- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hi, #{user.display_name}!
br/
br/
|This message is to warn that in 1 week, the project #{project.name} Will complete 365 days in the air.
br/
br/
|As the rule of projects enrolled in Flex is that they are open for capturing for a maximum of 1 year, in case you do not finalize the campaign until the day #{I18n.l project.max_deadline.to_date}, It will automatically shut down.
br/
|know more:
br/
= link_to 'Setting the campaign deadline', 'http://suporte.catarse.me/hc/pt-br/articles/213783503-tudo-sobre-PRAZO-DA-CAMPANHA#definir'
br/
= link_to 'Setting the campaign deadline...', 'http://suporte.catarse.me/hc/pt-br/articles/217916143-tudo-sobre-REPASSE'
br/
br/
|Let us know any doubt or problem!
br/
br/
| A big hug,
br/
= company_name
