- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

| Hi #{project.user.name},
br/
br/
| The project deadline #{link_to project.name, project_link} no #{company_name} Came to an end.
br/
br/
| Due to ticket deadlines there are outstanding payments for your project.
'  In order to compute these supports we will be awaiting confirmation of these contributions for up to <strong>4 business days after the end of the project</strong>.
'  In order to compute these supports we will be awaiting confirmation of these contributions for up to <4 business days after the end of the project....
br/
br/
| Check out what may happen after this date:
br/
br/
- if project.is_flexible?
  | We are waiting for the deadline to account for these last-minute support. With this process finalized we will pass on the amount collected for you.
- else
  | <strong>1) If your project has already reached or exceeded the goal:</strong>
  '  Let's just wait for the deadline to account for these last-minute endorsements. With this process completed,
  = link_to 'Transfer the amount collected to you.', 'http://suporte.catarse.me/hc/pt-br/articles/202037493-Como-ser%C3%A1-feito-o-repasse-do-dinheiro-', target: '__blank'
  br/
  br/
  | <strong>2) If your project has not yet reached the goal:</strong> Let's hope and hope for confirmation of these supports! Reaching 100% of the goal, we will start the money transfer for you.
  br/
  | Otherwise we will start the #{link_to 'Reimbursement from its supporters', 'http://suporte.catarse.me/hc/pt-br/articles/202365507-Regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank'}.
br/
br/
| <strong>ATTENTION:</strong> In order to make the transfer, we will use the cadastral and banking information <strong>#{link_to 'Account tab', edit_project_url(project, anchor: 'user_settings')}</strong> Of your project. <strong>Make sure the data is correct.</strong>
br/
br/
= image_tag 'https://s3.amazonaws.com/cdn.catarse/notifications_assets/funded-conta.gif', width: 600
br/
br/
| If you have any questions, reply to this message directly or contact us via email #{mail_to CatarseSettings[:email_projects]}.
br/
br/
| A hug,
br/
= company_name
