- project = @notification.project

p The following errors occurred in finalizing the project #{link_to(project.name, project_by_slug_url(permalink: project.permalink))}:

- project.project_errors.each do |error|
  p #{error.error}
