- project = @notification.project
- project_link = project_by_slug_url(permalink: project.permalink)
- bank_account = project.user.bank_account
|#renato420
br/
= project.name
br/
br/
= link_to project_link, project_link
br/
br/
| Arrecadado:
= project.display_pledged
br/
br/
| Data de expiração:
= project.display_expires_at
br/
br/
| Usuario moip:
= project.user.moip_login
br/
br/
| CPF/CNPJ do realizador:
= project.user.cpf
br/
br/
| Telefone:
= project.user.phone_number
br/
br/
| Dados Bancarios:
br/
| Banco: #{bank_account.try(:name)}
br/
| Agência: #{bank_account.try(:agency)}- #{bank_account.try(:agency_digit)}
br/
| Conta: #{bank_account.try(:account)} - #{bank_account.try(:account_digit)}
br/
| Nome do titular: #{bank_account.try(:user_name)}
br/
| CPF: #{bank_account.try(:user_document)}
