- contribution = @notification.contribution
- detail = contribution.details.ordered.first
p Usuário #{contribution.user.display_name}
p Email do usuário: #{contribution.user.email}
p Email de pagamento: #{contribution.payer_email}
p Nome de pagamento: #{contribution.payer_name}
p Projeto: #{contribution.project.name}
p Chave do apoio: #{detail.key}
p Identificador no meio de pagamento: #{detail.payment_id}
p Valor do apoio: #{detail.decorate.display_value} 
p Meio de pagamento: #{detail.gateway}
p Forma de pagamento: #{detail.payment_choice}
p Data de criação: #{contribution.created_at}
