- contribution = @notification.contribution
- detail = contribution.details.ordered.first
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]
- user = @notification.contribution.user
- bank_account = user.bank_account

|Hello, <strong>#{contribution.user.display_name}</strong>!
br
br
|The return of the value of your support for the project #{contribution.project.name} No #{company_name} just completed for the bank account:
br
br
| Bank: #{bank_account.try(:bank).to_s}
br
| Agency: #{bank_account.try(:agency)} - #{bank_account.try(:agency_digit)}
br
| Account: #{bank_account.try(:account)} - #{bank_account.try(:account_digit)}
br
| Name: #{bank_account.try(:owner_name)}
br
| CPF: #{bank_account.try(:owner_document)}  
br
| Return Value: #{number_to_currency detail.value}
br
| Identification in your bank statement: "PAYMENT.PAYMENTS"
br
br
|If you have any questions, please contact us by replying to this message or via email #{mail_to contact_email}. Do not forget to inform us the identification key of your support, which is: #{detail.payment_id}
br
br
|Um abraço,
br
| #{company_name}
