-contribution = @notification.contribution
- detail = contribution.details.ordered.first
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]
| Hi, <strong>#{contribution.user.display_name}</strong>!
br
br
| Your refund was successful and payment for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, canceled.
br
br
| The key to identifying your support is: #{detail.payment_id}
br
br
| If you have any questions, please contact us by replying to this message or via email #{mail_to contact_email}
br
br
| A hug,
br
| #{company_name}
