- contribution = @notification.contribution
- detail = contribution.details.ordered.first
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]
|Hi, <strong>#{contribution.user.display_name}</strong>!
br
br
|Returning your support for campaign #{contribution.project.name} to #{company_name} just completed. The effective credit must occur in the current invoice, if it is still open, or in the subsequent one, if that month is already closed.
br
br
|Returned Value: #{number_to_currency detail.value}
br
br
|Date of refund: #{I18n.l detail.refunded_at}
br
br
|Identification on the credit card invoice: "Chargeback"
br
br
|If you have any questions, please contact us by replying to this message or via email #{mail_to contact_email}. Do not forget to inform us the identification key of your support, which is: #{detail.payment_id}
br
br
|A hug,
br
| #{company_name}
