- project = @notification.project
- user = @notification.user
- company_name = CatarseSettings[:company_name]

|Hi, <strong>#{user.display_name}</strong>!
br
br
| This is the reminder that the project #{link_to project.name, project_by_slug_url(project.permalink, {ref: 'notificacao-reminder', utm_source:'notification',utm_medium:'email',utm_campaign:'reminder_link',utm_content:project.name})} Starts in about 14 hours
br
| Now is the time for you to be part of this campaign. ;)
br
br
| A hug,
br
| #{company_name}
