- contribution = @notification.contribution

| Hello Community!
br/
br/
| This support for an unfunded project was done through credits. Please contact the director to make a refund.
br/
br/
| User #{contribution.user.display_name}
br/
| User E-mail: #{contribution.user.email}
br/
| Project: #{contribution.project.name}
br/
| Support Key: #{contribution.key}
br/
| Handle in payment method: #{contribution.payment_id}
br/
| Value of support: #{contribution.details.ordered.first.decorate.display_value}
br/
| Means of payment: #{contribution.gateway}
br/
| Form of payment: #{contribution.payment_choice}
br/
| Creation date: #{contribution.created_at}
