- user = @notification.user

| Hi #{user.name},
br/
br/
| Earlier this year we announced our partnership with the first comic streaming service in Brazil: Social Comics!
br/
br/
p
  center
    = link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/header-email-apoiadores.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
br/
br/
| We are offering a <strong> 3 month free coupon on Social Comics </strong> for Catarse supporters who have never used the platform.
br/
br/
| To access, you only need to access &nbsp;
= link_to 'www.socialcomics.com.br', 'https://www.socialcomics.com.br', target: '__blank'
| &nbsp; , Sign up for and use the <strong> SOCOCATARSE3M2 </strong> Promotional Code on the payment screen. At the end of the 3-month free period, you can either follow the paid plan or cancel it.
br/
br/
strong
  | Important: This Code is valid until 10/15/2016 and only for those who do not have a Social Comics account yet.
br/
br/
p style="text-align:center"
  = link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-apoiadores-email.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
