- user = @notification.user

| Olá #{user.name},
br/
br/
| No início desse ano anunciamos nossa parceria com o primeiro serviço de streaming de quadrinhos do Brasil: o Social Comics!
br/
br/
p
  center
    = link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/header-email-apoiadores.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
br/
br/
| Estamos oferecendo um <strong>cupom de 3 meses grátis na Social Comics</strong> para os apoiadores do Catarse que nunca usaram a plataforma.
br/
br/
| Pra ter acesso, você só precisa acessar &nbsp;
= link_to 'www.socialcomics.com.br', 'https://www.socialcomics.com.br', target: '__blank'
| &nbsp; , se cadastrar e usar o Código Promocional <strong>SOCOCATARSE3M2</strong> na tela de pagamento. Ao final do período de 3 meses gratuitos, você poderá seguir no plano pago ou cancelá-lo.
br/
br/
strong
  | Importante: esse Código é válido até 15/10/2016 e apenas para quem ainda não tem conta na Social Comics.
br/
br/
p style="text-align:center"
  = link_to image_tag('https://s3.amazonaws.com/cdn.catarse/notifications_assets/btn-apoiadores-email.jpg'), 'https://www.socialcomics.com.br/', target: '__blank'
