- user = @notification.user
- contribution = user.contributions.last

b You have #{user.decorator.display_pending_refund_payments_amount} no Catarse!
br
b You can ask for your refund or you can donate the amount to the Catarse!
br
br
'On July 11, 2015, we modified in our Terms of Use the rules for the return and reimbursement of support made to projects that did not meet the goal of Catarse.
b So, #{user.display_name}, it's important that you decide what to do with your Catarse credits within 30 days of receiving this notification.

p
  center
    = link_to no_account_refund_project_contribution_url(contribution.project, contribution, user_email: user.email, user_token: user.authentication_token), alt: 'Request Refund', target: '__blank' do
      = image_tag "#{CatarseSettings[:base_url]}/assets/catarse_bootstrap/btn-querodecidir.png", height: 81

|We would love it if you stumble upon Catarse!
br
|That way you help people to invest in innovation, then firmly in the mission to democratize collective financing in Brazil and to make practice a habit in the country.
br
|You are FREE to decline or accept the invitation to donate your support to the Catarse!
br
p #{link_to 'Access the Catarse and know how much money you have with us!', no_account_refund_project_contribution_url(contribution.project, contribution, user_email: user.email, user_token: user.authentication_token),target: '__blank'}

b Want more explanations?
br
b Why do I have money in Catarse?
br
p At some point in the last 5 years you have supported crowdfunding / collective funding projects at the Catarse, which unfortunately did not reach the goal. As we use the all-or-nothing system, if the project does not hit the goal everyone is entitled to receive the backed money back. Some people did not receive these returns, either because the card used was blocked at the time of the return, or because they did not fill in the bank details to make the return.

b What happens if I do not make this decision?
br
p On July 11, 2015, we made a change to our Terms of Use which provides that if we are unable to contact you through the registration data registered in our platform and we lack some bank information to make the refund within the period 12 months from the date of project closure, the values will be deemed waived and may be used by CATARSE to reinvest in the platform and benefit the community. If you do not decide after 30 days of the first notification, credit amounts will be considered waived.

b Why do I have to make this decision within 30 days?
br
p We set the deadline of 30 days from the first notification to be sure that you will see this message and make that decision. Think with enough love and affection! We need your response so that we can make financial planning more accurate and transparent.

b Can I use my credits to support another project?
br
p From 10/11/2014 it is no longer possible to use the credits in the Catarse to support the projects in the platform. This is one of the changes we have made to simplify the payment process and ensure reimbursement for everyone. By clicking on "I want to donate to the Catarse" you will directly support the operations of the platform, helping us spread even more the collective financing for Brazil.

b Do you have any further questions?
br
p If you have any questions, please contact us by responding to this email or #{mail_to CatarseSettings[:email_contact]}
