- user = @notification.user

| Hi #{user.display_name},
br/
br/
| This email is for notifying the recent update on our #{link_to 'terms of use', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'}
'  e #{link_to 'privacy policy', 'http://www.catarse.me/pt/privacy-policy', target: '__blank' } Do not cough The changes are related to the new means of payment that the Catarse is using and are valid for projects that enter the air on 11/11/2014.
br/
br/
| Summarizing the changes:
br/
br/
| - Non-funded projects do not generate more credits (regardless of when they entered;
br/
| - There will be no possibility of using credits in any project;
br/
| - If the project is not funded, repayment of the payment made by credit card in up to 5 business days direct on the invoice;
br/
| - If the project is not funded, refund the payment made via ticket within 10 business days directly to the bank account informed at the time of payment;
br/
| - Option to save the credit card data in the Catarse profile.
br/
br/
| To read all the details see our #{link_to 'Blog post', 'http://blog.catarse.me/pode-parcelar-pode-e-salvar-o-cartao-e-automatizar-reembolsos-e-repasses/', target: '__blank'} or
' Read the #{link_to 'terms of use', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'}
'  and #{link_to 'privacy policy', 'http://www.catarse.me/pt/privacy-policy', taget: '__blank'} Updated.
br/
br/
| If you have any questions, please contact us by responding to this email or #{mail_to CatarseSettings[:email_contact]}
br/
br/
| A hug,
br/
| Grasruts

