- user = @notification.user

| Oi #{user.display_name},
br/
br/
| Enviamos este email para avisar sobre a atualização dos nossos #{link_to 'Termos de Uso', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'} e #{link_to 'Política de Privacidade', 'http://www.catarse.me/pt/privacy-policy', target: '__blank' }, que passam a valer para todos os Usuários do Catarse, a partir de hoje, dia 22 de Março de 2018.
br/
br/
| Abaixo um resumo das principais alterações:
br/
br/
| - Introduzimos nos Termos de Uso as regras oficiais do Catarse Assinaturas, nova modalidade do Catarse, deixando claro seu funcionamento, condições e as responsabilidades de Assinantes e Realizadores;
br/
| - Evidenciamos as condições para o cancelamento de Projetos, rascunhos de Projetos e Contas de Usuários;
br/
| - Projetos Flex poderão ter seu prazo de finalização antecipado pelo Catarse, no caso do Projeto não receber nenhum apoio por mais de 4 (quatro) meses.
br/
| - Revisamos a organização e detalhamento das informações apresentadas nos Termos e na Política de Privacidade e inserimos pequenos resumos e imagens para facilitar a sua leitura e compreensão.
br/
br/
| Ao seguir com a sua conta no Catarse, você estará automaticamente aceitando estas atualizações.
br/
br/
| Se ficar com alguma dúvida, você poderá conferir as Perguntas Frequentes (abaixo) ou entrar em contato conosco através da #{link_to 'Central de Suporte', 'https://suporte.catarse.me/hc/pt-br/requests/new', target: '__blank'}.
br/
br/
| Um abraço,
br/
| Equipe do Catarse
br/
br/
strong PERGUNTAS FREQUENTES
br/
br/
strong Por que eu recebi essa mensagem?
p Você recebeu essa mensagem por ter feito login no #{link_to 'Catarse', 'http://www.catarse.me', target: '__blank' } nos últimos 12 meses (pode ser que tenha apoiado um projeto, publicado uma campanha, etc). Além de querermos compartilhar os avanços da plataforma, é nosso dever informar nossos usuários sobre alterações em nossos #{link_to 'Termos de Uso', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'} e #{link_to 'Política de Privacidade', 'http://www.catarse.me/pt/privacy-policy', target: '__blank' }.
strong O que é o Catarse Assinaturas?
p O Catarse Assinaturas é a nova modalidade de financiamento do Catarse. Esse modelo foi feito para Realizadores que queiram propor projetos com arrecadação recorrente e para Apoiadores que queiram realizar apoios mensais a determinada campanha. Essa modalidade já estava em fase Beta, com algumas campanhas online (#{link_to 'confira aqui!', 'https://crowdfunding.catarse.me/assinaturas'}) e desde o dia 21/03/2018 foi aberta para todos que quiserem publicar projetos de arrecadação recorrente.
strong Como posso participar do Catarse Assinaturas?
p Para conferir como você pode participar do Catarse assinaturas, recomendamos a leitura dos #{link_to 'Termos de Uso', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'}, do #{link_to 'Guia do Catarse Assinaturas', 'https://catarse.attach.io/BymttFk0W'} e também das perguntas frequentes para #{link_to 'Assinantes', 'https://suporte.catarse.me/hc/pt-br/articles/115005593366-Catarse-Assinaturas-FAQ-Assinantes'} e para #{link_to 'Realizadores', 'https://suporte.catarse.me/hc/pt-br/articles/115005632746-Catarse-Assinaturas-FAQ-Realizadores'}.
strong Como posso inativar a minha conta?
p Caso não queira mais participar do Catarse, você poderá inativar a sua conta. Para isso, basta seguir este #{link_to 'passo-a-passo', 'https://suporte.catarse.me/hc/pt-br/articles/202045696-Posso-desativar-meu-perfil-'}.
