- user = @notification.user

| Olá #{user.display_name},
br/
br/
| Esse email é para notificar a recente atualização nos nossos #{link_to 'termos de uso', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'} 
'  e #{link_to 'política de privacidade', 'http://www.catarse.me/pt/privacy-policy', target: '__blank' } no Catarse. As mudanças estão relacionadas ao novo meio de pagamento que o Catarse está utilizando e passam a valer para projetos que entrarem no ar dia 10/11/2014.
br/
br/
| Resumindo as mudanças:
br/
br/
| - projetos não financiados não geram mais créditos (independentemente de quando entraram;
br/
| - não haverá a possibilidade de usar créditos em nenhum projeto;
br/
| - Se o projeto não for financiado, reembolso do pagamento feito via cartão de crédito em até 5 dias úteis direto na fatura;
br/
| - Se o projeto não for financiado, reembolso do pagamento feito via boleto em até 10 dias úteis direto na conta bancária informada no momento do pagamento;
br/
| - opção de salvar os dados do cartão de crédito no perfil do Catarse.
br/
br/
| Para ler todos os detalhes veja nosso #{link_to 'post no blog', 'http://blog.catarse.me/pode-parcelar-pode-e-salvar-o-cartao-e-automatizar-reembolsos-e-repasses/', target: '__blank'} ou 
'  leia os #{link_to 'termos de uso', 'http://www.catarse.me/pt/terms-of-use', target: '__blank'} 
'  e #{link_to 'política de privacidade', 'http://www.catarse.me/pt/privacy-policy', taget: '__blank'} atualizados.
br/
br/
| Se ficou com alguma dúvida entre em contato conosco respondendo a este email ou através do #{mail_to CatarseSettings[:email_contact]}
br/
br/
| Um abraço,
br/
| Catarse

