- project = @notification.project

|Oi, <strong>#{project.user.display_name}</strong>!
br
br
| Você já fez a verificação da sua conta Moip? Sem isso, você só vai conseguir sacar R$500/mês!
br/
br/
| Vamos fazer esse processo por aqui porque costuma ser mais rápido do que se você tentar pelo próprio MOIP, ok? 
br/
| É só responder a esse e-mail, anexando os documentos solicitados abaixo, conforme o tipo da sua conta. 
br/
br/
| É imprensindível que os documentos que você enviar sejam do <strong>mesmo CPF do titular da conta Moip</strong> (que deve ser o mesmo titular da conta bancária).
br/
br/
| Os documentos necessários para contas MOIP de Pessoa Física são: 
br/
br/
ol
  li
    | CPF e RG (frente e verso) ou CNH (a CNH deve estar dentro do prazo de validade);
  li
    | Contas de água, luz, telefones ou fatura de cartões, com até 60 dias de emissão (a data precisa estar visível), nominais ao titular da conta MoIP ou com parentesco de 1º grau. Se a conta estiver em nome de cônjuge, será também necessária a Certidão de Casamento.
br/
br/
| Os documentos Necessários para contas MOIP de Pessoa Jurídica ﻿são:
br/
br/
ol
  li
    | CPF e RG (frente e verso) ou CNH (do responsável pela empresa);
  li
    | Contas de água, luz, telefones ou fatura de cartões, com até 60 dias de emissão (a data precisa estar visível), nominais ao titular da conta MoIP, nominais a empresa cadastrada ou a algum sócio da mesma. 
  li
    | Contrato Social (completo), Estatuto Social (completo) ou MEI (cadastro de Micro empreendedor individual) e comprovante da Receita Federal.
  li
    | Preenchimento completo da aba "Dados de negócio", dentro da sua conta MoIP.
br/
br/
| Assim que recebermos esses documentos, enviaremos para o MOIP fazer a análise e, se tudo estiver ok, sua conta será verificada para que você possa fazer o saque do valor integral recebido. 
br/
br/
| Lembrando que o processo de verificação de conta é necessário para a segurança de quem tem uma conta MoIP e dos demais usuários do MoIP. O MoIP precisa garantir que você é realmente o proprietário dos dados informados no momento do cadastro.
br
br
| Se ficou com alguma dúvida, responda a esta mensagem diretamente ou ligue das 14:00 às 18:00 no (11) 98199-0218.
br
br
|Um abraço!
br
|#{CatarseSettings[:company_name]}
