= link_to 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank do
  img src="https://s3.amazonaws.com/catarse.files/video.jpg"

p #{@notification.user.display_name},

p
  'Você é o apoiador número <strong>#{@notification.user.contributor_number}</strong> 
   em um universo de mais de 200 mil pessoas incríveis que apoiaram projetos no 
   Catarse nos últimos 4 anos e meio que estamos no ar. Reunir todas essas pessoas 
   é um marco simbólico, um sinal de que já trilhamos um longo caminho e uma motivação para, 
   juntos, irmos além. Muito obrigado! Esperamos que você se sinta orgulhoso de fazer parte 
   de uma multidão que decidiu se juntar para tirar do papel mais de 1.700 ideias criativas de todo o Brasil.

p 
  'Para celebrar mais essa conquista, fizemos um #{link_to('vídeo', 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)} para 
   mostrar um pouco do lindo impacto que já causamos na produção criativa do país. 
   Ao olhar o tanto que já fizemos juntos, tentamos imaginar: e se fôssemos 1 milhão? 

p
  'Assista e #{link_to('compartilhe', 'http://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)} 
   o vídeo com as hashtags #SomosMuitos e #Catarse200mil. 
   Vamos trazer mais gente para tirar ainda mais projetos do papel!

p Grande abraço,

p Equipe do Catarse   
