= link_to 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank do
  img src="https://s3.amazonaws.com/catarse.files/video.jpg"

p #{@notification.user.display_name},

p
  'You are the supporter number <strong> #{@notification.user.contributor_number} </strong>
        In a universe of more than 200 thousand incredible people who supported projects in the
        Catarse in the last 4 and a half years that we are in the air. Bring all these people together
        Is a symbolic landmark, a sign that we have already gone a long way and a motivation for,
        Together, we go beyond. Thank you very much! We hope you are proud to be a part of
        Of a crowd that decided to join to take the paper more than 1,700 creative ideas from all over Brazil.

p 
  'To celebrate this achievement, we made a#{link_to('video', 'https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)} for
        Show a little of the beautiful impact we have already caused in the creative production of the country.
        Looking at how much we've done together, we try to imagine: what if we were 1 million?

p
  'Watch and #{link_to('Share', 'http://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v=CRqXvKk5A1Q', target: :blank)}
    The video with the hashtags #SomosMuitos and #Catarse200mil.
        Let's bring more people to take even more designs out of paper!

p Big hug,

p The JVN Team