.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.about')}
a.zendesk_widget.link-footer href="#{CatarseSettings[:zendesk_url]}/account/dropboxes/#{CatarseSettings[:zendesk_dropbox_id]}"  #{t('layouts.footer.links.contact')}
a.link-footer href="#{press_url}"  #{t('layouts.footer.links.press')}
a.link-footer href="#{CatarseSettings[:faq_url]}"  #{t('layouts.footer.links.help_support')}
a.link-footer href="#{guides_url}"  #{t('layouts.footer.links.guides')}
a.link-footer href="http://pesquisa.catarse.me/"  #{t('layouts.footer.links.crowdfunding_stats')}
a.link-footer href="#{terms_of_use_path}"  #{t('layouts.footer.links.terms')}
a.link-footer href="#{privacy_policy_path}"  #{t('layouts.footer.links.privacy')}
