.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.about')}
a.link-footer href="#{CatarseSettings[:faq_url]}"  #{t('layouts.footer.links.faq')}
a.link-footer href="#{CatarseSettings[:feedback_url]}"  #{t('layouts.footer.links.feedback')}
a.link-footer href="#{terms_of_use_path}"  #{t('layouts.footer.links.terms')}
a.link-footer href="#{privacy_policy_path}"  #{t('layouts.footer.links.privacy')}
