h4.h4-neg #{t('layouts.footer.titles.about')}
a.link-footer.link-footer-negative href="#{CatarseSettings[:faq_url]}"  #{t('layouts.footer.links.faq')}
a.link-footer.link-footer-negative href="#{CatarseSettings[:feedback_url]}"  #{t('layouts.footer.links.feedback')}
a.link-footer.link-footer-negative href="#{terms_of_use_path}"  #{t('layouts.footer.links.terms')}
a.link-footer.link-footer-negative href="#{privacy_policy_path}"  #{t('layouts.footer.links.privacy')}
