=curated_pages
  .curated_page_header
    padding: 0 0 0 23px
  .curated_header
    padding: 15px 0 15px 0
    h1
      float: left
    h2
      float: left
    .curated_social
      float: left
      margin-left: 412px
      margin-top: -56px
  #curated_pages_list
    padding: 0 0 0 4px
    .curated_page
      width: 260px
      float: left
      margin: 10px 20px
      border: 5px solid #ddd
      a
        img
          border: 0px