=footer
  text-align: center
  padding: 20px 0 80px 0
  #footer_menu
    margin: 0 auto
    width: 732px
    padding: 20px 0
    ul
      +horizontal-list(12px)
      li
        a
          text-decoration: none
          font-weight: bold
  #social_menu
    margin: 0 auto
    width: 482px
    padding-bottom: 40px
    font-size: 16px
    img
      vertical-align: middle
      padding-bottom: 4px
      height: 22px
    ul
      +horizontal-list(12px)
      li
        a
          text-decoration: none
          font-weight: bold
  #colophon
    padding-top: 20px
    margin: 0 auto
    width: 240px
    font-size: 14px
    p#copyright
      float: left
    a#softa_logo
      margin-top: -20px
      margin-right: 12px
      float: left
      +sprite("/images/softa_logo.png")
      display: block
      height: 50px
      width: 110px
      +transition(none)
      &:hover
        +position(0,-50px)

