=profile
  #profile_header
    width: 760px
    .image
      float: left
      padding: 20px
      img
        background-color: #fff
        +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 6px)
        max-width: 128px
        max-height: 128px
    .info
      h1, h2
        text-align: left
      h2
        margin: 0 !important
        padding: 0 !important
  #user_feed
    color: #444
    font-size: 22px
    line-height: 28px
    h1
      font-size: 26px !important
      color: #999 !important
      padding-bottom: 0 !important
      padding-top: 0 !important
    img.project
      float: left
      margin-right: 12px
      width: 160px
      +box-shadow(rgba(0,0,0,0.5), 2px, 2px, 3px)
    a
      text-decoration: none !important
      font-size: 22px
      line-height: 28px
    p
      font-size: 18px
      color: #666
    ul li
      margin-top: 32px
      &:first-child
        margin-top: 24px
      &:last-child
        margin-bottom: 24px
    div
      margin-top: 24px
    hr
      margin: 20px 0
      border: 1px dashed transparent