=promo_video
  margin-bottom: 40px
  margin-left: 10px
  iframe
    border: 5px solid #BDBBB1
    border: 5px solid rgba(173,171,151,0.8)
    +border-radius(4px)
  #promo_title
    float: right
    padding-top: 12px
    width: 220px
    font-family: "museo-500"
    font-size: 28px
    line-height: 40px
    color: #888
    .retrospective,.surprise
      font-size: 36px
    .retrospective
      color: #222
    .surprise
      color: #080
    .catarse
      font-family: "museo-700"
      color: #222
      font-size: 38px
      