=projects
  #projects
    padding: 40px
  .project
    font-size: 16px
    color: #666
    float: left
    margin: 10px 45px
    +border-radius(8px)
    border: 5px solid #eee
    border: 5px solid rgba(100,100,100,0.1)
    img
      width: 280px
      +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
      margin-bottom: 16px
      +transition
    img:hover
      +box-shadow(rgba(0,0,0,0.7), 3px, 3px, 6px)
  .project_header
    h1
      font-family: "museo-300"
      font-size: 20px
    a
      text-decoration: none
      color: #000
      +transition
    a:hover
      +text-shadow(rgba(0,150,0,0.4), 1px, 1px, 10px)
  .project_owner
    font-size: 14px
    color: #999
    padding-bottom: 8px
  .project_category
    text-transform: uppercase
    color: #fff
    background-color: #555
    background-color: rgba(0,0,0,0.7)
    +border-radius(4px)
    +text-shadow(#000, 1px, 1px, 0px)
    padding: 4px 8px
    float: right
    font-size: 14px
    margin-top: 16px
  .project_wrap
    width: 280px
    padding: 20px
  .project_progress
    text-transform: uppercase
    color: #333
    background-color: #CCC
    background-color: rgba(0,0,0,0.2)
    +border-bottom-left-radius(4px)
    +border-bottom-right-radius(4px)
    padding: 20px
    font-size: 13px
    ul
      +horizontal-list(8px)
    .progress_bar
      font-size: 8px
      background-color: #999
      background-color: rgba(0,0,0,0.3)
      width: 280px
      margin-bottom: 16px
      +border-radius(32px)
      .progress
        background-color: rgb(0,150,0)
        +border-radius(32px)
  #guidelines_form
    fieldset
      padding-bottom: 20px
    label
      font-weight: bold
      color: #DD3333
    text-align: center