=projects
  .project_list_header
    font-weight: bold
    margin: -16px 0 18px 8px
  .project_list_wrapper
    position: relative
    height: 420px
  .project_list
    width: 840px
    overflow: hidden
  .project_box
    font-size: 12px
    line-height: 16px
    color: #666
    float: left
    margin: 0 8px 20px 8px
    +border-radius(8px)
    border: 5px solid #eee
    border: 5px solid rgba(100,100,100,0.1)
    .project_header
      text-align: center
      img
        height: 120px
        +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
        margin-bottom: 12px
        +transition
      img:hover
        +box-shadow(rgba(0,0,0,0.7), 3px, 3px, 6px)
      h1
        text-align: left
        font-family: "museo-300"
        font-size: 16px !important
        line-height: 18px !important
        color: #222 !important
        padding: 0 !important
      a
        text-decoration: none
        +text-shadow(none)
        color: #000
        +transition
      a:hover
        +text-shadow(rgba(0,150,0,0.4), 1px, 1px, 4px)
    .project_owner
      color: #999
      padding-bottom: 8px
    .project_category
      text-transform: uppercase
      color: #fff
      background-color: #555
      background-color: rgba(0,0,0,0.7)
      +border-radius(4px)
      +text-shadow(#000, 0px, 0px, 0px)
      padding: 2px 6px
      font-size: 10px
      position: absolute
      bottom: 12px
      right: 12px
    .project_wrap
      min-height: 284px
      width: 234px
      padding: 10px
      position: relative
    .project_progress
      text-transform: uppercase
      color: #333
      background-color: #CCC
      background-color: rgba(0,0,0,0.2)
      +border-bottom-left-radius(4px)
      +border-bottom-right-radius(4px)
      padding: 10px 0
      font-size: 11px
      .progress_bar
        font-size: 4px
        line-height: 12px
        width: 200px
      .progress_info
        width: 216px
        margin: 0 auto
        ul
          +horizontal-list(4px)
  .progress_bar
    margin: 0 auto
    font-size: 8px
    background-color: #999
    background-color: rgba(0,0,0,0.3)
    width: 280px
    margin-bottom: 10px
    +border-radius(32px)
    .progress
      background-color: rgb(0,150,0)
      +border-radius(32px)
  #how_it_works
    background-color: #FFA
    background-color: rgba(255, 255, 160, 0.6)
    font-family: "museo-300"
    font-size: 20px
    line-height: 28px
    padding: 20px
    margin-bottom: 28px
    color: #000
    +border-radius(12px)
    +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
    strong
      font-family: "museo-500"
    #show_tips
      margin-top: 8px
      a
        font-family: "museo-500"
        text-decoration: none
        font-weight: bold
        color: #F90
        &:hover
          color: #FA0
  #guidelines_form
    fieldset
      padding-top: 20px
    label
      font-weight: bold
      color: #DD3333
      display: inline
    text-align: center
  #project_form,#start_project_form
    p.inline-hints
      display: none
    .submit
      text-align: center
      fieldset
        padding-top: 20px
    #project_category_id
      width: 220px
    #project_goal
      width: 220px
    #project_expires_at
      width: 340px
    #project_headline
      height: 44px
    #project_rewards
      margin-top: 20px
      +border-radius(8px)
      border: 5px solid #eee
      border: 5px solid rgba(100,100,100,0.1)
      padding: 12px
      font-size: 16px
      h3
        text-transform: uppercase
        font-size: 18px
      p
        color: #777
        font-size: 14px
        padding-bottom: 0
      input
        width: 364px
      textarea
        height: 44px
      .reward
        padding-bottom: 12px
        p.inline-hints
          padding-bottom: 8px
      #add_reward_wrapper
        text-align: right
      .remove_reward_wrapper
        float: right
      .remove_reward
        display: none
  #start_project_form
    #contact
      width: 340px
    .submit
      position: relative
      #loading
        position: absolute
        bottom: 22px
        left: 520px
        display: none
  #project_header
    text-align: left
    padding: 0 20px
    h1
      padding-bottom: 8px !important
    h2
      padding: 0 !important
  #project_warning
    text-align: center
    background-color: #FFA
    background-color: rgba(255, 255, 160, 0.6)
    padding: 20px
    margin-bottom: 36px
    color: #000
    +border-radius(12px)
    +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
    margin-top: -16px
    color: #666
  #project_description
    margin-top: -10px
    float: left
    width: 472px
    #project_video
      width: 460px
      iframe
        +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
      #project_share
        background-color: #FFFFAA
        width: 96%
        margin: 0 auto
        margin-top: -8px
        padding-bottom: 4px
        +border-bottom-left-radius(12px)
        +border-bottom-right-radius(12px)
        border: 2px dotted rgba(0,0,0,0.5)
        +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
        text-align: center
        font-size: 14px
        line-height: 32px
        ul
          +horizontal-list(6px)
          width: 84%
          margin: 0 auto
        a
          text-decoration: none
          color: #222
          +transition(all, 0.1s)
          &:hover
            +text-shadow(#FFFF88, 2px, 2px, 4px)
        img, a img
          margin-top: -4px
          vertical-align: middle
          width: 22px
        input
          border: 1px solid rgba(0,0,0,0.4)
          +border-radius(4px)
          width: 116px
        h1
          color: #222
          font-size: 18px
          text-transform: lowercase
          padding-top: 8px !important
          padding-bottom: 4px !important
      #project_embed
        +embed_modal
    #project_about
      margin-top: 24px
      margin-right: 16px
      h1
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 18px
        font-weight: bold
        color: #222
        text-transform: uppercase
        padding: 0
        padding-bottom: 16px
  #project_back_info
    margin-top: -10px
    float: right
    width: 352px
    #back_project
      background-color: #DDDBD1
      background-color: rgba(179,177,157,0.5)
      border: 3px solid #BDBBB1
      border: 3px solid rgba(173,171,151,0.5)
      +box-shadow(rgba(0,0,0,0.5), 4px, 4px, 5px)
      padding: 0px
      .info
        padding: 16px
      .number
        font-family: "museo-700"
        font-size: 36px
        line-height: 40px
      .project_progress
        margin-top: 12px
        .progress_bar
          margin-bottom: 0
      .project_warning
        padding: 4px 0
        text-transform: uppercase
        text-align: center
        color: #fff
        font-size: 13px
        +text-shadow(#333, 1px, 1px, 0px)
        .text
          padding: 4px
          margin: 0
      .successful
        background: url(/images/bg_top_green.png) top left repeat-x, url(/images/bg_bottom_green.png) bottom left repeat-x
        .text
          background-color: #040
      .not_successful
        background: url(/images/bg_top_red.png) top left repeat-x, url(/images/bg_bottom_red.png) bottom left repeat-x
        .text
          background-color: #600
      form
        text-align: center
        input[type=submit]
          color: #fff
          +text-shadow(green, 1px, 1px, 1px)
          background-color: #49B249
          +linear-gradient(color_stops(#59C259,#31A232))
          text-transform: uppercase
        input[type=submit]:hover
          background-color: #59C259
          +linear-gradient(color_stops(#59C259,#41B242))
        input[type=submit]:active
          +text-shadow(green, 2px, 2px, 1px)
        input[type=submit]:disabled
          color: #888
          +text-shadow(rgba(230,230,230,0.85), 1px, 1px, 0px)
          padding: 10px 15px
          background-color: #aaa
          +linear-gradient(color_stops(#bbb,#888))
          +box-shadow(rgba(0,0,0,0.75),2px,2px,6px)
    #rewards
      .on_the_spot_editing form textarea
        width: 280px
      margin-top: 24px
      font-size: 16px
      h1
        background-color: rgb(0,132,185) !important
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-weight: bold
        text-transform: uppercase
        text-align: center
        padding: 8px 0
        font-size: 16px
        color: #fff
        +text-shadow(rgba(0,0,0,0.5), 1px, 1px, 1px)
        position: relative
        img
          position: absolute
          top: 0
        #rewards_left_border
          left: -8px
          //display: none
        #rewards_right_border
          right: -8px
      ul
        +border-bottom-left-radius(8px)
        +border-bottom-right-radius(8px)
        border: 2px solid #ddd
        border: 2px solid rgba(100,100,100,0.2)
        border-top: 0
        padding: 12px
        h1
          text-align: left
          padding-bottom: 4px !important
          background-color: transparent !important
          background-image: none !important
          +text-shadow(#fff, 1px, 1px, 0px)
        li
          padding: 8px 0
          border-bottom: 1px solid #ddd
          h1
            padding: 0
            color: #222
        li:last-child
          border: 0
          padding-bottom: 0
      .reward_backers
        text-align: right
        margin-top: 8px
        font-size: 12px
        line-height: 12px
        font-weight: bold
        text-transform: uppercase
        img
          width: 16px
          margin-left: 4px
          margin-top: -2px
          vertical-align: middle
      .maximum_backers
        margin-bottom: 8px
        font-size: 12px
        .limited
          float: left
          font-weight: bold
          text-transform: uppercase
        .sold_out
          float: left
          font-weight: bold
          text-transform: uppercase
          color: #fff
          background-color: #555
          background-color: rgba(0,0,0,0.7)
          +border-radius(4px)
          +text-shadow(#000, 1px, 1px, 0px)
          padding: 0 8px
        .remaining
          float: left
          margin-left: 12px
          font-size: 12px
          font-weight: bold
  #back_options
    float: left
    width: 422px
    margin-top: -14px
    #backer_form
      fieldset
        padding: 0
        margin: 0
      input[type=text]
        font-size: 48px
        width: 392px
        padding: 12px
        border: 3px solid rgb(0,60,0)
        border: 3px solid rgba(0,60,0,0.6)
      input[type=text]:focus
        background-color: rgb(0,150,0)
        background-color: rgba(0,150,0,0.2)
      input.ok,textarea.ok
        background: url('/images/tick_32.png') no-repeat 96% center
      input.error,textarea.error
        background: url('/images/delete_32.png') no-repeat 96% center
      p.inline-hints
        font-size: 18px
        margin-top: 8px
        margin-bottom: 28px
      input[type=radio]
        float: left
        margin: 8px 16px 0 0
      label
        font-family: "museo-300"
        font-size: 24px
        line-height: 28px
        padding-bottom: 8px
      li.radio ol
        background-color: #ddd
        +border-radius(12px)
        +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
      li.radio ol li
        line-height: 22px
        border-bottom: 2px solid #eee
        padding: 10px 20px
        &:first-child
          +border-top-left-radius(12px)
          +border-top-right-radius(12px)
        &:last-child
          +border-bottom-left-radius(12px)
          +border-bottom-right-radius(12px)
          border: none
        &:hover
          background-color: #bdb
        label
          margin: 0
          padding: 0
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
          font-size: 18px
          .sold_out
            font-size: 14px
            margin-bottom: 8px
            float: right
            font-weight: bold
            text-transform: uppercase
            color: #fff
            background-color: #555
            background-color: rgba(0,0,0,0.7)
            +border-radius(4px)
            +text-shadow(#000, 1px, 1px, 0px)
            padding: 0 8px
      li.boolean
        text-align: center
        padding-top: 16px
        margin-bottom: 0
        input
          margin-right: 8px
        label
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
          font-size: 18px
      .reward_minimum_value
        font-weight: bold
        float: left
      .reward_description
        float: left
        margin-left: 28px
      .buttons
        text-align: center
        margin-top: 16px
  #back_info
    float: right
    width: 362px
    font-size: 16px
    img
      float: left
      width: 128px
      +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
      margin-bottom: 16px
    #project_info
      float: right
      width: 204px
      margin-bottom: 16px
      .project_name a
        text-decoration: none
        font-weight: bold
        font-size: 18px
      .project_owner
        color: #777
        a
          text-decoration: none
          color: #222
          &:hover
            +text-shadow(rgba(0,150,0,0.4), 1px, 1px, 10px)
      .project_expires_at
        font-size: 16px
        margin-top: 8px
        font-weight: bold
        text-transform: uppercase
        color: #666
  #project_review
    text-align: center
    font-size: 28px
    line-height: 32px
    #review_text
      font-size: 22px
      margin: 40px 0
      .reward
        font-style: italic
    img#project_image
      float: left
      width: 128px
      +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
      margin-right: 20px
    h1
      text-align: left
      font-family: "museo-500" !important
      float: left
      width: 680px
      line-height: 32px
      padding-top: 4px !important
      color: #222 !important
    h2
      color: #222 !important
      margin-top: 20px
    fieldset
      margin-bottom: 10px
      label
        font-size: 18px
  #thank_you
    margin-top: 10px
    text-align: center
    img#project_image
      float: left
      width: 128px
      +box-shadow(rgba(0,0,0,0.5), 3px, 3px, 5px)
      margin-right: 20px
    h1
      text-align: left
      font-family: "museo-500" !important
      float: left
      width: 680px
      line-height: 32px
      padding-top: 4px !important
      color: #222 !important
    h2
      color: #222 !important
      margin-top: 20px
    a
      text-decoration: none
    a img
      width: 116px
      +transition(all,0.3s)
      &:hover
        +scale(1.1)
    #how_it_works
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 18px
      margin-top: 40px
#project_backers
  margin-top: 8px
  color: #444
  h1
    font-size: 24px !important
    color: #999 !important
    padding-bottom: 16px !important
  img.user
    float: left
    margin-right: 12px
    width: 48px
    +box-shadow(rgba(0,0,0,0.5), 2px, 2px, 3px)
    background-color: #fff
  a
    text-decoration: none !important
  #all_backers
    border-top: 1px dashed #CCC
    text-align: right
    padding-top: 8px
  p
    font-size: 16px
    color: #666
  p.reward
    font-size: 12px
    color: #333
#backers #project_backers
  margin-top: 0
  h1
    padding-top: 0 !important
  ul
    width: 94%
    li
      background-color: #ddd
      margin-top: 16px
      padding: 20px
      +border-radius(8px)
      position: relative
      .badge
        position: absolute
        top: -10px
        right: -10px
        width: 72px
        +transition(all,0.2s)
        &:hover
          +rotate(-4deg)
  a
    text-decoration: none
  p
    padding-bottom: 0 !important

#pending_projects, #pending_backers
  color: #444
  font-size: 22px
  line-height: 28px
  img.project,img.user
    float: left
    margin-right: 12px
    width: 160px
    +box-shadow(rgba(0,0,0,0.5), 2px, 2px, 3px)
  img.user
    width: 48px
  a
    text-decoration: none !important
    font-size: 22px
    line-height: 28px
  p
    font-size: 18px
    color: #666
  ul li
    margin-top: 32px
    &:first-child
      margin-top: 24px
    &:last-child
      margin-bottom: 24px
  hr
    margin: 20px 0
    border: 1px dashed transparent

