=video_embed
  text-align: center
  padding: 16px
  padding-bottom: 0
  iframe
    +border-top-left-radius(8px)
    +border-top-right-radius(8px)
    +box-shadow(rgba(0,0,0,0.5), 5px, 5px, 10px)
  h1
    font-family: "museo-500"
    font-size: 24px
    line-height: 26px
    padding: 12px 0 8px 0
    a
      text-decoration: none
      +text-shadow(rgba(0,0,0,0.3), 2px, 2px, 3px)
  h2
    font-size: 14px
    line-height: 16px
    color: #666
    padding: 0
    +text-shadow(#fff, 1px, 1px, 0px)
    a
      text-decoration: none
      +text-shadow(#fff, 1px, 1px, 0px)
  #platform_link
    h1
      font-family: "museo-700"
      font-size: 28px
      line-height: 30px
      padding: 0
      a
        color: #222
        text-decoration: none
        +transition
      a:hover
        +text-shadow(rgba(0,150,0,0.4), 1px, 1px, 10px)
  #video_embed_footer
    position: fixed
    bottom: 4px
    left: 50%
    width: 220px
    margin-left: -110px
