body[data-action="new_curated_page"][data-controller="static"]
  #page_content
    +default_grid
    padding-top: 40px
    position: relative
    font-family: "Lato", sans-serif

    .section_header
      +grid(16)
      +clearfix
      padding-bottom: 10px
      margin-bottom: 20px

      h1.profile
        +alpha
        +grid(11)
        +grid-push(5)

        margin-top: 25px
        margin-left: 0
        padding: 0

      h4.about
        +alpha
        +grid(10)
        +grid-push(5)
        +grid-suffix(1)
        +clearfix  
        margin: 15px 0
        padding: 0
      
      .channel_social
        +alpha
        +grid(12)
        +grid-push(5)
        margin-left: 0
        margin-top: 15px

        


    .profile_share
      .channel_pic
        float: left
        position: absolute
        top: 65px
        left: 30px
        +box-shadow(black 2px 2px 8px)
    
    .compost_project
      padding-top: 30px
      padding-bottom: 30px
