[data-action="index"][data-controller="explore"]
  #page_content
    margin-top: 30px
    .container
      .sidebar
        margin-top: 123px
        .content
          padding-top: 10px
        section
          h2
            font-size: 16px
            color: black
            font-family: "Lato-Bold"
            margin-bottom: 10px
            text-transform: lowercase
            padding-left: 20px
          &.highlights
            h2
              background: url($images_path+'min_star12x11.png') left 3px no-repeat
          &.categories
            h2
              background: url($images_path+'category_icon14x14.png') left 2px no-repeat
          ul
            margin-bottom: 20px
            li
              margin-bottom: 5px
              a
                color: $ultra_gryn
                font-size: 14px
                font-family: Arial
                background: rgba($minimal_gryn, 0.3)
                display: block
                padding: 1px 10px
                text-decoration: none
                +border-radius(5px)
                &:hover, &.selected
                  background: rgba($pink, 0.3)
      .main
        .section_header
          +grid(16)
          +alpha
          padding-bottom: 60px
          h1
            font-family: "Lato-Bold"
            font-size: 28px
            color: $ultra_gryn
            padding-bottom: 5px
            span
              color: $minimal_gryn
          h4
            font-family: Arial
            font-size: 16px
            color: $ultra_gryn
        #explore_results
          .results
            ul.collection_list
              float: left
              li
                float: left
                margin-bottom: 20px
                &.first
                  .project
                    +alpha
                &.last
                  .project
                    +omega
    // .empty
    //   font-family:  Arial
    //   font-size: 1.6em
    // .projects_list
    //   +grid(12)
    //   .project
    //     &.first
    //       +alpha
    //     &.last
    //       +omega
    //   a.discover
    //     +clearfix
    //     float: right
    //     font-size: 1.2em
    //     font-family: Lato-Regular
    //     margin-top: 15px
    //   .selected_list, .final_stage_list, .new_projects_list, .finished_projects_list
    //     float: left
    //     padding-bottom: 10px
    //     margin-bottom: 20px
    //     border-bottom: 1px rgba(black, 0.1) solid
    //     h2
    //       text-transform: lowercase
    //   .selected_list
    //     h2
    //       background: url('/images/redesign/nice.png') left 3px no-repeat
    //   .final_stage_list
    //     h2
    //       background: url('/images/redesign/final_stage_icon18x15.png') left 3px no-repeat
    //   .new_projects_list
    //     h2
    //       background: url('/images/redesign/new_projects_icon35x20.png') left 1px no-repeat
    //       text-indent: 45px
    //   .finished_projects_list
    //     border-bottom: none
    //     h2
    //       background: url('/images/redesign/success_project_icon16x31.png') left top no-repeat
    //
    //   h2
    //     padding-bottom: 20px
    //     width: 100%
    //     float: left
    //     text-indent: 24px
    //     font-family: Lato-Bold
    //     font-size: 1.9em
    //     color: black
    //     +opacity(0.8)
    //     span
    //       padding-left: 20px
    //       font-family: Arial
    //       font-size: 0.8em
    //       +opacity(0.6)
    //   ul.collection_list
    //     li
    //       .project
    //         margin-bottom: 20px
    //       &.first
    //         .project
    //           +alpha
    //       &.last
    //         .project
    //           +omega
    // .sidebar
    //   +grid(4)
    //   section
    //     border-bottom: 1px rgba(black, 0.3) solid
    //     float: left
    //     width: 100%
    //     margin-bottom: 10px
    //     padding-bottom: 10px
    //     &:last-child
    //       border-bottom: none
    //     &.highlights
    //       h2
    //         background: url('/images/redesign/highlight_icon12x12.png') left 6px no-repeat
    //     &.categories
    //       h2
    //         background: url('/images/redesign/categories_icon14x14.png') left 3px no-repeat
    //     &.cities
    //       h2
    //         background: url('/images/redesign/cities_icon9x16.png') left 2px no-repeat
    //     h2
    //       font-size: 1.4em
    //       color: black
    //       font-family: Lato-Bold
    //       padding: 5px 0 10px 0
    //       text-indent: 20px
    //       +opacity(0.8)
    //       float: left
    //       width: 100%
    //     ul
    //       li
    //         margin-bottom: 10px
    //         float: left
    //         margin-right: 8px
    //         &.no_margin
    //           margin-left: none
    //         a
    //           // padding-top: 10px
    //           vertical-align: middle
    //           width: 100px
    //           height: 31px
    //           display: table-cell
    //           +border-radius(5px)
    //           +box-shadow(rgba(black, 0.15) 2px 2px 2px)
    //           background: white
    //           border: 1px $minimal_gryn solid
    //           text-align: center
    //           font-family: Arial
    //           font-size: 1.2em
    //           color: $minimal_blue
    //           &:hover
    //             +opacity(1.0)
    //             +box-shadow($blue 2px 2px 2px)
    //           &.selected
    //             +box-shadow($blue 2px 2px 2px)
