- content_for :title, t('.title')
- categories = Category.with_projects.order(:name_pt).all
= render 'shared/header_big', overlayer: true

- if current_user
  #nearOfData data-state="#{current_user.address_state}"
- content_for :application_js do
  = javascript_include_tag 'api/application'

#project-explore-root


= render 'shared/footer_big'
