- content_for :title, "Administre com amor <3"
- content_for :application_js do
  = javascript_include_tag 'new_admin/application' 

= render 'shared/header_big'

#new-admin[data-api=CatarseSettings[:api_host]]

= render 'shared/footer'


