[data-controller="projects"][data-action="new__"]
  #loading
    display: none
  #page_content
    .container
      .start_content
        +grid(16)
        padding-top: 15px
        .accept
          input, label
            display: inline
        .alert-heading
          font-family: 'Lato'
          font-weight: 700
        .reward_title
          padding-top: 20px
          h3
            font-family: 'Lato'
            font-weight: 700
            font-size: 16px
            color: rgba(black, 0.8)
          p
            font-family: Arial
            font-size: 13px
            color: rgba(black, 0.6)
            line-height: 130%
            padding-top: 5px
            padding-bottom: 10px
        .title
          +grid(16)
          +alpha
          padding-bottom: 40px
          h1
            color: $ultra_gryn
            font-family: "Lato"
            font-size: 28px
            padding: 5px 0
          h2
            color: rgba($ultra_gryn, 0.7)
            font-family: Arial
            font-size: 18px
      #project_warning
        .alert.alert-warning
          background-color: #F7F7F7
          border: 1px solid #EDEDED
          color: #666666
          font-family: "Lato"
          font-size: 13px
          line-height: 21px
          height: 20px
          padding: 10px 10px 10px 40px
          width: 92%
          a
            color: $pink
      .formtastic.project
        .accept
          padding-top: 20px
          padding-bottom: 20px
          input
            display: inline
          label
            display: inline
        label
          font-family: 'Lato'
          font-size: 15px
          color: rgba(black, 0.8)
        .input-prepend.permalink
          .add-on
            margin-top: -2px
            font-family: 'Lato'
            font-size: 15px
            color: rgba(black, 0.8)
        input[type="text"]
          width: 99%
          &.permalink
            width: 85%
        textarea
          width: 99%
          height: 180px
          &#project_headline
            height: 80px
        .inline-hints
          font-size: 13px
          font-family: Arial
          line-height: 130%
          color: rgba(black, 0.6)
          padding-bottom: 20px
      .reward
        textarea
          height: 80px !important
      .remove_reward_wrapper
        a
          position: absolute
          margin-left: 853px
          margin-top: 150px !important
          font-family: Arial
          font-size: 15px
      #add_reward_wrapper
        a
          float: left
          font-family: Arial
          font-size: 15px
      .reward
        padding-top: 10px
        padding-bottom: 10px
        margin-bottom: 10px
        .left
          float: left
          width: 30%
          margin-right: 5%
          input
            width: 99%
        .right
          float: left
          width: 30%
          input
            width: 99%
