form#new_reward, form.formtastic.reward, form#edit_reward
  width: 240px
  list-style: none
  label
    //display: block
    font-family: 'Lato'
    font-size: 14px
    color: black
    background: none
  textarea
    height: 50px
  input, textarea
    display: block
  .inline-errors
    color: $red !important
    font-size: 12px !important
  .inline-hints
    font-size: 12px
    font-family: Arial
    line-height: 130%
    color: rgba(black, 0.6)
    padding-bottom: 20px
