strong Are you sure you want your back to be anonymous? 
| Leaving your back public gives you a better reputation and count points on our ranking of backers.
br
br
| Besides that, the amount you backed will never be disclosed to no one but the project owner (who will always know who you are), even if your back is public.
