script type="text/template" id="backer_template"
  |{{#attributes}}
  |{{confirmed_at}}

  |{{#anonymous}}
  = image_tag 'user.png', :class => 'user'
  |  Apoiador anônimo
  = image_tag "sites/#{current_site}/badge.png", :class => "badge"
  p Optou por permanecer incógnito
  |{{/anonymous}}

  |{{^anonymous}}
  |{{#user}}
  a href="{{url}}"
    img src="{{image}}" class="user"
    |  {{medium_name}}
    = image_tag "sites/#{current_site}/badge.png", :class => "badge"
  p
    |{{backs_text}}
  |{{/user}}
  |{{/anonymous}}

  - if current_user and (current_user == @project.user or current_user.admin)
    p.reward
      | Valor: 
      |{{display_value}}
      | . Email:
      |{{#user}} 
      |{{email}}
      |{{^email}}
      | não informado.
      |{{/email}}
      |{{/user}} 
      br
      |{{#reward}}
      | Recompensa: 
      |{{display_minimum}} - {{medium_description}}
      |{{/reward}}
      |{{^reward}}
      | Este apoiador não selecionou nenhuma recompensa
      |{{/reward}}
 
  |{{/attributes}}

  .clear

