- style = "-moz-border-radius: 8px;-webkit-border-radius: 8px;-o-border-radius: 8px;-ms-border-radius: 8px;-khtml-border-radius: 8px;border-radius: 8px;-moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0;-webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0;-o-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0;box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px 0;"
.overlay.hide
  #project_embed.hide
    %a.close{ :href => '#' } X
    #project_box_embed
      %iframe{ :frameborder => '0', :height => '552px', :width => '330px', :src => embed_project_path(@project)}
      %form.html= text_area_tag 'project_box_embed_html', '<iframe frameborder="0" height="552px" src="' + embed_project_url(@project) + '" width="330px" style="' + style + '"></iframe>', :readonly => true
    #project_video_embed
      %iframe{ :frameborder => '0', :height => '552px', :width => '500px', :src => video_embed_project_path(@project)}
      %form.html= text_area_tag 'project_video_embed_html', '<iframe frameborder="0" height="552px" src="' + video_embed_project_url(@project) + '" width="500px" style="' + style + '"></iframe>', :readonly => true
    .clear
= javascript_include_tag 'project_embed'

