<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=212872375401915&amp;xfbml=1"></script><fb:like href="<%= request.url %>" send="true" width="540" show_faces="true" font="arial"></fb:like>
