%iframe{:src => "http://www.facebook.com/plugins/like.php?href=#{URI.escape(url)}&amp;layout=box_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=60", :scrolling => 'no', :frameborder => '0', :style => 'border:none; overflow:hidden; width:55px; height:60px;', :allowTransparency => 'true'}


