script type="text/template" id="project_video_embed"
  iframe src="<%= embed_url %>?title=0&amp;byline=0&amp;portrait=0&amp" width="640" height="430" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen

