= content_for :content_header do
  #project_header
    %h1
      - if current_user and current_user.admin
        = on_the_spot_edit @project, :name
      - else
        = @project.name
    %h2= t('.subtitle_html', :link => link_to(@project.user.display_name, user_path(@project.user)))
