- box_width = "220px"
- box_height = "415px"
- video_width = "364px"
- video_height = "415px"
#embed_overlay.overlay.hide
  #project_embed.hide
    %a.close{ :href => 'javascript:CATARSE.router.back()' } X
    #project_box_embed
      %iframe{ :frameborder => '0', :height => box_height, :width => box_width, :src => embed_project_path(@project)}
      %form.html= text_area_tag 'project_box_embed_html', '<iframe frameborder="0" height="' + box_height + '" src="' + embed_project_url(@project) + '" width="' + box_width + '"></iframe>', :readonly => true
    #project_video_embed
      %iframe{ :frameborder => '0', :height => video_height, :width => video_width, :src => video_embed_project_path(@project)}
      %form.html= text_area_tag 'project_video_embed_html', '<iframe frameborder="0" height="' + video_height + '" src="' + video_embed_project_url(@project) + '" width="' + video_width + '"></iframe>', :readonly => true
    .clearfix
