<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= "#{t('.share.take_a_look')} \"#{@project.name}\" #{current_site.in_the_twitter} #{@project.short_url}" %>" data-count="horizontal" data-via="Catarse_">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
