a href='http://twitter.com/share' class='twitter-share-button', 'data-url' =(> url,)'data-text' =(> text,)'data-count' =(>)'vertical', 'data-via' =(>)'Catarse_'
  = image_tag 'auth/twitter_32.png', :title => 'Twitter'
  | Twitter
script type='text/javascript' src='http://platform.twitter.com/widgets.js'
