<a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= "#{t('.take_a_look')} \"#{@project.name}\" #{current_site.in_the_twitter}" %>" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
