<a href="http://twitter.com/share" class="twitter-share-button" data-count="<%= (defined?(count) ? count : 'horizontal') %>" data-text="<%= (defined?(text) ? text : t('.take_a_look', :name => @project.name) ) %>" data-url="<%= (defined?(url) ? url : request.url) %>">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
