%header#projects_header
  %h1= t 'content.header.punchline'
  %h2
    = t 'content.header.description'
%section#projects
  %article.project
    .wrap.project
      %header.project
        - link_to '#' do
          = image_tag 'project01.jpg'
          %h1 Absurdo Fantástico, o filme
      %footer.project
        por Cisco Vasques
      .description.project
        Um longa metragem de videoarte que aniquila as definições, restando apenas a experiência. Absurdo fantástico. Sem mais.
      %span.category.project
        Cinema & Vídeo
      .clear
    %aside.project
      128%
      %strong atingido
  .clear

