= content_for :content_header do
  %h1 Política de privacidade
  %h2 Confira nossa política de privacidade e veja porque sua privacidade está protegida conosco.
.text
  %h2 Explicando de uma maneira simples
  %p Nós trabalhamos para lhe oferecer o melhor serviço possível – para tornar mais fácil organizar uma angariação de fundos e o gerenciamento de seu projeto.
  %p Sua conta no Catarse:
  %ol
    %li Apoiadores – as pessoas que se cadastrarem para serem apoiadores (que irão contribuir financeiramente com os projetos) precisarão informar seu nome completo, email, endereço completo, e telefone fixo (o último apenas por uma obrigação junto ao MoIP, para quem preferir utilizar este meio de pagamento).
    %li Criadores de projetos – as pessoas que tiverem interesse em apresentar um projeto precisarão disponibilizar as seguintes informações: nome completo, endereço e telefone. Elas serão requisitadas pela equipe do Catarse após o envio do projeto, apenas se o projeto for selecionado para ir ao ar. Haverá, também, a necessidade de criação de uma “Conta de Negócios/Profissional” no site do MoIP.
  %p Nós respeitamos o seu direito à privacidade, por isso, não fornecemos seu nome ou qualquer informação pessoal sua para terceiros.
  %p O MoIP e o Paypal são os serviços que processam todas as transações do Catarse. Ninguém obtém acesso aos seus dados de cartão de crédito a não ser o próprio MolP ou o próprio Paypal. Nem nós do Catarse.
  %h2 Email
  %p Nós nos comunicamos com você apenas se você quiser que isso aconteça.
  %p Enviamos a você emails relativos às suas transações pessoais e anúncios relacionados a serviços, porém só o fazemos quando necessário.
  %p Você também receberá algumas notificações, que poderão ser dispensadas caso opte (por meio do opt-out).
  %p Os criadores dos projetos terão acesso ao email dos seus apoiadores, assim como aos valores apoiados e recompensas selecionadas.
  %h2 Atualização da política de privacidade
  %p O Cartase reserva-se no direito de atualizar sua política de privacidade a qualquer momento. As informações sobre as atualizações serão enviadas ao endereço de email fornecido ou serão colocadas em local de destaque do site.
  %p Nós nos reservamos o direito de divulgar suas informações pessoais conforme exigido por lei e quando acreditarmos que a divulgação é necessária para proteger os nossos direitos.
  %p Para modificar ou excluir qualquer ou todas as informações pessoais que você forneceu para nós, faça o login e atualize seu perfil.
  %p Qualquer dúvida sobre a Política de Privacidade deve ser enviada ao endereço #{mail_to t('site.email.contact')}.