= content_for :content_header do
  %h1 Termos de uso
  %h2 Leia com atenção os termos de uso. O uso do site implica no aceite destes termos.
.text
  %p Bem-vindo ao Catarse! Vale lembrá-lo que o acesso ao conteúdo deste website dependerá da sua plena concordância com os termos e condições de uso aqui previstos.
  %h2 O que é o Catarse?
  %p O CATARSE é uma plataforma online de ANGARIAÇÃO COLETIVA DE FUNDOS (“crowd funding”), destinados a financiar projetos criativos. O CATARSE permite que um CRIADOR DE PROJETOS apresente uma idea de um projeto criativo e angarie fundos de APOIADORES interessados em financiar esse projeto.
  %p Quando um projeto é bem-sucedido, alcançando ou superando o montante solicitado, o valor total angariado dos APOIADORES é repassado ao CRIADOR DE PROJETOS, descontados o percentual devido ao CATARSE e as tarifas cobradas pelo serviço de pagamentos online. Em contrapartida, se um projeto não é bem-sucedido, deixando de alcançar o montante solicitado, os APOIADORES recebem de volta o valor de suas contribuições, por meio de crédito no CATARSE ou de estorno das quantias pagas em cartão de crédito, débito em conta bancária ou boleto bancário.
  %p O CATARSE apenas aproxima CRIADORES DE PROJETOS e APOIADORES. A utilização do CATARSE não gera relação de trabalho, vínculo empregatício, associação nem sociedade entre os usuários e o CATARSE, nem tampouco representa transação comercial ou venda de produtos ou serviços.
  %p O CATARSE é responsável pelo bom funcionamento de seu website. Entretanto, o CATARSE não garante que os projetos serão executados, nem que os incentivos/recompensas serão honrados, isentando-se de responsabilidade a respeito, com o que concordam expressamente os CRIADORES DE PROJETOS e os APOIADORES, que devem dirimir eventuais problemas diretamente entre si.
  %h2 Definições
  %p
    %strong CRIADOR DE PROJETOS
    é o usuário do CATARSE interessado em angariar fundos para um projeto criativo.
  %h3 O CRIADOR DE PROJETOS:
  %ol
    %li Descreve o projeto que pretende desenvolver, que deve ser necessariamente lícito e de acordo com a legislação brasileira;
    %li Estipula o valor que deseja obter para financiar o projeto;
    %li Estipula o prazo em que deseja obter o valor total destinado para financiar o projeto;
    %li Promete incentivos e/ou recompensas aos apoiadores que financiarem seu projeto, determinando as condições de sua obtenção e o número de apoiadores que podem se beneficiar desses incentivos e/ou recompensas.
  %p Ao prometer incentivos e/ou recompensas, o CRIADOR DE PROJETOS assume as obrigações previstas no artigo 854 e seguintes do Código Civil brasileiro, tornando-se diretamente responsável pelo cumprimento de sua promessa perante os apoiadores que preencherem as condições estipuladas, sem qualquer responsabilidade, direta ou indireta, por parte do CATARSE.
  %p
    %strong APOIADOR
    é o usuário do CATARSE interessado em financiar projetos criativos de  um ou mais CRIADORES DE PROJETOS, por meio de contribuições financeiras vinculadas a um ou mais projeto(s) determinado(s).
  %h3 O APOIADOR:
  %ol
    %li Escolhe o projeto que deseja apoiar;
    %li Estipula o valor com que deseja contribuir para o projeto;
    %li Seleciona, caso desejar, qual(is) incentivo(s) e/ou recompensa(s) deseja receber diretamente do CRIADOR DE PROJETOS, nos termos das condições estabelecidas pelo próprio CRIADOR DE PROJETOS para o projeto selecionado.
  %p Ao cumprir as condições estipuladas para o recebimento dos incentivos e/ou das recompensas prometidos pelo CRIADOR DE PROJETOS, o APOIADOR adquire os direitos previstos no artigo 855 e seguintes do Código Civil brasileiro, devendo exigir diretamente do CRIADOR DE PROJETOS o cumprimento de sua promessa, estando ciente de que não há qualquer responsabilidade, direta ou indireta, por parte do CATARSE a esse respeito.
  %h2 Registro
  %p
    Qualquer pessoa maior de idade pode utilizar os serviços do CATARSE.
    %strong NÃO É AUTORIZADA
    a participação de usuários menores de dezoito anos de idade. Caso seja verificada eventual infração desta disposição, o CATARSE cancelará, de imediato, o cadastro do usuário.
  %p O CATARSE utiliza as informações de registro de redes sociais, tais como Facebook, Twitter, Contas do Google, Yahoo, MySpace, LinkedIn, GitHub, entre outras. O acesso à conta poderá ser feito digitando-se o nome de usuário e senha nos campos de login em uma das redes sociais utilizadas pelo CATARSE.
  %p O usuário é o único responsável pela segurança de seu nome de usuário e senha. É por meio desses dados que o usuário pode acessar e alterar suas informações pessoais e outros dados de seu cadastro.
  %p Caso haja qualquer suspeita de uso indevido ou não autorizado de sua conta, o usuário deve notificar imediatamente o CATARSE pelo e-mail #{mail_to t('site.email.contact')}.
  %p O CATARSE obriga-se a não utilizar as informações cadastrais fornecidas pelo  USUÁRIO para a realização de quaisquer atividades ilícitas, mas somente para aquelas expressamente permitidas pela legislação brasileira e/ou por este contrato.
  %p O USUÁRIO concorda em:
  %ol
    %li Fornecer informações verdadeiras, exatas, atuais e completas quando for realizar seu cadastro para acesso ao site;
    %li Conservar e atualizar suas informações de forma a mantê-las verdadeiras, exatas, atuais e completas;
    %li Ser responsabilizado por qualquer informação falsa, incorreta, desatualizada ou incompleta fornecida. Caso o CATARSE tenha razões suficientes para suspeitar da veracidade e/ou da exatidão de tais informações, terá o direito de suspender ou cancelar, imediatamente e independente de notificação, a conta do usuário.
  %h2 Taxas e pagamentos
  %p Todos os fundos serão arrecadados com a utilização do serviço de pagamentos online Money Over IP (MoIP) - #{link_to 'http://www.moip.com.br', 'http://www.moip.com.br', :target => :_blank} -, por meio de cartão de crédito, débito em conta ou boleto bancário, conforme opção do APOIADOR) ou do serviço de pagamento online Paypal - #{link_to 'http://www.paypal.com.br', 'http://www.paypal.com.br', :target => :_blank}.
  %p Todo o dinheiro arrecadado dos APOIADORES será depositado em uma conta MoIP, para os pagamentos efetuados através deste meio de pagamento, ou em uma conta Paypal, para os pagamentos efetuaados através deste meio de pagamento, ambos de titularidade do CATARSE. Surgem, a partir daí, duas possibilidades:
  %ol
    %li
      %strong Se o projeto for bem-sucedido,
      o valor total arrecadado para esse projeto (ainda que superior ao valor originalmente solicitado pelo CRIADOR DO PROJETO) será transferido da conta MoIP ou Paypal de titularidade do CATARSE para uma conta MoIP do CRIADOR DO PROJETO, descontado o montante de 7,5% (sete e meio por cento) devido ao CATARSE pela intermediação e as tarifas cobradas pelo serviço MoIP (que, atualmente, equivalem a 5,4% + R$ 0,39 por transação, caso o pagamento seja feito por cartão de crédito; 1,9% + R$ 0,39 por transação, caso o pagamento seja feito por cartão de débito, transferência eletrônica ou boleto bancário) ou pelo serviço Paypal (que, atualmente, equivalem a 5,4% + R$ 0,60, caso o pagamento seja feito por um cartão de crédito emitido no Brasil; 6,4% + R$ 0,60, caso o pagamento seja feito por um cartão de crédito emitido fora do Brasil);
    %li
      %strong Se o projeto não for bem-sucedido,
      será retornado um crédito virtual ao APOIADOR, que aparecerá na seção “Meu Perfil” da conta do usuário no CATARSE. Esse crédito virtual poderá ser reinvestido em um outro projeto do CATARSE ou, a pedido do APOIADOR será feito o estorno total da contribuição, sem a cobrança de quaisquer taxas por parte do CATARSE ou do serviço MoIP (caso o pedido tenha sido feito em até 180 dias após o apoio, depois desse prazo haverá a cobrança das taxas do MoIP) ou do Paypal (caso o pedido de estorno tenha sido feito em até 60 dias após o apoio, depois desse prazo haverá a cobrança das taxas do Paypal), da seguinte forma:
      %ol
        %li
          %em Se o pagamento foi feito por cartão de crédito:
          o estorno será automático e o valor retornará na próxima fatura do cartão;
        %li
          %em Se o pagamento foi feito por cartão de débito, transferência eletrônica ou boleto bancário:
          o estorno somente poderá ser realizado por meio de uma conta MoIP. O APOIADOR deverá abrir uma conta MoIP e, após receber o estorno, poderá transferir a quantia para sua própria conta bancária. O saque para a conta bancária segue as devidas condições: se for feito para um banco conveniado ao MoIP (Banco do Brasil (exceto poupança), Bradesco, Itaú, Banco Real e Caixa Econômica Federal) será gratuito para saques acima de R$ 250,00, e para valores inferiores a R$ 250,00, as condições são: 1 saque grátis a cada período de 30 dias; R$2,00 a partir do segundo saques. Para bancos não conveniados será cobrada uma taxa de R$8,00 por saque.
      Em qualquer dos casos de estorno, apesar de não haver cobrança de taxas por parte do CATARSE nem por parte do serviço MoIP ou Paypal, serão deduzidos os valores de impostos, taxas ou outros tributos e de tarifas referentes à movimentação financeira cobradas pelo Estado e/ou por instituições financeiras.
  %p Salvo disposição em contrário, todas as taxas são cotadas em Reais (R$). O usuário é o responsável pelo pagamento de todas as taxas e impostos associados com o uso do CATARSE.
  %p Caso um projeto seja retirado do CATARSE por violação dos Termos de Uso, violação de normas legais ou por ordem judicial, os valores pagos não serão reembolsados, a não ser que o CATARSE determine, por seu critério exclusivo, que a restituição é apropriada naquele caso.
  %p Tendo em vista que o serviço de meios de pagamento online e de cartões de crédito são independentes do CATARSE, o CATARSE não dá nenhuma garantia em relação aos pagamentos processados pelo MoIP ou pelo Paypal, nem responde por falhas de cartões de crédito.
  %h2 Direitos de propriedade intelectual
  %p O CATARSE é titular dos direitos de propriedade intelectual referentes a seu próprio serviço, que são protegidos pelas leis brasileiras e por tratados internacionais. Os direitos do CATARSE não incluem quaisquer direitos relacionados ao conteúdo criado por seus usuários e exibidos no CATARSE.
  %p O CRIADOR DE PROJETOS é o detentor dos direitos de propriedade intelectual de seus próprios projetos, sem qualquer participação dos APOIADORES ou do CATARSE, gozando de toda a proteção do sistema jurídico brasileiro, notadamente da lei de direitos autorais (9.610/98, lei de propriedade industrial).
  %p
    Entretanto, o CRIADOR DE PROJETOS está ciente de que, ao utilizar o CATARSE, está tentando angariar fundos para seu projeto
    %strong publicamente
    e, com isso, assume o risco de que sua ideia seja copiada e desenvolvida por terceiros. O CATARSE não pode impedir que isso ocorra, nem tem responsabilidade sobre essa situação, que foge completamente de seu controle.
  %p O CATARSE reserva-se o direito de, a seu exclusivo critério e uma vez notificado a respeito, cancelar projetos e encerrar as contas de CRIADORES DE PROJETOS que violem os direitos de propriedade intelectual de terceiros ou violem outros direitos, assegurados pela legislação brasileira.
  %h2 Conteúdo do CATARSE
  %p O CATARSE é uma plataforma online que permite a publicação de conteúdo de usuários, tais como projetos e comentários, sem monitoramento nem análise prévia. O CATARSE não assume responsabilidade pelo conteúdo gerado por seus usuários, nem tem qualquer obrigação de monitorar esse conteúdo.
  %p O CATARSE reserva-se os direitos de remover e de se recusar a veicular qualquer conteúdo de usuários. O CATARSE também se reserva os direitos de acessar, ler, preservar e divulgar quaisquer informações necessárias para cumprir este contrato, obedecer disposições legais ou atender a ordens judiciais.
  %h2 Lei aplicável
  %p Estes termos de serviço são regidos única e exclusivamente pelas leis brasileiras, sendo que qualquer ação judicial derivada de sua interpretação ou aplicação deverá ser julgada pelo Poder Judiciário brasileiro.
  %p Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio, deverá sempre prevalecer a legislação do Estado de São Paulo.
  %p O foro eleito para resolução de eventuais conflitos é o da cidade de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.
