%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
  %body
    %h1 Payment received from moip with the following info
    %h2 Backer
    %xmp= @backer
    %h2 POST parameters
    %xmp= @parameters
    %h2 Exception
    %xmp= @ex.to_s
    %h2 Backtrace
    %xmp= @ex.backtrace.to_s

