#bootstrap-alert, .bootstrap-alert {
  &.with_small_font {
    margin-top: 30px;
    .alert {
      font-size: 14px !important;
    }
  }
  .alert {
    font-size: 14px;
    font-family: Lato;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
  }
  .alert-heading {
    color: inherit;
  }
  .alert .closeAlert {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
  }
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }
  .alert-danger,
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
  }
  .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
  }
  .alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .alert-block > p,
  .alert-block > ul {
    margin-bottom: 0;
  }
  .alert-block p + p {
    margin-top: 5px;
  }
}
