.ch_button
  font-size: 1.1em
  text-align: center
  display: inline-block
  color: white
  font-weight: 400
  text-decoration: none
  padding: 1.2em 2.2em
  border-radius: 4px
  +transition(all .2s)

.ch_button_ok
  

.ch_button_cancel
  
.ch_button_pink
  background: $button_pink
  &:hover
    background: darken($button_pink, 10%)
.ch_button_green
  background: $button_green
  &:hover
    background: darken($button_green, 10%)

.ch_button_unsubscribe
  background: darken($button_pink, 10%)
  .following
    display: inherit
  .stop_following
    display: none
  &:hover
    background: $button_gray
    .following
      display: none
    .stop_following
      display: inherit

.ch_button_gray
  background: $button_gray
  &:hover
    background: darken($button_gray, 10%)
