.button
  font-size: 1.1em
  text-align: center
  display: inline-block
  color: white
  font-weight: 400
  text-decoration: none
  padding: 1em 1em
  border-radius: 4px
  +transition(all .2s)

.button_ok
  

.button_cancel
  
.button_pink
  background: $button_pink
  &:hover
    background: darken($button_pink, 10%)
.button_green
  background: $button_green
  &:hover
    background: darken($button_green, 10%)

.button_gray
  background: $button_gray
  &:hover
    background: darken($button_gray, 10%)
