.newsletter
  padding: 1px
  border: 1px solid #ddd
  display: inline-block
  +border-radius(3px)
  height: 34px
  width: 100%
  .newsletter-input
    border: none
    font-size: 13px
    width: 160px
    height: 32px
    line-height: 32px
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    text-indent: 5px
    color: $sidebar-text
  .newsletter-submit
    float: right
    border: none
    background: #3C9DFF url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -152px -72px
    height: 34px
    width: 34px
    text-align: center
    font-size: 18px
    +border-radius(3px)
    text-indent: -9999px
    &:hover
      background: rgba(#3C9DFF, 0.8) url(/assets/catarse_bootstrap/catarse-assets.png) no-repeat -152px -72px