%h2 E é só enviar meu projeto e ele aparecerá no site?
%p
  Na verdade, não. Nós
  %strong selecionamos os projetos
  que irão aparecer no Catarse. Chamamos este processo de curadoria: nossa intenção é divulgar somente projetos bacanas e que estejam prontos para ir ao público pedir apoio financeiro. Mas não se preocupe: somos bastante abertos em relação ao que é um projeto bacana :)
%h2 E que tipos de projetos o Catarse aceita?
%p A gente está de braços abertos para projetos artísticos – Artes Plásticas, Circo, Dança, Filmes, Fotografia, Música, Teatro, etc. – e também para projetos criativos que surjam em campos como Alimentação, Design, Moda, Tecnologia, Jogos, Quadrinhos, Jornalismo, entre vários outros.
%p
  %strong Não aceitamos projetos de caridade.
  Não que a gente não goste destes projetos ou não ache que são importantes: longe disso. Mas o Catarse é um site que tem foco em projetos criativos. No entanto, se seu projeto envolve uma causa social e é criativo ao mesmo tempo, a gente o aceitará tranquilamente.
%p
  %strong Não financiamos empresas, apenas projetos.
  Se o seu projeto tem como intuito ganhar dinheiro, nenhum problema! O que a gente quer dizer é que só aceitaremos projetos, ou seja: algo que seja finito, com um começo e um fim bem delimitados. Por exemplo, se você quer reformar sua lojinha de doces artesanais de uma maneira criativa, está mais do que convidado a compartilhar seu projeto. Mas o Catarse não é o lugar certo se você quiser manter uma loja por tempo indeterminado. Desenhar uma nova coleção de roupas, sim; manter uma marca de roupas, sem um projeto finito, não.
%p
  %strong Todos os projetos tem que oferecer recompensas.
  O Catarse é uma forma de comércio e mecenato. Se você não acha que as recompensas são parte fundamental do seu projeto, talvez o Catarse não seja a melhor solução para você. Ah, e lembre-se que rifas, sorteios, retorno financeiro e participação societária são proibidos.
%p Bem, e qualquer dúvida que você tiver, é só falar com a gente #{mail_to t('site.email.contact'), "por aqui"}.
