Catarse works like this: you submit your project, tell us
%strong how much do you need
and a
%strong deadline
to reach this goal. Then you promote the project and people can opt to
%strong back with any amount
starting from R$10 and
%strong receive rewards
for that! If until the chosen deadline you have reached the amount you need, you get the money. Otherwise, everybody receives the money back. Simple like that.
#show_tips
  %a{:href => '#'} See more tips on how Catarse works
