O Catarse funciona assim: você envia seu projeto, diz
%strong quanto precisa
e
%strong até quando
quer arrecadar este dinheiro. Aí você divulga o projeto e as pessoas podem optar por
%strong apoiar com qualquer valor
a partir de R$ 10 e
%strong receber recompensas
por isto! Se até o prazo escolhido você tiver atingido o valor que precisa, você recebe o dinheiro. Senão, todo mundo recebe o dinheiro de volta. Simples assim.
#show_tips
  %a{:href => '#'} Veja mais dicas sobre como funciona o Catarse
