%h2 Como funciona isso de financiamento colaborativo?
%h3 Nossa fórmula mágica
%p A gente acredita que a melhor maneira de inspirar as pessoas a apoiar um projeto é oferecendo excelentes – e criativas! – recompensas. Todo mundo adora edições limitadas, coisas únicas e experiências divertidas (festas, guloseimas, viajar de balão!). Gaste um bom tempo bolando recompensas criativas e as pessoas se interessarão.
%h3 E como funciona esse negócio de tudo ou nada?
%p No Catarse, um projeto só é financiado se o objetivo proposto for alcançado dentro do prazo. Se isso não acontecer, os apoiadores recebem seu dinheiro de volta. Por quê? Para diminuir os riscos de todo mundo. Desse jeito, não haverá expectativas de que um projeto seja executado com uma grana insuficiente – o que dificultaria também na distribuição das recompensas.
%h3 E quanto eu pago por isto?
%p
  Para colocar um projeto no site, não custa nada. Agora, se (e somente se) o projeto for bem-sucedido, o Catarse fica com 7,5% do valor arrecadado. Já os meios de pagamento (MoIP e Paypal)cobram uma taxa que varia, em geral, entre 4% e 5% por transação.
%h3 E a propriedade intelectual dos projetos?
%p Ela é inteiramente sua, 100%. Não ficamos com nada, nadinha.
%h3 E de onde vem o dinheiro que financia os projetos?
%p Bem, no começo, é importante que você traga gente que você conheça para apoiar seu projeto: seus amigos, familiares e gente que já é fã do seu trabalho. Se eles gostarem, seu projeto vai se espalhar pelas comunidades que essas pessoas fazem parte e vai cada vez atrair mais gente. Uma boa ideia, bem comunicada, pode se espalhar rápida e amplamente.
%h3 E quanto eu deveria pedir para financiar meu projeto?
%p O ponto chave aqui é entender o seu alcance. Pense sobre sua rede de relacionamentos e como o seu projeto e as suas recompensas vão ser atrativos para essas pessoas.
%h3 E eu posso arrecadar mais do que o meu objetivo?
%p Com certeza! Não há limite máximo. Os projetos aceitarão apoiadores até o último segundo do prazo final.
%h3 Mas minhas ideias não são grandiosas nem super importantes. O Catarse serve pra mim?
%p Lógico! O projeto pode ser pequeno, grande, sério, engraçado, tradicional, inovador. É um projeto que você irá finalizar em 1 semana e precisa de pouco dinheiro? Perfeito, estamos de braços abertos.
%h3 E que tipos de projetos se dão bem? Qual é o segredo?
%p O primeiro, disparado, é a paixão pelo projeto. A transparência e a habilidade para executar o projeto vêm logo após. Mas a sua capacidade de divulgar o projeto, principalmente na internet, será fundamental.
