- backer = @notification.backer
|Hi, #{backer.user.name}!
br
br
|Unfortunately the project #{link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}")} that you backed did not reach its goal and wasn't funded on #{Configuration[:company_name]}.
br
br
|Due to this, you received #{backer.display_value} in credits to back other projects. You can explore more #{backer.project.category} projects in #{link_to("#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}", "#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}")}
br
br
|We selected some projects suggestions specially for you:
br
-backer.user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|If you prefer, you can ask for a refund of your money by clicking on #{link_to("aqui", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")}. It's through it that you must access your account. If you have any trouble in this process, send an email to #{mail_to Configuration[:email_payments]} with the subject “Reembolso - problema no login”.
br
br
|Back key: #{backer.key}
br
br
|If you choose to be refunded, remember that, as stated on  #{link_to("Termos de Uso do #{Configuration[:company_name]}","#{Configuration[:base_url]}/terms")}, if you backed using a credit card, the value will only be returned in the next card bill. If you paid using bank transfer, we will send you an email explaining all the steps to get you money back.
br
br
|If, for any reason, you want to contact #{backer.project.user.display_name}, send an email to #{mail_to backer.project.user.email}.
br
br
|If you have any questions, access our #{link_to('FAQ',"#{Configuration[:base_url]}/faq")} or send an email to #{mail_to Configuration[:email_payments]}.
br
br
|A big hug,
br
br
|#{Configuration[:company_name]} Team
