- backer = @notification.backer
|Projeto: #{backer.project.name}
br/
|Chave do apoio: #{backer.key}
br/
|ID meio de pagamento: #{backer.payment_id}
br/
br/
|Esse apoio recebeu uma notificação de cancelamento após já ter recebido uma notificação de confirmação.
br/
|Verifique no site do meio de pagamento o real status da transação e, se o apoio constar como confirmado, confirme-o no site do Catarse (adm/backers)

