- contribution = @notification.contribution
|Hi, <strong>#{contribution.user.display_name}</strong>!
br
br
|Your pledge to #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} was confirmed by <strong>#{contribution.payment_method}</strong>
|!
br
br
|Keep this email with you as a receipt.
br
br
|Very important information:<strong> if you paid using a credit card</strong>, the name that will show up in your invoice is #{contribution.payment_method}. Unfortunately, credit card operators don't allow #{Configuration[:company_name]}'s name to be shown, ok?
br
br
|Pledged amount: <strong>R$ #{contribution.value}</strong>
br
-if contribution.reward
  |Chosen reward: <strong>#{contribution.reward.description}</strong>
-else
  |No reward chosen, any questions please contact our team on #{mail_to Configuration[:email_contact]}
br
|Back key: #{contribution.key}
br
br
|If the project is successful on <strong>#{contribution.project.expires_at.strftime("%d/%m/%Y")}</strong>, the people responsible for the project will contact you in order to deliver the rewards. This contact will come, usually, a week later, which is the time it takes for us to forward all the contributions information to the project owner.
br
br
|If the project doesn't reach it's goal, you will receive another email with instructions to:
br
|1) contribute another project with the generated credits; OR
br
|2) ask for a refund.
br
br
|If you want to contact #{contribution.project.user.name}, send an email to #{mail_to contribution.project.user.email}
br
br
|If you have any other questions, access our #{link_to('FAQ', "#{Configuration[:base_url]}/faq")} or send an email to #{mail_to Configuration[:email_contact]}
br
br
|A big hug,
br
|#{Configuration[:company_name]} Team
