- contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]

|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| Não recebemos a confirmação de pagamento do apoio para o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
br
br
| Para se tornar realidade, esse projeto precisa muito do seu apoio, portanto, você tem até #{l(contribution.project.expires_at)} 
| para realizar uma #{link_to 'nova contribuição', project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}. 
| Junte-se a mais <strong>#{contribution.project.total_contributions}</strong> pessoas que querem tirar o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')} do papel.
br
br
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
br
br
|Um abraço,
br
| #{company_name}
