p Olá #{@notification.user.name},

p Pesquisadores descobriram uma #{link_to 'vulnerabilidade de segurança', 'http://pt.wikipedia.org/wiki/Heartbleed'} que afeta muitos sites e serviços em todo o mundo, o Catarse entre eles.

p Revisamos os sistemas e fizemos as alterações necessárias para garantir que os nossos serviços não estejam expostos a essa e a outras vulnerabilidades, inclusive aumentando as barreiras de segurança.

p O Catarse não sofreu nenhuma violação ou ataque decorrentes do problema. Como orientação de segurança, no entanto, sugerimos que você #{link_to 'altere sua senha', edit_password_url(@notification.user, reset_password_token: @notification.user.generate_reset_password_token)}.

p Se ficou com alguma dúvida, entre em contato conosco através de #{mail_to CatarseSettings[:email_contact]} ou respondendo a essa mensagem.

p Abraços,

= CatarseSettings[:company_name]
