- contribution = @notification.contribution
|Hi, <strong>#{contribution.user.display_name}</strong> !
br
br
|You printed a bank slip to contribute with <strong>#{contribution.project.name}</strong>.
br
br
|If the bank slip has already been paid and your name still doesn't show up on the contributions list, do not worry, in up to <strong>3 working days</strong> your name will show up on the site. This is how long it takes for the information to be received by the bank, passed to MoiP, and get to us, ok?
br
br
|If you forgot to pay the bank slip and still want to contribute the project, it's very simple, access #{link_to('página do projeto', project_by_slug_url(permalink: contribution.project.permalink, host: Configuration['host'] ))} and contribute the project again. The first bank slip will be ignored.
br
br
|As soon as your payment is authorized by MoiP, we will send you another email confirming the transaction.
br
br
|A big hug,
br
|#{Configuration[:company_name]} Team
