- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Oi #{project.user.name},
br/
br/
| O prazo do projeto #{link_to project.name, project_link} no #{company_name} chegou ao fim.
br/
br/
| Existem pagamentos pendentes para o seu projeto. Para computar essas quantias ficaremos 
| aguardando a confirmação dessas contribuições de última hora pelos próximos 3 dias úteis. 
br/
br/
| Confira alguns cenários nos quais seu projeto pode se encaixar:
br/
br/
| <strong>1) Se o seu projeto já ultrapassou a meta:</strong> a gente apenas vai contabilizar caso 
| haja alguma confirmação de pagamento e irá fazer o repasse para você depois desse prazo. 
| <strong>Se sua conta MoIP ainda não foi verificada, nossa equipe entrará em contato com você para 
| realizarmos juntos esse processo.</strong>  
br/
| Confira: #{link_to 'Como será feito o repasse?', 'http://suporte.catarse.me/knowledgebase/articles/161090-como-ser%C3%A1-feito-o-repasse-do-dinheiro-', target: '__blank'}
br/
br/
| <strong>2) Se o seu projeto ainda não chegou na meta, mas tem pagamentos pendentes que podem fazer com que 
| isso aconteça:</strong> iremos esperar e torcer para que esses pagamento sejam confirmados e seu projeto consiga atingir 100%. 
| Como alguns dos projetos são financiados com esses pagamentos de última hora, nossa equipe entrará em contato com você 
| para agilizarmos a verificação da sua conta junto ao MoIP.
br/
br/
| <strong>3) Se o seu projeto não atingir a meta mesmo com esses pagamentos de última hora:</strong> primeiramente, 
| os apoiadores receberão o valor da contribuição na forma de créditos no #{company_name} para apoiar outros projetos. 
| E eles também receberão um e-mail com instruções sobre como pedir o reembolso do valor, caso prefiram receber o 
| dinheiro de volta. 
br/
| Confira: #{link_to 'Regras e Funcionamento dos Reembolsos', 'http://suporte.catarse.me/knowledgebase/articles/164746-regras-e-funcionamento-dos-reembolsos-estornos', target: '__blank'}.
br/
br/
| Se ficou com alguma dúvida, responda a esta mensagem diretamente ou fale conosco através do e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Um abraço,
br/
= company_name
