- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Olá, #{user.name}!
br
br
| Obrigado por iniciar o processo de inscrição de um projeto no #{company_name}! 
| Este é apenas o passo inicial e quer dizer que você acabou de criar seu 
| <strong>#{link_to 'rascunho de projeto', project_link, target: '__blank'}</strong> no #{company_name}.
br/
br/
| Por favor, <strong>inclua na sua lista de contatos os e-mails: #{mail_to ::Configuration[:email_projects]} e #{mail_to: ::Configuration[:email_contact] } </strong> 
| assim não vai acontecer das nossas mensagens caírem na sua caixa de spam devido a filtros do seu email.
br
br
|Essa é a hora de preencher tudo com bastante calma, já que pode ficar o tempo que quiser montando a página do seu projeto antes de enviá-lo à curadoria.
br/
br/
|As dicas fundamentais do #{company_name} para estruturar o seu projeto podem ser encontradas em diversos artigos na nossa Base de Conhecimento, leia todos com bastante atenção: 
br/
= link_to 'O Básico do Catarse', 'http://suporte.catarse.me/knowledgebase/topics/25760-o-b%C3%A1sico-do-catarse', target: '__blank'
br/
= link_to 'Realizadores - primeiros passos (rascunho)', 'http://suporte.catarse.me/knowledgebase/topics/25764-realizadores-primeiros-passos-rascunho-', target: '__blank'
br/
br/
|Quando considerar que a sua página de projeto está pronta, basta clicar no botão “ENVIAR PROJETO” que entraremos em contato contigo.
br/
br/
|Confira: #{link_to 'Quais são todos os passos que envolvem uma campanha no Catarse?', 'http://suporte.catarse.me/knowledgebase/articles/160683-quais-s%C3%A3o-todos-os-passos-que-envolvem-uma-campanh', target: '__blank'}
br/
br/
|Se ficou com alguma dúvida, entre em contato conosco através da #{link_to 'Central de Suporte', ::Configuration[:support_forum], target: '__blank'}.
br/
br/
|Abraço,
br/
= company_name
