- user = @notification.user
- project = @notification.project
- channel = @notification.channel
- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

| Olá
- if user.name
  | , #{user.name}!
br/
br/
| Obrigado por iniciar o processo de inscrição de um projeto no #{channel.name}, 
| hospedado no #{company_name}! Este é apenas o passo inicial e quer dizer que você acabou de 
| criar seu rascunho de projeto #{link_to project.name, project_link, target: '__blank'} no #{channel.name}.
br/
br/
| As dicas fundamentais para estruturar o seu projeto podem ser encontradas em diversos artigos na 
| nossa #{link_to 'Central de Suporte', ::Configuration[:support_forum], target: '__blank'} do #{company_name}. 
| Ela pode ser utilizada como fonte de consulta para a maioria das dúvidas que você terá antes, durante e após a sua campanha. Mesmo assim resolvemos destacar alguns pontos nesse email. Leia todos com bastante atenção:
br/
br/
= link_to "O Básico do #{company_name}", 'http://suporte.catarse.me/knowledgebase/topics/25760-o-b%C3%A1sico-do-catarse', target: '__blank'
br/
= link_to 'Realizadores - primeiros passos (rascunho)', 'http://suporte.catarse.me/knowledgebase/topics/25764-realizadores-primeiros-passos-rascunho-', target: '__blank'
br/
br/
|Confira também:
br/
= link_to "Quais são todos os passos que envolvem uma campanha no #{company_name}?", 'http://suporte.catarse.me/knowledgebase/articles/160683-quais-s%C3%A3o-todos-os-passos-que-envolvem-uma-campanh', target: '__blank'
br/
= link_to "Como promover seu projeto", 'https://docs.google.com/a/catarse.me/document/d/14l3tS-x3wHhYV1xalRugl9tpgcaG9ot7RCvmth-ApH8/edit#heading=h.7yl6fbbvuvm9', target: '__blank'
br/
br/
| Leia esses materiais e depois preencha tudo com bastante calma para aperfeiçoar seu projeto.
br/
|Você pode ficar o tempo que quiser montando a página do seu projeto antes de enviá-lo.
br/
br/
| Quando considerar que a sua página de projeto está pronta, basta clicar no botão “ENVIAR PROJETO” que entraremos em contato contigo.
br/
br/
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to channel.email}. 
strong IMPORTANTE: Todo o atendimento será diretamente com os gestores do Canal através do email indicado!
br/
br/
|E por falar nisso, por favor <strong>não esqueça de incluir na sua lista de contatos os e-mails:</strong> 
| #{mail_to channel.email}, #{mail_to ::Configuration[:email_projects]} e #{mail_to ::Configuration[:email_contact]}  para evitar que nossas mensagens caiam na sua caixa de spam devido a filtros do seu email.
br/
br/
| Um abraço,
br/
= channel.name
br/
br/
| Você está em contato com o atendimento do #{channel.name}
br/
br/
| Saiba mais:
br/
= link_to 'O que são os canais ?', 'http://suporte.catarse.me/knowledgebase/articles/190323-o-que-s%C3%A3o-os-canais-', target: '__blank'
br/
= link_to "Diferenças entre o atendimento nos Canais e no #{company_name}.", 'http://suporte.catarse.me/knowledgebase/articles/279356-diferen%C3%A7as-entre-o-atendimento-nos-canais-e-no-cat', target: '__blank'

