- user = @notification.user
- project = @notification.project
- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

| Olá #{user.name},
br/
br/
| Infelizmente, o projeto #{link_to project.name, project_link, target: '__blank'} não foi aceito no #{company_name}.
br/
br/
| Acreditamos que o projeto não se enquadra no perfil de projetos hospedados no #{company_name}.
br/
br/
| Caso queira tirar quaisquer outras dúvidas, ou deletar o seu rascunho recusado, responda a esta mensagem ou entre em contato conosco através do e-mail #{mail_to ::Configuration[:email_projects]}
br/
br/
| Lembrando que ter um projeto recusado não impede que você envie novos projetos para avaliação. 
| Levanta, sacode a poeira e dá a volta por cima! Estude nossa #{link_to 'Central de Suporte', ::Configuration[:support_forum], target: '__blank'} para que você saiba tudo sobre nossos pré-requisitos 
| para a construção do seu próximo projeto. Para mais informações sobre requisitos para aprovação de um projeto no #{company_name}, basta acessar #{link_to 'esse artigo', 'http://suporte.catarse.me/knowledgebase/articles/241190-diretrizes-para-a-cria%C3%A7%C3%A3o-de-projetos', target: '__blank' }.
br/
br/
| Um abraço,
br/
= company_name
