p Oi #{@notification.user.name},
p Estamos fazendo uma pesquisa sobre como as pessoas percebem o Catarse e ficaríamos imensamente gratos se você pudesse respondê-la.
p São apenas 5 questões que não devem levar ao todo mais do que 5 minutos para serem respondidas.
p Aqui está o link para acessá-la: #{link_to 'http://bit.ly/1lNOzWn', 'http://bit.ly/1lNOzWn'}
p Muito obrigado!
p Equipe do Catarse

