- backer = @notification.backer
p Usuário #{backer.user.display_name}
p Email do usuário: #{backer.user.email}
p Email de pagamento: #{backer.payer_email}
p Nome de pagamento: #{backer.payer_name}
p Projeto: #{backer.project.name}
p Chave do apoio: #{backer.key}
p Identificador no meio de pagamento: #{backer.payment_id}
p Valor do apoio: #{backer.display_value} 
p Meio de pagamento: #{backer.payment_method}
p Forma de pagamento: #{backer.payment_choice}
p Data de criação: #{backer.created_at}
