-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]
|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| Seu reembolso foi feito com sucesso!
br
br
| Você já pode entrar lá na sua conta MOIP e solicitar o saque. Aqui tem um #{link_to 'passo-a-passo', 'http://suporte.catarse.me/knowledgebase/articles/207153-como-sacar-o-dinheiro-no-moip-'} sobre como fazer este processo. 
br
br
| A chave de identificação do seu apoio é: #{contribution.id}
br/
br/
| Se ficou com alguma dúvida ou teve algum problema nesse processo, entre em contato conosco respondendo a 
| esta mensagem ou através do e-mail #{mail_to contact_email}. Para agilizar o atendimento, pedimos que indique a chave de identificação.
br
br
|Um abraço,
br
| #{company_name}
