-contribution = @notification.contribution
- company_name = ::Configuration[:company_name]
- contact_email = ::Configuration[:email_contact]
|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| Seu reembolso foi realizado com sucesso e o pagamento para o projeto #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, cancelado. 
br
br
| A chave de identificação do seu apoio é: #{contribution.id}
br
br
| Se ficou com alguma dúvida, entre em contato conosco respondendo a esta mensagem ou através do e-mail #{mail_to contact_email}
br
br
|Um abraço,
br
| #{company_name}
