p Olá #{@notification.user.name},

p 
  | Sua conta no Catarse já está desativada. Caso sinta saudades, você pode reativar a sua conta a qualquer momento, basta #{link_to('clicar aqui', reactivate_user_url(@notification.user))} e voltar a apoiar ou realizar projetos incríveis.

p 
  | Qualquer dúvida você pode entrar em contato conosco respondendo a esta mensagem ou através do e-mail contato@catarse.me

p Um abraço,
p Catarse