@import '@/styles/GlobalStyles.scss';


// ** BUTTON MAIN

.btn-main {
    padding: 0 0.875rem;
    border-radius: 8px;
    width: auto;

    div {
        display: flex;
        gap: 0.375rem;
        align-items: center;
    }

    &:disabled {
        background-color: $color-action-primary-disabled !important;
    }
}



// ** BUTTON SIZES [SM, MD, LG]

.btn-size-sm {
    height: 2.125rem;
}

.btn-size-md {
    height: 2.5rem;
}

.btn-size-lg {
    padding: 0 1.625rem;
    height: 3rem;
}



// ** BUTTON VARIANT [CONTAINED, OUTLINE, TEXT]

.btn-contained {
    border: none;
    color: $color-overlay !important;
}

.btn-outline {
    border: solid 1px;
    background-color: transparent !important;
}

.btn-text {
    border: none;
    background-color: transparent !important;
}



// ** BUTTON STYLES [PRIMARY, SECONDARY, DANGER]

.btn-primary {
    border-color: $color-action-primary-default;
    background-color: $color-action-primary-default;
    color: $color-action-primary-default;

    &.btn-contained:hover {
        background-color: $color-action-primary-hovered !important;
    }

    &.btn-contained:active {
        background-color: $color-action-primary-pressed !important;
    }

    &.btn-outline:hover, &.btn-text:hover {
        background-color:  $color-surface-success-subdued-hovered !important;
    }

    &.btn-outline:active, &.btn-text:hover {
        background-color: $color-surface-success-subdued-pressed !important;
    }

}

.btn-secondary {
    border-color: $color-action-secondary-default;
    background-color: $color-action-secondary-default;
    color: $color-action-secondary-default;

    &.btn-contained:hover {
        background-color: $color-action-secondary-hovered !important;
    }

    &.btn-contained:active {
        background-color: $color-action-secondary-pressed !important;
    }

    &.btn-outline:hover, &.btn-text:hover {
        background-color:  $color-surface-base-hovered !important;
    }

    &.btn-outline:active, &.btn-text:hover {
        background-color: $color-surface-base-pressed !important;
    }
}

.btn-danger {
    border-color: $color-action-critical-default;
    background-color: $color-action-critical-default;
    color: $color-action-critical-default;

    &.btn-contained:hover {
        background-color: $color-action-critical-hovered !important;
    }

    &.btn-contained:active {
        background-color: $color-action-critical-pressed !important;
    }

    &.btn-outline:hover, &.btn-text:hover {
        background-color: $color-surface-critical-subdued-hovered !important;
    }

    &.btn-outline:active, &.btn-text:hover {
        background-color: $color-surface-critical-subdued-pressed !important;
    }
}

