strong Are you sure you want your contribution to be anonymous? 
| Leaving your contribution public gives you a better reputation and count points on our ranking of contributions.
br
br
| Besides that, the amount you contributed will never be disclosed to no one but the project owner (who will always know who you are), even if your back is public.
