.home_blog
  +default_grid
  .twitter_message
    margin-top: 20px
    +grid(16)
    background-color: $pink
    p
      padding: 10px 0 10px 65px
      font-family: Lato-Regular
      font-size: 1.9em
      color: white
      line-height: 120%
  h3
    +grid(16)
    padding-top: 30px
    padding-bottom: 15px
  .blog_banner
    +grid(12)
  .blog_post
    +grid(4)
    h4
      font-family: Myriad Pro
      font-size: 1.5em
      color: $green
      text-transform: uppercase
      padding-top: 3px
      padding-bottom: 20px

    h6
      font-family: Myriad Pro
      font-weight: bold
      font-size: 1.3em
      color: $super_minimal_gryn
      padding-bottom: 20px

    p
      font-family: Myriad Pro
      font-size: 1.3em
      color: $super_minimal_gryn
      line-height: 129%
      padding-bottom: 20px
      &:last-child
        padding-bottom: none


#blog_footer
  margin-top: 20px
  width:  100%
  background-color: rgba(0,0,0, 0.1)
  float:  left
  padding-bottom: 50px