.home_blog
  +default_grid
  .twitter_message
    margin-top: 20px
    +grid(16)
    background-color: $pink
    p
      padding: 10px
      font-size: 1.5em
      line-height: 120%
      a
        color: white
        font-size: 1.4em
        font-family: Lato-Regular
        +opacity(0.95)
        &:hover
          +opacity(1)
  h3
    +grid(16)
    padding-top: 30px
    padding-bottom: 15px
  .blog_banner
    +grid(12)
  .blog_post
    +grid(4)
    h4
      font-family: Myriad Pro
      font-size: 1.5em
      color: $green
      text-transform: uppercase
      padding-top: 3px
      padding-bottom: 20px

    h6
      padding-bottom: 20px
      font-size: 1.3em
      a
        font-weight: bold
        font-size: 1.1em
        font-family: Myriad Pro
        color: $super_minimal_gryn
    p
      line-height: 129%
      padding-bottom: 20px
      font-size: 1.3em
      &:last-child
        padding-bottom: none
      a
        font-family: Myriad Pro
        font-size: 1.1em
        color: $super_minimal_gryn


#blog_footer
  margin-top: 20px
  width:  100%
  background-color: rgba(0,0,0, 0.1)
  float:  left
  padding-bottom: 50px