.channels_list_widget
  h3
    +grid(16)
    +opacity(0.8)
    margin-bottom: 20px
    color: $pink
    background: url('/images/redesign/nice.png') no-repeat 
    text-indent: 24px
    font-size: 2em
  ul
    +default_grid
    li
      +grid(4)
      margin-bottom: 20px
      img
        +box-shadow($shadow_gryn 3px 3px 5px)
        +transition
        &:hover
          +box-shadow($shadow_gryn 3px 3px 8px)
