$blue: #4383d1
$minimal_blue: #6498D8

$green: #59aF6d
$dark_green: #284f31

$pink: #e85397

$grafiti: #363636

$ultra_gryn: #333333
$gryn_almost_ccc: #999
$gryn: #e3e2dc
$minimal_gryn: #cccccc
$super_minimal_gryn: #838383
$bg_minimal_gryn: #E3E2DC
$shadow_gryn: #7A7A7A
