@import "fonts"
@import "colors"

$ninesixty-columns: 16

@mixin default_grid
  +grid-container
  +grid-system(16)

body
  font-size: 62.5%
  background: url("/images/redesign/body-background.png") left top repeat

.logo
  width: 187px
  height: 45px
  background: url("/images/redesign/logo.png") left top no-repeat

a
  text-decoration: none
  color: $blue
  font-family: Lato-Regular
  font-size: 1.7em

form.search_input
  +border-radius(8px)
  width:  278px
  height: 28px
  background-color: white
  border: 1px $minimal_gryn solid
  input[type="text"]
    width: 240px
    padding: 4px 5px 3px 5px
    border: none
    background: white
    &:focus
      outline: 0

  input[type="submit"]
    margin-top: 2px
    width: 20px
    height: 24px
    background: url("/images/redesign/search_button.png") left top no-repeat
    text-indent: -9999em
    border: none
