a
  text-decoration: none
  color: $blue
  font-family: Lato-Regular
  font-size: 1.7em
  +transition(all, 0.3s)
  &:hover
    +opacity(0.4)


h1
  font-family: Lato-Regular
  font-size: 3.3em
  color: white

h3
  font-family: Lato-Bold
  font-size: 1.9em
  color: black

h4
  font-family: Lato-Regular
  font-size: 1.6em
  color: white
