strong Você tem certeza que quer que seu apoio seja anônimo? 
| Deixar seu apoio público aumenta sua reputação e conta pontos para o nosso ranking de apoiadores.
br
br
| Além disso, o valor do seu apoio não será divulgado para ninguém além do dono do projeto. Somente o proponente terá acesso a essa informação, independente se o seu investimento seja público ou anônimo.
