h3 How do I back this project?
p First, chose the value and reward you wish. Then we will redirect you to #{link_to "MoIP", "http://www.moip.com.br/", :target => :_blank} so you can proceed with the payment.
h3 When is the payment made and confirmed?
p Shortly after MoIP confirms the transaction. After that, if the project doesn't reach #{@project.display_goal} until #{@project.display_expires_at}, you will receive your money back as credits on Catarse.
h3 Oh, so I receive my money back if the project doesn't succeed?
p Yes! You receive 100% back as credits to back other projects on Catarse.
h3 What if I don't want to use the credits on Catarse?
p No problem. Just go to #{link_to t('credits.title'), credits_path, :target => :_blank}, up until 180 days after your payment, and request a refund. If you payed with credit card, the refund will be received in your next bill. If you payed with debit or transfer, the only way to receive the refund is to open an account on MoIP. This way we transfer you the value from our account to yours and, from there, you transfer to your bank account. No matter what way you chose, you wont have to pay anything.
h3 If the project is successful, how do I receive my reward?
p When your reward is ready, #{link_to @project.user.display_name, user_path(@project.user)} will get in touch with you to arrange the delivery.
