h2 Quero apoiar, e agora?
h3 Como eu apoio este projeto?
p Primeiro, escolha o valor e a recompensa desejados. Depois é só clicar em 'Revisar e realizar pagamento' que redirecionaremos você para a próxima página para concluir o seu pagamento.
h3 Quando o pagamento é efetivado?
p Assim que o MoIP ou o Paypal confirmar a transação (cartão e transferência bancária a confirmação é no mesmo dia, boletos levam até 4 dias úteis para serem confirmados). Depois, caso o projeto não atinja #{@project.display_goal} até #{@project.display_expires_at}, você receberá seu dinheiro de volta na forma de créditos no #{Configuration[:company_name]}.
h3 Então eu recebo meu dinheiro de volta se o projeto não sair?
p Sim! Você recebe de volta 100% do que pagou na forma de créditos para apoiar outros projetos do #{Configuration[:company_name]}.
h3 E se eu não quiser usar os créditos no #{Configuration[:company_name]}?
p Sem problemas. É só entrar na aba #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank}, até 60 dias após seu apoio, e solicitar um estorno. Caso tenha pago com cartão de crédito, o estorno será feito na sua próxima fatura. Se pagou com débito em conta ou boleto bancário, a única maneira de fazer o estorno é você abrir uma conta no MoIP. Aí a gente transfere o valor da nossa conta para a sua e, de lá, você transfere para sua conta no banco.
h3 Se o projeto for financiado, como eu recebo minha recompensa?
p Quando sua recompensa estiver pronta, #{link_to @project.user.display_name, user_path(@project.user)} vai entrar em contato com você para combinar a entrega.
