h2 Perguntas frequentes

h3 Como eu apoio este projeto?
p Primeiro, escolha o valor e a recompensa desejados. Depois é só clicar em 'Revisar e realizar pagamento' que redirecionaremos você para a próxima página para concluir o seu pagamento.

h3 Quando o pagamento é efetivado?
p Se você pagou com cartão de crédito, a confirmação deverá ser no mesmo dia. Se foi com boleto, em até 4 dias úteis.

h3 E se o projeto não atingir a meta?
p Nesse caso, você recebe de volta 100% do que pagou através de um reembolso.

h3 Se o projeto for financiado, como eu recebo minha recompensa?
p Quando sua recompensa estiver pronta, #{link_to @project.user.display_name, user_path(@project.user)} vai entrar em contato com você para combinar a entrega.
