- if @resource.name
  = "#{t('users_mailer.notification_email.hello')}, #{@resource.name}!"
- else
  = "#{t('users_mailer.notification_email.hello')}!"
br
br
= I18n.t('passwords.email.content_html', :link => link_to(I18n.t('passwords.edit.submit'), "#{I18n.t('site.base_url')}#{edit_password_path(@resource, :reset_password_token => @resource.reset_password_token)}", :style => 'color: #E75297;')).html_safe
br
br
= t('users_mailer.notification_email.salutation')
br
br
= t('users_mailer.notification_email.signature')
