- backer = @notification.backer
|Olá, #{backer.user.name}!
br
br
|Infelizmente o projeto #{link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}")} que você apoiou não atingiu a meta estabelecida e não foi financiado no #{Configuration[:company_name]}.
br
br
|Em função disto, você recebeu #{backer.display_value} em créditos para apoiar outros projetos. Você pode conhecer mais projetos de #{backer.project.category} em #{link_to("#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}", "#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}")}
br
br
|Abaixo selecionamos algumas sugestões de projetos especialmente para você:
br
-backer.user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Caso prefira, você pode pedir o reembolso do seu dinheiro clicando #{link_to("aqui", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")}.
br
br
|Chave do apoio: #{backer.key}
br
br
|Caso você prefira solicitar o reembolso, só para lembrar, como constam nos #{link_to("Termos de Uso do #{Configuration[:company_name]}","#{Configuration[:base_url]}/terms")}, que se o apoio foi feito com cartão de crédito, o valor será estornado na próxima ou subsequente fatura do cartão. Se o apoio foi feito através de transferência bancária ou boleto, enviaremos um email com os procedimentos necessários para poder devolver o valor para você.
br
br
|Se, por qualquer motivo, quiser entrar em contato com #{backer.project.user.display_name}, mande um email para #{mail_to backer.project.user.email}.
br
br
|Se tiver alguma outra dúvida, entre em contato conosco na nossa Central de Suporte:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
br
|Um grande abraço,
br
br
|Equipe do #{Configuration[:company_name]}
