- backer = @notification.backer
|Olá, <strong>#{backer.user.display_name}</strong>!
br
br
|Seu apoio para #{link_to(backer.project.name, project_by_slug_url(permalink: backer.project.permalink))} foi confirmado pelo <strong>#{backer.payment_method}</strong>
|!
br
br
|Mantenha essa mensagem com você para servir como comprovante do seu apoio.
br
br
|Uma coisa super importante:<strong> se o seu pagamento foi feito com cartão de crédito</strong>, o nome que virá na sua fatura é o do #{backer.payment_method}. Infelizmente, as operadoras de cartão ainda não possibilitam que o nome do #{Configuration[:company_name]} apareça escrito lá, ok?
br
br
|Valor da contribuição: <strong>R$ #{backer.value}</strong>
br
-if backer.reward.present?
  |Recompensa selecionada: <strong>#{backer.reward.description}</strong>
-else
  |Nenhuma recompensa foi selecionada, qualquer dúvida entre em contato com a nossa equipe através do #{mail_to Configuration[:email_contact]}
br
|Chave do apoio: #{backer.key}
br
br
|Caso o projeto seja bem-sucedido em <strong>#{backer.project.expires_at.strftime("%d/%m/%Y")}</strong>, os responsáveis pelo projeto entrarão em contato com você para requisitar informações sobre a entrega das recompensas. Esse contato deles virá, normalmente, uma semana após essa data, que é o tempo que levamos para passar a informação de todos os apoiadores para o realizador.
br
br
|Se o projeto não atingir a meta financeira estabelecida, você receberá um e-mail do #{Configuration[:company_name]} com instruções para:
br
|1) apoiar outro projeto com os créditos que serão gerados; OU
br
|2) solicitar o reembolso do seu dinheiro.
br
br
|Se quiser entrar em contato com #{backer.project.user.name}, mande um e-mail para #{mail_to backer.project.user.email}
br
br
|Se tiver alguma outra dúvida, entre em contato conosco na nossa Central de Suporte:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
br
|Um grande abraço,
br
|Equipe do #{Configuration[:company_name]}
