|Olá pessoal,
br
br
|A pesquisadora Angela Ester Mallmann Centenaro está realizando uma pesquisa sobre capital social e crowdfunding, parte importante da Tese de Doutoramento em Ciências Sociais da Universidade do Vale do Rio dos Sinos – UNISINOS/RS. 
br
br
|O questionário está separado em duas partes. 
br
br
|A primeira servirá para conhecer um pouco do perfil dos empreendedores do financiamento colaborativo e a segunda, pede respostas sobre sua vida social e o projeto postado no Catarse, para identificarmos o capital social envolvido. O objetivo deste questionário é investigar em que medida o capital social é importante para os projetos apresentados para financiamento coletivo e está dividido em cinco temas: confiança, redes sociais, hierarquia, comunidade, financiamento coletivo. Pedimos que seja o mais realista possível. Não existem respostas corretas ou erradas. As respostas serão mantidas em sigilo, tanto que não pedimos para se identificarem.
br
br
|Pesquisadora: Angela Ester Mallmann Centenaro
br
|Orientadora: Dr. Adriane Ferrarini  
br
|Co-orientador: Dr. Paolo Totaro  
br
br
|Responda aqui: https://docs.google.com/forms/d/1v9IojrqbylkGTp7GavP-VWmL0indMMVhSfbd2PAYO5g/viewform?sid=b753330da3ecf29&token=c0aC9DwBAAA.IkLclf_oX6KyZnN_WLmqYw.z2lurT_ucfF2DnPXYJYDHw
br
br
|Muito Obrigado o/
br
br
|Pesquisadora: Angela Ester Mallmann Centenaro
br
|Orientadora: Dr. Adriane Ferrarini  
br
|Co-orientador: Dr. Paolo Totaro  
