- project = @notification.project
- channel = project.channels.first
- user = project.channels.first.trustees.first

| Olá
- if user.name
  | , #{user.name}!

br
br
| Um novo projeto #{link_to project.name, project_by_slug_url(permalink: project.permalink, subdomain: channel.permalink)} foi criado por #{link_to project.user.name, user_url(project.user)}"
br
br
b Lista de Links relacionados:
br
= simple_format(project.more_links)
br
b Primeiros apoiadores:
br
= simple_format(project.first_backers)
br
b Como conheceu o Canal:
br
= simple_format(project.how_know)

|Abraço,
br/
= ::Configuration[:company_name]
