|Olá, tudo bom?
br
|Primeiramente, parabéns pela campanha de sucesso =D
br
br
|Gostariamos de  te apresentar as novas funcionalidades do #{Configuration[:company_name]}:
strong Aba de Edição
br
br
|Seu projeto já finalizou a captação, mas a sua página continua (e vai ficar para sempre) na plataforma. Então, você pode continuar postando atualizações na Aba e Novidades, e acompanhando os feedbacks do seu público na Aba de Comentários.
br
br
|Com a novidade da
strong Aba de Edição
| você não precisa mais enviar uma solicitação pra gente toda vez que quiser fazer uma alteração no layout do seu projeto.
br
|Por essa aba você pode mudar:
ul
  li Descrição do projeto
  li Thumbnail
  li Video de apresentação
  li Frase de efeito
|Só não dá pra mudar mesmo:
ul
  li Meta financeira
  li Prazo
  li URL do projeto
br
|As recompensas você pode editar na página principal do seu projeto. Como seu prazo já acabou não tem porque criar novas recompensas (né?) mas você pode excluir aquelas que não foram escolhidas.
br
br
|Falando nisso... Você já conseguiu entregar todas as recompensas do seu projeto? Como foi, ou está sendo, esse processo? Nós do #{Configuration[:company_name]} gostariamos de saber mais sobre como foi a sua experiência, sua relação com a plataforma e com os seus apoiadores. Se puder responder algumas perguntinhas a gente vai ficar muito contente em ouvir de você!
br
strong Por favor, cique #{link_to 'AQUI', 'https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dHpzN2FVbmZ2NkZ5Sm02MkRyQzV2a1E6MQ'} para participar.
br
br
|Mais uma vez, parabéns pela campanha, tâmo junto o/
br
br
|Beijos,
br
|Equipe #{Configuration[:company_name]}
