- backer = @notification.backer
|Olá, #{backer.user.name}!
br
br
|Infelizmente o projeto #{link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}")} não atingiu a meta estabelecida e não foi financiado no #{Configuration[:company_name]}.
br
br
|Vimos no nosso banco de dados que você iniciou há alguns dias o processo de apoio para o projeto.
br
br
b Se você NÃO concluiu o apoio
|, pode desconsiderar as informações desse e-mail, ok?
br
br
b Se você concluiu o seu apoio
|, mas não recebeu a confirmação do Catarse ainda (isso pode acontecer nesses casos), você deverá recebê-la nos próximos dias, assim que o MoIP (o meio de pagamento que processa as transações do Catarse) confirmar para nós o seu pagamento.
br
br
|Quando recebermos a confirmação do seu apoio, você receberá, em função disto, #{backer.display_value} em créditos para apoiar outros projetos.
br
br
|Caso prefira, você pode pedir o reembolso do seu dinheiro clicando #{link_to("aqui", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")}.
|Caso você tenha alguma dificuldade nesse processo, envie um email para #{mail_to Configuration[:email_payments]} com o assunto “Dúvida reembolso - problema no login”.
br
br
|Se você preferir solicitar o reembolso, só para lembrar, como constam nos #{link_to("Termos de Uso do #{Configuration[:company_name]}","#{Configuration[:base_url]}/terms")}, que se o apoio foi feito com cartão de crédito,
|o valor será estornado na próxima fatura do cartão. Se o apoio foi feito através de transferência bancária ou boleto, enviaremos um e-mail
|com os procedimentos necessários para poder devolver o valor para você.
br
br
|Se, por qualquer motivo, quiser entrar em contato com #{backer.project.user.display_name}, mande um email para #{mail_to backer.project.user.email}.
br
br
|Se tiver alguma outra dúvida, entre em contato conosco na nossa Central de Suporte:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
|Chave do apoio: #{backer.key}
br
br
|Um grande abraço,
br
br
|Equipe do #{Configuration[:company_name]}
