-backer = @notification.backer
|Olá, <strong>#{backer.user.display_name}</strong>!
br
br
|Seu apoio para #{backer.project.name} está em processo de <strong>Análise</strong> no <strong>#{backer.payment_method}</strong>.
br
br
|Este é um processo deles de segurança para evitar fraudes e, para alguns pagamentos, eles acabam checando entrando em contato com a pessoa, por isso ele não foi aprovado ainda.
br
br
|O #{backer.payment_method}, em alguns casos, pode tentar entrar em contato contigo pelo telefone para confirmar a transação, ok?
br
br
|Se o apoio for de mais de R$10mil, pode ser que eles requisitem alguns documentos para confirmar a transação, mas entrarão em contato contigo pra falar sobre isso.
br
br
|Assim que o apoio for confirmado, mandaremos outro email para você.
br
|Chave do apoio: #{backer.key}
br
br
|Se tiver alguma outra dúvida, entre em contato conosco na nossa Central de Suporte:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
br
|Um grande abraço,
br
|Equipe do #{Configuration[:company_name]}
