- project = @notification.project
|Hi #{project.user.name},
br
|First of all, congratulations on the successful backing of your project! =D
br
br
|We have put together here some very important information for those who have successfully financed their project on #{Configuration[:company_name]}. Four things you should know:
br
br
|1 - You can download a <strong>spreadsheet with details of your backers (name, reward, address, etc.)</strong> at any time from the <strong>reports tab</strong> of your project page.
br
br
|2 - Also, we will need some information for <strong>issuing the invoice</strong> for #{Configuration[:company_name]}'s service. We will use the data in your #{Configuration[:company_name]} profile. Consider, then, if those details are correct for whom you would like the invoice issued (for example, <strong>for companies, we need the data of the company in your profile</strong>).
br
br
|3 - We will send the invoice up to the last day of the month that funding was completed if your project completed funding on #{Configuration[:company_name]} on or before the 24th of the month, otherwise you will receive an invoice the following month.
br
br
|4 - Finally, here's one of the most important assets for you campaign, #{link_to 'The Post-Project Guide (Portuguese)', 'https://docs.google.com/a/catarse.me/document/d/1g6IY1T8xl4wc24MnN2gL0-AD1esfmJb_kXXxRY_jJ_4/edit'}. It's filled with tips for dealing with rewards and keeping your community of supporters around for the future.
br
br
|Any other questions, please contact us through Support:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
br
|A big hug,
br
br
|#{Configuration[:company_name]} Team
