- project = @notification.project
|Oi oi oi oi #{project.user.name},
br
|Antes de mais nada, super parabéns pelo projeto bem-sucedido! =D
br
br
|Essa mensagem serve pra gente iniciar o processo para transferirmos a grana arrecada para você. Tá tudo explicadinho aqui embaixo em <strong>5 passos</strong>:
br
br
|1 - É preciso que seja criada uma <strong>conta no MoiP</strong>, nosso parceiro para as questões financeiras. Pra criar uma conta lá é só entrar no site deles (#{link_to 'http://www.moip.com.br', 'http://www.moip.com.br'}) e criar uma conta <strong>Para Vendedores</strong>.
br
br
|É importante que o CPF/CNPJ cadastrado na conta MoiP seja o mesmo do titular da conta bancária para qual o valor será retirado. Qualquer dúvida neste processo, enviem um email para #{mail_to Configuration[:email_payments]} com o assunto: “Dúvida para criação de conta MoIP para o projeto #{project.name}”.
br
br
|1.1. - Se o seu projeto captou mais de R$5.500, você precisará enviar alguns documentos para o MOIP para verificar a sua conta e poder sacar mais de R$5.000 por mês. Olha só como você deve fazer isso:
br
|a. Acessar a sua conta MoIP,
br
|b. Ir em <strong>MEUS DADOS - CONTA MOIP - LIMITES E VERIFICAÇÕES</strong>,
br
|c. clicar na opção <strong>verificar sua conta</strong> no campo <strong>saída de dinheiro</strong>.
br
|d. realizar o upload dos documentos na tela que abrir.
br
br
|<strong>Caso você encontre algum problema neste processo</strong>, enviem estes três documentos em anexo no email do passo número 2 (esse aqui em baixo).
br
br
|2 - Assim que ela tiver sido criada, por favor, envie um email para #{mail_to Configuration[:email_payments]} com o assunto “Conta MOIP do projeto #{project.name}”, colocando no corpo do email o login que você criou no MoIP.
br
br
|3 - Enviaremos uma <strong>planilha com detalhes dos apoiadores (nome, recompensa, endereço, etc.)</strong> em <strong>até 4 dias úteis</strong> após o projeto o prazo de encerramento da captação (essa demora acontece por causa do tempo que pode levar para um boleto ser pago e compensado, caso ele tenha sido emitido no último dia do projeto no ar). É também nesta planilha que destacaremos a taxa do #{Configuration[:company_name]} e a taxa cobrada pelo meio de pagamento para as transações do seu projeto.
br
br
|4 - Além disso, vamos precisar de algumas informações para emitirmos a Nota Fiscal referente ao serviço do #{Configuration[:company_name]}, ok? Pra isso, preciso que você preencha os dados no formulário abaixo:
br
br
= link_to "https://docs.google.com/a/catarse.me/spreadsheet/viewform?formkey=dDR5Njdsd3AwMXppVjRTd296MWhQclE6MQ#gid=0", "https://docs.google.com/a/catarse.me/spreadsheet/viewform?formkey=dDR5Njdsd3AwMXppVjRTd296MWhQclE6MQ#gid=0"

br
br
|5 - Iremos emitir a Nota Fiscal para vocês até o último dia útil do mês que encerrou a captação do projeto no #{Configuration[:company_name]}, caso o seu projeto tenha encerrado a captação até o dia 24 do mês, se não, emitiremos ela no mês posterior, ok?
br
br
|Qualquer outra dúvida, por favor, enviar email para #{Configuration[:email_contact]} .
br
br
|Grande abraço,
br
br
|Equipe do #{Configuration[:company_name]}
