- user = @notification.user
- project = @notification.project
- channel = project.channels.first

= content_for :email_logo do
  = image_tag(channel.image, alt: channel.name)

| Olá
- if user.name
  | , #{user.name}!
br
br
|Obrigado por enviar seu projeto para o #{channel.name}
br
br
|Todo o atendimento será diretamente com os gestores do Canal através do email: #{mail_to channel.email}
br
br
|Nossa equipe de atendimento vai te responder em até <b>4 dias úteis</b>. Não é necessariamente uma questão de sim ou de não, com certeza vamos conversar bastante antes de o projeto ir para o ar.
br
br
|Durante nossas conversas, você poderá alterar/aprimorar todas as informações enviadas. Lembre-se, seu projeto está em 
|#{link_to('rascunho', project_by_slug_url(permalink: project.permalink, subdomain: channel.permalink))}, por isso, essa é a hora de preencher tudo com bastante calma.
br
br
|Apesar de todo o atendimento ser junto ao #{channel.name}, as dicas fundamentais do Catarse permanecem as mesmas, por isso leia o 
|#{link_to 'http:catarse.me/guia_realizadores.pdf', 'http:catarse.me/guia_realizadores.pdf', target: '__blank' } e fique por dentro. 

br
br
|Se ficou com alguma dúvida, entre em contato conosco pelo: #{mail_to channel.email}
br
br
|Abraço,
br
|#{channel.name}
