- backer = @notification.backer
- project = backer.project

|Olá, <strong>#{project.user.display_name}</strong>!
br
br
|O apoiador #{link_to backer.user.display_name, user_url(backer.user)} acabou de contribuir com o seu projeto! 
br
br
|Alguns dados sobre o apoio:
br
br
|<strong>Valor apoiado:</strong> #{backer.display_value}
- if backer.reward.present?
  br
  br
  |<strong>Recompensa selecionada:</strong> #{backer.reward.display_description}
br
br
|<strong>Email do apoiador:</strong> #{backer.user.email}
br
br
|Veja outros apoiadores aqui: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'backers'), project_by_slug_url(permalink: project.permalink, anchor: 'backers')}
br
br
|Comunique-se com eles a partir das novidades: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'updates'), project_by_slug_url(permalink: project.permalink, anchor: 'updates')}
br
br
|E baixe seus relatórios: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'reports'), project_by_slug_url(permalink: project.permalink, anchor: 'reports')}
br
br
|Um grande abraço,
br
|Equipe do #{Configuration[:company_name]}
