- user = @notification.user
- project = @notification.project
|Olá, #{user.name}!
br
br
|Muito obrigado por confiar no Canal Asas e enviar seu projeto pra gente :)
br
br
|Antes de mais nada, é importante ressaltar que todo o atendimento será diretamente com os curadores do Canal através do email: canalasas@catarse.me
br
br
|Antes de avançar, tenha certeza que compreendeu as <a href="http://asas.catarse.me/how-it-works">“Regras do Jogo”</a> do Canal Asas.
br
|Caso ainda tenha dúvidas, acesse nossos <a href="http://suporte.catarse.me/knowledgebase/articles/190852-termo-de-uso-canal-asas">termos de uso</a> e saiba mais.
br
br
|Para entender como funciona o passo-a-passo da seleção dos projetos, siga os 4 passos:
br
|1 - Você preencheu aquele formulário, recebeu a página do seu projeto em RASCUNHO e a gente acabou de ficar sabendo;
br
br
|2 - Nossa equipe de atendimento vai te responder em até 4 dias úteis. Não é necessariamente uma questão de Sim ou de Não, com certeza vamos trocar alguns emails antes de o projeto ir para o ar.
br
br
|3 - Enquanto isso (e durante nossas conversas também), você poderá alterar/aprimorar todas as informações enviadas. Lembre que está em um ambiente de RASCUNHO, por isso, essa é a hora de preencher tudo com bastante calma e só ir pro ar quando a página do seu projeto estiver tinindo.
br
br
|4 - Você avisará a gente que fez esse cadastro e nós autorizaremos o projeto a ficar disponível para que todos os seres humanos do mundo que tenham acesso à internet possam divulgá-lo e apoiá-lo (caso eles queiram, né?).
br
br
|Apesar de todo o atendimento ser junto ao Canal Asas, as dicas fundamentais do Catarse permanecem, por isso:
ul
  li Aqui tem um #{link_to 'GUIA', 'https://docs.google.com/document/d/1IHkWiIqPzB9aAryoO-wUiHJUjgdLW7LrVcGn43mZ_Lk/edit'} de como estruturar melhor o seu projeto.
  li Aqui tem outro #{link_to 'GUIA', 'https://docs.google.com/document/d/169gO3htuy9NyZHdmtnJsOod3TwvImRLVzgRbU5VelKs/edit'} de como editar o seu projeto em RASCUNHO.
br
br
|Você tem o #{link_to 'link do rascunho do seu projeto', project_by_slug_url(project.permalink, subdomain: 'asas')} em mãos. Com isso, aproveite para compartilhá-lo com algumas pessoas, a fim de colher sugestões e melhorar a sua abordagem quando esse estiver no ar.
br
br
|Aproveite, também, para #{link_to 'conhecer alguns projetos que estão no ar', explore_url} e - se gostar de algum - apoiar. Essa é a melhor maneira de mostrar que acredita na cultura do financiamento coletivo no Brasil e fomentar o ecossistema que está se formando ao redor do #{Configuration[:company_name]}. E se apoiar um projeto, provavelmente receberá essa flor de volta - quando seu projeto estiver no ar.
br
br
|Uma informação importante: É obrigatório preencher as informações de cadastro, para isso, no canto superior direito do site, clique em: Minha conta > Meu Perfil > Preferências
br
br
|Se ficou com alguma dúvida, entre em contato conosco no: canalasas@catarse.me
br
br
|Um grande abraço,
br
br
|Equipe Asas
