- project = @notification.project
|Oi oi oi oi #{project.user.name},
br
|Antes de mais nada, super parabéns pelo projeto bem-sucedido! =D
br
br
|Reunimos aqui algumas informações importantíssimas para quem teve seu projeto financiado com sucesso aqui no Catarse. São 5 coisinhas, ó:
br
br
|1 - Você já <strong>verificou sua conta lá no MoiP</strong>? Sem ela verificada, você só vai conseguir sacar R$500 por mês. Aqui tem o passo-a-passo de como fazer essa verificação. Se tiver qualquer dificuldade, entre em contato com a gente no nosso Suporte: #{link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'}
br
br
|2 - Você poderá baixar sua <strong>planilha com detalhes dos apoiadores (nome, recompensa, endereço, etc.)</strong> a qualquer momento na ABA de Relatório na página do seu projeto.
br
br
|3 - Além disso, vamos precisar de algumas <strong>informações para emitirmos a Nota Fiscal</strong> referente ao serviço do Catarse, ok? Pra isso, preciso que você preencha seus dados no seu #{link_to 'perfil do Catarse', user_url(project.user)}
br
br
|4 - Iremos emitir a Nota Fiscal para vocês até o último dia útil do mês que encerrou a captação do projeto no #{Configuration[:company_name]}, caso o seu projeto tenha encerrado a captação até o dia 24 do mês, se não, emitiremos ela no mês posterior, ok?
br
br
|5 - Para acabar, aqui vai um dos bens mais importantes da sua campanha: o #{link_to 'Guia Pós-Projeto', 'https://docs.google.com/a/catarse.me/document/d/1g6IY1T8xl4wc24MnN2gL0-AD1esfmJb_kXXxRY_jJ_4/edit'}. Recheamos ele com dicas para você lidar com as recompensas e para manter por perto a comunidade de pessoas que você criou com o seu projeto. 
br
br
|Qualquer outra dúvida, por favor, entre em contato com a gente através do nosso Suporte: #{link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'}
br
br
|Grande abraço,
br
br
|Equipe do #{Configuration[:company_name]}
