- user = @notification.user
| Olá #{user.name},
br
br
|Obrigado por enviar sua ideia para o #{Configuration[:company_name]} o/
br
br
|O #{Configuration[:company_name]} tem foco em projetos finitos (começo, meio e fim bem delimitados) e criativos, ou seja, que envolvam criação/produção de um produto/serviço criativos (uma peça, uma exposição, um documentário, uma oficina, uma manifestação, uma intervenção...).Além disso,  o resultado, ou seja, o projeto realizado, deve servir para recompensar não só apoidores que estão interessados em ter acesso a esses produtos/serviços criativos e por isso colaboraram, mas também o público em geral. Prezamos por iniciativas que ofereçam retorno a comunidade. Acreditamos que tudo que construimos é fruto de nosso relacionamento com outras pessoas, é social, e por tanto deve ser acessado livremente por todos!
br
br
|Dessa forma, acreditamos que você precisa entender um pouquinho melhor como funciona o financiamento coletivo e o formato dos projetos na nossa plataforma. Por isso, dê uma olhada no nosso #{link_to 'Guia Completo', "#{Configuration[:base_url]}/guia_realizadores.pdf"} e em #{link_to 'outros projetos', explore_url} do site a fim de repensar sua proposta.
br
br
|Assim que aprimorar o seu projeto, você poderá reenviá-lo através #{link_to 'deste formulário', new_project_url}.
br
br
|Entendemos que o seu projeto não se enquadra, da maneira como está descrito, no nosso foco atual. Você pode entender um pouco mais detalhadamente sobre como pensamos, #{link_to 'entrando aqui', guidelines_url}.
br
br
|Se depois de ler o links você acreditar que o seu projeto está de acordo acordo com os nossos critérios de seleção você pode enviar um e-mail para #{mail_to Configuration[:email_projects]}, sob o título de Revisão, explicando seu ponto de vista em um breve parágrafo.
br
br
|Ou então, se preferir, talvez outras plataformas possam recebê-lo. Vale a pena conhecer esta lista de plataforma de financiamento coletivo, #{link_to 'clique aqui', 'https://docs.google.com/document/d/1neIcX_GIkIT_0CzLK3ewx3EAb20GEOHJaIM98W5Z2pk/edit'}.
br
br
|Obrigado por entrar em contato conosco e fique de olho em nossas novidades através do #{link_to 'Facebook', Configuration[:facebook_url]}, #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" } e #{link_to 'blog', Configuration[:blog_url]}. E claro, não deixe de conhecer os projetos que estão no ar: #{link_to 'EXPLORE', explore_url}
br
br
br
|Grande abraço e boa sorte,
br
br
|Equipe #{Configuration[:company_name]}
