- user = @notification.user
- project = @notification.project
|Olá, #{user.name}!
br
br
| Por favor, <strong>inclua na sua lista de contatos os e-mails: #{mail_to ::Configuration[:email_projects]} e #{mail_to: ::Configuration[:email_contact] } </strong> 
| assim não vai acontecer das nossas mensagens caírem na sua caixa de spam ;)
br/
br/
|Você acabou de criar seu rascunho (essa palavra tem que ser llink para a página do projeto em rascunho) no #{::Configuration[:company_name]}.
br
br
|Essa é a hora de preencher tudo com bastante calma, já que pode ficar o tempo que quiser montando a página do seu projeto antes de enviá-lo à curadoria.
br/
br/
|As dicas fundamentais do Catarse para estruturar o seu projeto podem ser encontradas em diversos artigos na nossa Base de Conhecimento, leia todos com bastante atenção: 
br/
= link_to 'O Básico do Catarse', 'http://suporte.catarse.me/knowledgebase/topics/25760-o-b%C3%A1sico-do-catarse', target: '__blank'
br/
= link_to 'Realizadores - primeiros passos (rascunho)', 'http://suporte.catarse.me/knowledgebase/topics/25764-realizadores-primeiros-passos-rascunho-', target: '__blank'
br/
br/
|Quando considerar que a sua página de projeto está pronta, basta clicar no botão “ENVIAR PARA CURADORIA” que entraremos em contato contigo.
br/
br/
|Confira: #{link_to 'Quais são todos os passos que envolvem uma campanha no Catarse?', 'http://suporte.catarse.me/knowledgebase/articles/160683-quais-s%C3%A3o-todos-os-passos-que-envolvem-uma-campanh', target: '__blank'}
br/
br/
|Abraço,
br/
= ::Configuration[:company_name]
