- project = @notification.project
|Olá, #{project.user.display_name},
br
br
|Infelizmente o seu projeto não alcançou a meta estipulada por você no #{Configuration[:company_name]}.
br
br
|Todos os apoiadores receberam um email com instruções sobre como utilizar os créditos que foram gerados pelo fato do projeto não ter captado 100% da grana OU sobre como pedir para reembolsar o valor apoiado.
br
br
|De qualquer forma, para caso algum deles entre em contato direto contigo, há duas possibilidades de um reembolso ser feito:
br
|1) Se o apoio foi feito através de cartão de crédito ou Paypal, assim que ele solicitar o estorno, o reembolso será feito diretamente para a próxima ou subsequente fatura do cartão de crédito que foi feito o apoio;
br
|2) Se o apoio foi feito através de transferência bancária ou boleto bancário, ele terá que passar por um processo de abrir uma conta no MoIP, enviar o login MoIP dele pra gente e a partir daí realizaremos o reembolso.
br
br
|Apesar de uma ou outra etapa desse processo não ser a das mais emocionantes do mundo, é importante ressaltar que o #{Configuration[:company_name]} não quer ficar com o dinheiro de quem quer o reembolso e prezamos muito por devolver os recursos para os apoiadores que acreditaram no seu projeto.
br
br
|Outra coisinha importante, se o seu projeto atingiu pelo menos 30% da meta, você pode tentar uma segunda chance. As regras para isso estão #{link_to 'aqui', 'http://suporte.catarse.me/knowledgebase/articles/161109-segunda-chance'} e caso seja do seu interesse, envie um email para #{mail_to Configuration[:email_projects]} com o assunto “Quero minha segunda chance” que a nossa equipe de atendimento ficará muito feliz em conversar contigo :)
br
br
|Bem, se o seu projeto não atingiu 30% ou você não tem interesse pela 2ª chance, nós agradecemos imensamente por você ter escolhido o #{Configuration[:company_name]} como plataforma e esperamos que em iniciativas futuras você lembre da gente.
br
br
|Última coisinha, pode acreditar! Nós sabemos que o nosso serviço não é tudo de mais perfeito do mundo, mas a gente se esforça diariamente pra melhorá-lo. Uma das melhores formas de fazer isso é com o feedback e auxílio de quem teve experiências com a plataforma, por isso, seria fabuloso se vocês respondessem essas duas perguntinhas abaixo pra gente no email #{mail_to Configuration[:email_contact]}:
br
br
|1. Quais os 2 piores problemas que você enfrentou neste processo? (Pode ser algo diretamente relacionado com o #{Configuration[:company_name]} ou talvez em relação a dificuldades na captação ou comunicação do projeto enquanto ele estava em campanha, entre outros).
br
br
|2. O que você mais sentiu falta na plataforma do #{Configuration[:company_name]}?
br
br
|Muito muito muito obrigado e te esperando numa próxima.
br
br
|Um abração,
br
br
|Equipe do #{Configuration[:company_name]}
