- project = @notification.project
|Hi, #{project.user.display_name},
br
br
|Unfortunately, your project did not reach the goal set by you on #{Configuration[:company_name]}.
br
br
|All backers received an email with instructions on how to use their credits on other projects or how to get a refund.
br
br
|In any case, if any backer contact you directly, there are two possible scenarios for a refund:
br
|1) If the pledge was made using a credit card or through Paypal, when they ask for a refund, it will automatically appear on the next credit card bill that was used to make the pledge;
br
|2) If the pledge was made using bank transfer or a bank slip, the backer will have to create a MoiP account and send their login to us so we can make the refund.
br
br
|Even though this might not be the most exciting thing in the world, it's very important to understand that #{Configuration[:company_name]} does not wish to keep the money of those who want to be refunded.
br
br
|Another important thing, if your project reached at least 30% of its goal, you will have a second chance. You can read the rules  #{link_to 'here', 'http://blog.catarse.me/projetos-encerrados-tero-uma-segunda-chance/'} and if you're interested, send an email to #{mail_to Configuration[:email_projects]} with the subject “Quero minha segunda chance”. Our team will be glad to speak with you :)
br
br
|Well, if your project did not reach 30% or you do not wish to have a second chance, we thank you for choosing #{Configuration[:company_name]} as your platform and hope that you remember us for any future projects.
br
br
|One last thing, promise! We know our service is not perfect, but we are working daily to improve it. One of the best ways to do this is by getting feedback from those who have experience with our platform, so, it would be great if you could answer these 2 questions to us on #{mail_to Configuration[:email_contact]}:
br
br
|1. What where the 2 worst difficulties you had in this process? (directly with #{Configuration[:company_name]} or with raising funds and project promotion, etc).
br
br
|2. What did you miss the most on #{Configuration[:company_name]}?
br
br
|Thank you very much! We are looking forward to see you again.
br
br
|A big hug,
br
br
|#{Configuration[:company_name]} Team
