- project = @notification.project
|Olá, #{project.user.display_name}.
br
br
|Seu projeto acabou de entrar no ar e já está apto a começar a receber os apoios, agora é a hora!
br
br
|#{link_to(project.name, "#{I18n.t('site.base_url')}/projects/#{project.to_param}")}
br
br
|Vamos que vamos! Agora é começar a fazer a barrinha verde subir :D
br
br
|#{link_to('Aqui','https://docs.google.com/document/d/1Uwg8aRj9LyOE-MU1HOL02HxsVYNXyZcR11dbLRE8Y3c/edit')} temos algumas dicas para promover o projeto. O documento é aberto, então sinta-se a vontade para incluir novas observações =)
br
br
'Qualquer dúvida referente às
strong transações
|, seja durante a captação do projeto, seja sobre transferência dos valores que foram captados ou seja sobre reembolsos (tomara que não!), envie um email #{mail_to 'financeiro@catarse.me'}
br
br
'Outras dúvidas, como a
strong edição 
|dos itens do seu projeto, envie um email para #{mail_to 'projetos@catarse.me'}
br
br
'Para envio de materiais de divulgação em nossas mídias sociais, no caso Facebook e Twitter, envie email para #{mail_to 'comunicacao@catarse.me'}. Lá você pode bater uma bola sobre estratégias de comunicação com nossa equipe e receber sugestões sobre como agir na sua campanha. Use com
strong moderação
|! Lembre-se que a responsabilidade de levar a campanha e divulgar ainda é sua, pois é da sua rede que virão os principais resultados da campanha e este auxílio deve ser usado apenas como apoio. ;)
br
br
|Um abração e seja bem-vindo o/
br
br
|Equipe do Catarse
