- project = @notification.project
|Oi oi oi oi #{project.user.name},
br
|Antes de mais nada, super parabéns pelo projeto bem-sucedido! =D
br
br
|Reunimos aqui algumas informações importantíssimas para quem teve seu projeto financiado com sucesso aqui no Catarse. São 4 coisinhas, ó:
br
br
|1 - Você poderá baixar sua <strong>planilha com detalhes dos apoiadores (nome, recompensa, endereço, etc.)</strong> a qualquer momento na <strong>ABA de Relatórios</strong> na página do seu projeto.
br
br
|2 - Além disso, vamos precisar de algumas <strong>informações para emitirmos a Nota Fiscal</strong> referente ao serviço do #{Configuration[:company_name]}. A gente irá utilizar os dados preenchidos no seu perfil no #{Configuration[:company_name]}. Atente-se, então, para que os dados que estejam lá sejam aqueles para os quais você gostariam que a Nota Fiscal seja emitida (ou seja, <strong>se for para Pessoa Jurídica, precisaremos dos dados da sua organização no seu perfil</strong>).
br
br
|3 - Iremos emitir a Nota Fiscal para vocês até o último dia útil do mês que encerrou a captação do projeto no #{Configuration[:company_name]}, caso o seu projeto tenha encerrado a captação até o dia 24 do mês, se não, emitiremos ela no mês posterior, ok?
br
br
|4 - Para acabar, aqui vai um dos bens mais importantes da sua campanha: o #{link_to 'Guia Pós-Projeto', 'https://docs.google.com/a/catarse.me/document/d/1g6IY1T8xl4wc24MnN2gL0-AD1esfmJb_kXXxRY_jJ_4/edit'}. Recheamos ele com dicas para você lidar com as recompensas, manter por perto a comunidade de pessoas que você criou com o seu projeto e divulgar sua ação ou evento com a ajuda de parceiros como o Catraca Livre.
br
br
|Qualquer outra dúvida, por favor, entre em contato com a gente através do nosso Suporte:
br
= link_to 'http://suporte.catarse.me/', 'http://suporte.catarse.me/'
br
br
|Grande abraço,
br
br
|Equipe do #{Configuration[:company_name]}
