- @user = @notification.user
|Olá, #{@user.name}!

|Como você se cadastrou no Catarse via facebook, estamos te enviando uma senha temporária para que possa entrar também com o seu email.

|O login poderá ser feito utilizando as seguintes informações:

|Email: #{@user.email}
|Senha temporária: #{@notification.mail_params[:password]}

|Só lembrando que você pode continuar entrando no Catarse utilizando o botão do facebook, ok?

|Para redefinir essa senha temporária, clique aqui.

|Abraços,
