- @user = @notification.user
|Hi, #{@user.name}!
br
br
|As you registered for Catarse via facebook, we are sending you a temporary password so you can also login with your email.
br
br
|The login can be done using the following information:
br
br
|Email: #{@user.email}
br
|Temporary Password: #{@notification.mail_params[:password]}
br
br
|Just remember that you can continue logging in Catarse using the facebook button, ok?
br
br
|To reset this temporary password, click #{link_to('here', user_url(@user, anchor: 'settings'))}.
br
br
|Best,
br
br
|Catarse
