- @user = @notification.user
|Olá, #{@user.name}!
br
br
|Como você se cadastrou no Catarse via facebook, estamos te enviando uma senha temporária para que possa entrar também com o seu email.
br
br
|O login poderá ser feito utilizando as seguintes informações:
br
br
|Email: #{@user.email}
br
|Senha temporária: #{@notification.mail_params[:password]}
br
br
|Só lembrando que você pode continuar entrando no Catarse utilizando o botão do facebook, ok?
br
br
|Para redefinir essa senha temporária, clique #{link_to('aqui', user_url(@user, anchor:'settings'))}.
br
br
|Abraços,
