| Olá
- if @resource.name
  | , #{@resource.name}!
br
br
| Esqueceu sua senha? Sem problemas! Redefina clicando aqui em 
= link_to('definir nova senha', edit_password_url(@resource, reset_password_token: @resource.reset_password_token))
br
| Se algum problema acontecer, entre em 
= link_to 'contato', "http://suporte.catarse.me/knowledgebase", target: '__blank'
| &nbsp;conosco.
br
br
| Abraços,
br
= Configuration[:company_name]
