| Hi
- if @resource.name
  | , #{@resource.name}!
br
br
| Did you forget your password? No worries. You can reset it clicking on 
= link_to('set your password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token))
br
| If you run into any other problems, drop us a line 
= link_to 'here', "http://suporte.catarse.me/", target: '__blank'
br
br
| Best,
br
= CatarseSettings[:company_name]
