$ninesixty-columns: 16

@mixin default_grid
  +grid-container
  +grid-system(16)

@import fonts
@import colors
@import typography
@import channels
@import blog
@import projects
@import flash
@import overlay
@import login
@import embed_modal


.clearfix
  clear: both

body
  font-size: 62.5%
  background: url("/images/redesign/body-background.png") left top repeat

.logo
  width: 187px
  height: 45px
  background: url("/images/redesign/logo.png") left top no-repeat

form.search_input
  +border-radius(8px)
  width:  278px
  height: 28px
  background-color: white
  border: 1px $minimal_gryn solid
  input[type="text"]
    width: 240px
    padding: 4px 5px 3px 5px
    border: none
    background: white
    &:focus
      outline: 0

  input[type="submit"]
    margin-top: 2px
    width: 20px
    height: 24px
    background: url("/images/redesign/search_button.png") left top no-repeat
    text-indent: -9999em
    border: none

.section_header
  background-color: $green
  +border-radius(6px)

.reference_link
  +clearfix
  +grid(16)

  .sliced_link
    +border-radius(5px)
    +box-shadow(#52A0FF 1px 1px 1px inset)
    font-family: Lato-Regular
    font-size: 1.6em
    display: block
    color: white
    padding: 10px 15px
    background-color: $blue
    margin-top: 40px
    margin-bottom: 40px
    border: 1px $blue solid
    +transition(all, 0.4s)
    &:hover
      +box-shadow($grafiti 0 0 3px, #52A0FF 1px 1px 1px inset)
    &:active
      +box-shadow(#2C5689 0 0 10px inset)



@-webkit-keyframes pulse
  0%
    +box-shadow(rgba(0,132,185,.2), 0px, 0px, 12px)
  50%
    +box-shadow(rgba(0,132,185,.9), 0px, 0px, 12px)
  100%
    +box-shadow(rgba(0,132,185,.2), 0px, 0px, 12px)

#locales
  +opacity(0.6)
  position: fixed
  right: -32px
  top: 50%
  margin-top: -94px
  z-index: 450
  background-color: #333
  background-color: rgba(0,0,0,0.8)
  +border-top-left-radius(6px)
  +border-bottom-left-radius(6px)
  padding: 12px
  padding-bottom: 4px
  +transition(all,0.3s)
  &:hover
    right: 0
    +opacity(1)
  &.notify
    right: 0
    +opacity(1)
    -webkit-animation: pulse 1.5s infinite ease-in-out
  img
    width: 32px
    +transition(all,0.3s)
    &:hover
      +scale(1.1)

#loading
  width: 100%
  text-align: center
  img
    display: none
    margin: 16px

.clickable:hover
  border: black 1px solid !important
  cursor: pointer

.project_admin_field
  font-size:  1.2em
  font-family:  Lato-Regular

.on_the_spot_editing
  background: url("/images/pencil_16.png") left top no-repeat
  padding-left: 20px
  min-height: 30px
  font-size:  1.2em
  font-family:  Lato-Regular
  // &:hover
  //   background-color: rgba(white, 0.1)
.on_the_spot_mouseover
  background-color: #c8dcc8
  background-color: rgba(0, 150, 0, 0.2)