#announcement
  = image_tag 'icon_alertheader.png'
  p= "Atualize seu e-mail, já! Nosso sistema de login está mudando, #{link_to 'Clique aqui e saiba mais', 'http://blog.catarse.me/mudanca-no-sistema-de-login/', target: '_blank'}.".html_safe
  .clearfix
