= link_to "http://www.facebook.com/sharer/sharer.php?u=#{url}&title=#{title}", class: 'btn btn-medium btn-fb' do
  = image_tag 'catarse_bootstrap/facebook-xxl.png', class: 'icon-share-mobile'
  = t('projects.show.share')
