.facebook
  .fb-like data-href=(defined?(href) ? href : "#{::Configuration[:facebook_url]}") data-send="false" data-colorscheme=(defined?(colorscheme) ? colorscheme : "light") data-width="#{defined?(width) ? width : '260'}" data-show-faces="false"
