#fb-root
javascript:
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{Configuration['facebook_app_id']}', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/#{t('facebook_locale')}/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
