javascript:
	(function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:1526, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-1526.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c); 
    })(window,document);
