javascript:
  (function(w,d) {
    w.hj = w.hj || function() { (w.hj.q=w.hj.q||[]).push(arguments); };
    w._hjSettings = { hjid: 1526 };
    var s = d.createElement('script');
    s.src = '//insights.hotjar.com/static/client/insights.js';
    d.getElementsByTagName('head')[0].appendChild(s);
  }(window,document));
