- if current_user
  javascript:
    window.intercomSettings = {
      name: "#{current_user.full_name}",
      email: "#{current_user.email}",
      has_credits: "#{current_user.credits > 0}",
      refund_requests_pending: "#{current_user.contributions.where(state: 'requested_refund').count}",
      contributions_to_unsuccessful_projects: #{current_user.failed_contributed_projects.count},
      last_unsuccessful_project: #{current_user.failed_contributed_projects.last.expires_at.to_i rescue "null"},
      created_at: #{current_user.created_at.to_i},
      app_id: "c7t08ha7"
    };
  javascript:
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
