javascript:
 var _mfq = _mfq || [];
 (function() {
     var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
     mf.src = "//cdn.mouseflow.com/projects/8531502a-6dc0-49e7-a505-f68a72ed395c.js";
     document.getElementsByTagName("head")[0].appendChild(mf);
 })();
