- if current_user
  .uservoice_sso data-token="#{display_uservoice_sso}"
javascript:
  (function(){
    var uv=document.createElement('script');
    uv.type='text/javascript';
    uv.async=true;
    uv.src='//widget.uservoice.com/#{::Configuration[:uservoice_key]}.js';
    var s=document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(uv,s)
  })()

  UserVoice = window.UserVoice || [];

  if($('.uservoice_sso').length > 0) {
    UserVoice.push(['setSSO', $('.uservoice_sso').data('token')]);
  }

  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'full',
    primary_color: '#666666',
    link_color: '#e85396',
    default_mode: 'support',
    forum_id: 103171,
    support_tab_name: 'Contato',
    feedback_tab_name: 'Sugerir uma ideia',
    tab_label: 'Feedback & Support',
    tab_color: '#333333',
    tab_position: 'bottom-right',
    tab_inverted: false
  }]);
