link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.21.5/dist/tagify.css" integrity="sha256-JQCBuvZzuXrKFdHRTVW23P/DqnFsfvbI3kraGJhPyNA=" crossorigin="anonymous"
script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.21.5/dist/tagify.min.js" integrity="sha256-6QmUlbXKkm+RVqvqtIzhhDQ3cqRkuREeUhNJDnL2ujM=" crossorigin="anonymous"

css:
  .tags-look .tagify__dropdown__item{
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #9c73ed;
    margin: .2em;
    font-size: .85em;
    color: #f8f9fa;
    transition: 0s;
  }

  .tags-look .tagify__dropdown__item--active{
    color: black;
  }

  .tags-look .tagify__dropdown__item:hover{
    background: lightyellow;
    border-color: gold;
  }
